force-app/main/default/flows/Auto_Populate_the_External_ID_on_Legacy_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>If_external_id_is_Empty</name>
        <label>If external id is Empty</label>
        <locationX>649</locationX>
        <locationY>267</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_id_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_the_recently_inserted_order.external_id__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Record_id</targetReference>
            </connector>
            <label>External id is empty</label>
        </rules>
    </decisions>
    <interviewLabel>Auto Populate the External ID on Legacy Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Populate the External ID on Legacy Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_the_recently_inserted_order</name>
        <label>Getting the recently inserted order</label>
        <locationX>433</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_external_id_is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_id</name>
        <label>Update Record id</label>
        <locationX>693</locationX>
        <locationY>434</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_the_recently_inserted_order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>external_id__c</field>
            <value>
                <elementReference>Getting_the_recently_inserted_order.Id</elementReference>
            </value>
        </inputAssignments>
        <object>order__c</object>
    </recordUpdates>
    <start>
        <locationX>127</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Getting_the_recently_inserted_order</targetReference>
        </connector>
        <object>order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
