force-app/main/default/flows/AutoLaunchDepDateRollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Hold</name>
        <label>Add Hold</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalHold</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_In_Progress</name>
        <label>Add In Progress</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalInProgress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Secured</name>
        <label>Add Secured</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalSecured</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Solo_Hold</name>
        <label>Add Solo Hold</label>
        <locationX>1056</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalSoloHold</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Hold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Hold</name>
        <label>Copy 1 of Add Hold</label>
        <locationX>1056</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalHold</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_In_Progress</name>
        <label>Copy 1 of Add In Progress</label>
        <locationX>1584</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalInProgress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Secured</name>
        <label>Copy 1 of Add Secured</label>
        <locationX>1320</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalSecured</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Solo_Hold</name>
        <label>Copy 1 of Add Solo Hold</label>
        <locationX>1320</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalSoloSecured</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Secured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_Solo_Hold</name>
        <label>Copy 2 of Add Solo Hold</label>
        <locationX>1584</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalSoloInProgress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_In_Progress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Order_Nights_Status</name>
        <label>Order Nights Status</label>
        <locationX>1056</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>OnOrderLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Hold</targetReference>
            </connector>
            <label>Total Hold</label>
        </rules>
        <rules>
            <name>Total_Secured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Secured</targetReference>
            </connector>
            <label>Total Secured</label>
        </rules>
        <rules>
            <name>Total_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_In_Progress</targetReference>
            </connector>
            <label>Total In Progress</label>
        </rules>
        <rules>
            <name>Total_Solo_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Solo_Hold</targetReference>
            </connector>
            <label>Total Solo Hold</label>
        </rules>
        <rules>
            <name>Total_Solo_Secured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_Solo_Hold</targetReference>
            </connector>
            <label>Total Solo Secured</label>
        </rules>
        <rules>
            <name>Total_Solo_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Add_Solo_Hold</targetReference>
            </connector>
            <label>Total Solo In Progress</label>
        </rules>
    </decisions>
    <interviewLabel>AutoLaunchDepDateRollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoLaunchDepDateRollup</label>
    <loops>
        <name>OnOrderLine</name>
        <label>OnOrderLine</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Order_Nights</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Nights_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_DepartureDate_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Nights</name>
        <label>Get Order Nights</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>departures_dates__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartureDateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Night_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_DepartureDate_Record</name>
        <label>Update DepartureDate Record</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartureDateId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Hold_ON__c</field>
            <value>
                <elementReference>TotalHold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_In_Progress_ON__c</field>
            <value>
                <elementReference>TotalInProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Secured_ON__c</field>
            <value>
                <elementReference>TotalSecured</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Solo_Hold_ON__c</field>
            <value>
                <elementReference>TotalSoloHold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Solo_In_Progress_ON__c</field>
            <value>
                <elementReference>TotalSoloInProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Solo_Secured_ON__c</field>
            <value>
                <elementReference>TotalSoloSecured</elementReference>
            </value>
        </inputAssignments>
        <object>departures_dates__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Nights</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DepartureDateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalHold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSecured</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSoloHold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSoloInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSoloSecured</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
