force-app/main/default/flows/Booking_Hotel_On_Create_Update_Create_Order_Com_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>DIFFERENT_ORDER_COMMS</name>
        <label>DIFFERENT ORDER COMMS</label>
        <locationX>709</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_ORDER_IS_No_Refund_CANCELLED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CanRef_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Room_Cancellation_Amont__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CanRef_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Comms_for_No_Refund_Cancellation</targetReference>
            </connector>
            <label>Is it  No Refund</label>
        </rules>
        <rules>
            <name>recoads_is_confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Comms_for_Booking_Confirmation</targetReference>
            </connector>
            <label>Is Booking confirmed</label>
        </rules>
        <rules>
            <name>If_Order_has_partial_refund_cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalOutstanding</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalPaymentPlusCoupon</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CanRef_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial Refund Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CanRef_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Modification_in_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Modification_in_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Modification_in_Progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Modification_in_Progress__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Comms_for_Partial_Refund_Cancellation</targetReference>
            </connector>
            <label>Is it partial refund</label>
        </rules>
        <rules>
            <name>Is_Refund_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CanRef_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CanRef_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CanRef_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Refund Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Comms_for_Cancellation_Refund_Processed</targetReference>
            </connector>
            <label>Is Refund Processed</label>
        </rules>
        <rules>
            <name>Is_it_Full_Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>totalOutstanding</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalPaymentPlusCoupon</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Modification_in_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Modification_in_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Modification_in_Progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Modification_in_Progress__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Comms_for_Full_Refund_Cancellation</targetReference>
            </connector>
            <label>Is it Full Refund</label>
        </rules>
        <rules>
            <name>Is_Refund_Processed_Partially</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CanRef_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CanRef_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CanRef_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial Refund Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Comms_for_partial_cancellation_refund_processed</targetReference>
            </connector>
            <label>Is Refund Processed Partially</label>
        </rules>
    </decisions>
    <formulas>
        <name>totalOutstanding</name>
        <dataType>Currency</dataType>
        <expression>-{!$Record.Total_Amount_Outstanding__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalPaymentPlusCoupon</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ordexp_Total_Payment_Received__c}+{!$Record.ordexp_Coupon_Payment_Received__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Booking Hotel - On Create/Update - Create Order Com Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Hotel - On Create/Update - Create Order Com Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Comms_for_Booking_Confirmation</name>
        <label>Create Order Comms for Booking Confirmation</label>
        <locationX>314</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Affiliate_Booking_Charge__c</field>
            <value>
                <elementReference>$Record.Affiliate_Booking_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Surcharge__c</field>
            <value>
                <elementReference>$Record.Booking_Surcharges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_date__c</field>
            <value>
                <elementReference>$Record.Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_out_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_date__c</field>
            <value>
                <elementReference>$Record.Check_Out_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_in_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Know_before_you_go__c</field>
            <value>
                <elementReference>$Record.Know_before_you_go__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Tax_ISO_Code__c</field>
            <value>
                <elementReference>$Record.Local_Currency_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_AUD__c</field>
            <value>
                <elementReference>$Record.Local_tax_in_AUD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_local_currency__c</field>
            <value>
                <elementReference>$Record.Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Surcharge__c</field>
            <value>
                <elementReference>$Record.Merchant_Surcharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Night__c</field>
            <value>
                <elementReference>$Record.Rooms_and_Nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Nights__c</field>
            <value>
                <elementReference>$Record.Number_of_Nights_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Adults__c</field>
            <value>
                <elementReference>$Record.Number_of_Adults__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Bathroom__c</field>
            <value>
                <elementReference>$Record.Number_of_Bathroom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Beds__c</field>
            <value>
                <elementReference>$Record.Number_of_Beds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Children__c</field>
            <value>
                <elementReference>$Record.Number_of_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Rooms__c</field>
            <value>
                <elementReference>$Record.No_of_Rooms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Deal_Main_Image__c</field>
            <value>
                <elementReference>$Record.Hotel_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Full_Address__c</field>
            <value>
                <elementReference>$Record.Property_Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Name__c</field>
            <value>
                <elementReference>$Record.Property_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Property_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchaser_Email_Address__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Max_Occupancy__c</field>
            <value>
                <elementReference>$Record.Room_Max_Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Check_In_Instructions__c</field>
            <value>
                <elementReference>$Record.Special_Check_In_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtotal__c</field>
            <value>
                <elementReference>$Record.Subtotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.TAD_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Fees__c</field>
            <value>
                <elementReference>$Record.Total_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wifi_Available__c</field>
            <value>
                <elementReference>$Record.Has_Wifi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Coupon_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Coupon_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_QFF_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_QFF_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>Partner Booking Confirmation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>$Record.Account_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Comms_for_Cancellation_Refund_Processed</name>
        <label>Create Order Comms for Cancellation Refund Processed</label>
        <locationX>842</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Affiliate_Booking_Charge__c</field>
            <value>
                <elementReference>$Record.Affiliate_Booking_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Surcharge__c</field>
            <value>
                <elementReference>$Record.Booking_Surcharges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_amount__c</field>
            <value>
                <elementReference>TotalPaymentPlusCoupon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_date__c</field>
            <value>
                <elementReference>$Record.Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_out_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_date__c</field>
            <value>
                <elementReference>$Record.Check_Out_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_in_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Know_before_you_go__c</field>
            <value>
                <elementReference>$Record.Know_before_you_go__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Tax_ISO_Code__c</field>
            <value>
                <elementReference>$Record.Local_Currency_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_AUD__c</field>
            <value>
                <elementReference>$Record.Local_tax_in_AUD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_local_currency__c</field>
            <value>
                <elementReference>$Record.Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Surcharge__c</field>
            <value>
                <elementReference>$Record.Merchant_Surcharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Night__c</field>
            <value>
                <elementReference>$Record.Rooms_and_Nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Nights__c</field>
            <value>
                <elementReference>$Record.Number_of_Nights_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Adults__c</field>
            <value>
                <elementReference>$Record.Number_of_Adults__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Bathroom__c</field>
            <value>
                <elementReference>$Record.Number_of_Bathroom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Beds__c</field>
            <value>
                <elementReference>$Record.Number_of_Beds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Children__c</field>
            <value>
                <elementReference>$Record.Number_of_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Rooms__c</field>
            <value>
                <elementReference>$Record.No_of_Rooms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Deal_Main_Image__c</field>
            <value>
                <elementReference>$Record.Hotel_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Full_Address__c</field>
            <value>
                <elementReference>$Record.Property_Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Name__c</field>
            <value>
                <elementReference>$Record.Property_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Property_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchaser_Email_Address__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Max_Occupancy__c</field>
            <value>
                <elementReference>$Record.Room_Max_Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Check_In_Instructions__c</field>
            <value>
                <elementReference>$Record.Special_Check_In_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtotal__c</field>
            <value>
                <elementReference>TotalPaymentPlusCoupon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.TAD_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Fees__c</field>
            <value>
                <elementReference>$Record.Original_Tax_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wifi_Available__c</field>
            <value>
                <elementReference>$Record.Has_Wifi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Coupon_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Coupon_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_QFF_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_QFF_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>Refund Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>$Record.Account_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Comms_for_Full_Refund_Cancellation</name>
        <label>Create Order Comms for Full Refund Cancellation</label>
        <locationX>1106</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Affiliate_Booking_Charge__c</field>
            <value>
                <elementReference>$Record.Affiliate_Booking_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Surcharge__c</field>
            <value>
                <elementReference>$Record.Booking_Surcharges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_amount__c</field>
            <value>
                <elementReference>totalOutstanding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_date__c</field>
            <value>
                <elementReference>$Record.Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_out_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_date__c</field>
            <value>
                <elementReference>$Record.Check_Out_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_in_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Know_before_you_go__c</field>
            <value>
                <elementReference>$Record.Know_before_you_go__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Tax_ISO_Code__c</field>
            <value>
                <elementReference>$Record.Local_Currency_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_AUD__c</field>
            <value>
                <elementReference>$Record.Local_tax_in_AUD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_local_currency__c</field>
            <value>
                <elementReference>$Record.Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Surcharge__c</field>
            <value>
                <elementReference>$Record.Merchant_Surcharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Night__c</field>
            <value>
                <elementReference>$Record.Rooms_and_Nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Nights__c</field>
            <value>
                <elementReference>$Record.Number_of_Nights_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Adults__c</field>
            <value>
                <elementReference>$Record.Number_of_Adults__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Bathroom__c</field>
            <value>
                <elementReference>$Record.Number_of_Bathroom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Beds__c</field>
            <value>
                <elementReference>$Record.Number_of_Beds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Children__c</field>
            <value>
                <elementReference>$Record.Number_of_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Rooms__c</field>
            <value>
                <elementReference>$Record.No_of_Rooms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Deal_Main_Image__c</field>
            <value>
                <elementReference>$Record.Hotel_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Full_Address__c</field>
            <value>
                <elementReference>$Record.Property_Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Name__c</field>
            <value>
                <elementReference>$Record.Property_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Property_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchaser_Email_Address__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Max_Occupancy__c</field>
            <value>
                <elementReference>$Record.Room_Max_Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Check_In_Instructions__c</field>
            <value>
                <elementReference>$Record.Special_Check_In_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtotal__c</field>
            <value>
                <elementReference>TotalPaymentPlusCoupon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.TAD_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Fees__c</field>
            <value>
                <elementReference>$Record.Original_Tax_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wifi_Available__c</field>
            <value>
                <elementReference>$Record.Has_Wifi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Coupon_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Coupon_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_QFF_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_QFF_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>Full Refund Cancellation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>$Record.Account_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Comms_for_No_Refund_Cancellation</name>
        <label>Create Order Comms for No Refund Cancellation</label>
        <locationX>50</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Affiliate_Booking_Charge__c</field>
            <value>
                <elementReference>$Record.Affiliate_Booking_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Surcharge__c</field>
            <value>
                <elementReference>$Record.Booking_Surcharges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_amount__c</field>
            <value>
                <elementReference>$Record.Cancellation_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_date__c</field>
            <value>
                <elementReference>$Record.Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_out_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_date__c</field>
            <value>
                <elementReference>$Record.Check_Out_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_in_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Know_before_you_go__c</field>
            <value>
                <elementReference>$Record.Know_before_you_go__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Tax_ISO_Code__c</field>
            <value>
                <elementReference>$Record.Local_Currency_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_AUD__c</field>
            <value>
                <elementReference>$Record.Local_tax_in_AUD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_local_currency__c</field>
            <value>
                <elementReference>$Record.Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Surcharge__c</field>
            <value>
                <elementReference>$Record.Merchant_Surcharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Night__c</field>
            <value>
                <elementReference>$Record.Rooms_and_Nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Nights__c</field>
            <value>
                <elementReference>$Record.Number_of_Nights_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Adults__c</field>
            <value>
                <elementReference>$Record.Number_of_Adults__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Bathroom__c</field>
            <value>
                <elementReference>$Record.Number_of_Bathroom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Beds__c</field>
            <value>
                <elementReference>$Record.Number_of_Beds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Children__c</field>
            <value>
                <elementReference>$Record.Number_of_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Rooms__c</field>
            <value>
                <elementReference>$Record.No_of_Rooms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Deal_Main_Image__c</field>
            <value>
                <elementReference>$Record.Hotel_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Full_Address__c</field>
            <value>
                <elementReference>$Record.Property_Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Name__c</field>
            <value>
                <elementReference>$Record.Property_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Property_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchaser_Email_Address__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Max_Occupancy__c</field>
            <value>
                <elementReference>$Record.Room_Max_Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Check_In_Instructions__c</field>
            <value>
                <elementReference>$Record.Special_Check_In_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtotal__c</field>
            <value>
                <elementReference>$Record.Subtotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.TAD_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Fees__c</field>
            <value>
                <elementReference>$Record.Total_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wifi_Available__c</field>
            <value>
                <elementReference>$Record.Has_Wifi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Coupon_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Coupon_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_QFF_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_QFF_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>No Refund Cancellation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>$Record.Account_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Comms_for_partial_cancellation_refund_processed</name>
        <label>Create Order Comms for partial cancellation refund processed</label>
        <locationX>737</locationX>
        <locationY>597</locationY>
        <inputAssignments>
            <field>Affiliate_Booking_Charge__c</field>
            <value>
                <elementReference>$Record.Affiliate_Booking_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Surcharge__c</field>
            <value>
                <elementReference>$Record.Booking_Surcharges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_amount__c</field>
            <value>
                <elementReference>$Record.Room_Cancellation_Amont__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_date__c</field>
            <value>
                <elementReference>$Record.Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_out_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_date__c</field>
            <value>
                <elementReference>$Record.Check_Out_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_in_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Know_before_you_go__c</field>
            <value>
                <elementReference>$Record.Know_before_you_go__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Tax_ISO_Code__c</field>
            <value>
                <elementReference>$Record.Local_Currency_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_AUD__c</field>
            <value>
                <elementReference>$Record.Local_tax_in_AUD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_local_currency__c</field>
            <value>
                <elementReference>$Record.Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Surcharge__c</field>
            <value>
                <elementReference>$Record.Merchant_Surcharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Night__c</field>
            <value>
                <elementReference>$Record.Rooms_and_Nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Nights__c</field>
            <value>
                <elementReference>$Record.Number_Of_Nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Adults__c</field>
            <value>
                <elementReference>$Record.Number_of_Adults__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Bathroom__c</field>
            <value>
                <elementReference>$Record.Number_of_Bathroom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Beds__c</field>
            <value>
                <elementReference>$Record.Number_of_Beds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Children__c</field>
            <value>
                <elementReference>$Record.Number_of_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Rooms__c</field>
            <value>
                <elementReference>$Record.No_of_Rooms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Deal_Main_Image__c</field>
            <value>
                <elementReference>$Record.Hotel_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Full_Address__c</field>
            <value>
                <elementReference>$Record.Property_Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Name__c</field>
            <value>
                <elementReference>$Record.Property_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Property_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchaser_Email_Address__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Max_Occupancy__c</field>
            <value>
                <elementReference>$Record.Room_Max_Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Check_In_Instructions__c</field>
            <value>
                <elementReference>$Record.Special_Check_In_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtotal__c</field>
            <value>
                <elementReference>TotalPaymentPlusCoupon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.TAD_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Fees__c</field>
            <value>
                <elementReference>$Record.Original_Tax_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wifi_Available__c</field>
            <value>
                <elementReference>$Record.Has_Wifi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Coupon_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Coupon_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_QFF_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_QFF_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>Refund Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>$Record.Account_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Comms_for_Partial_Refund_Cancellation</name>
        <label>Create Order Comms for Partial Refund Cancellation</label>
        <locationX>578</locationX>
        <locationY>478</locationY>
        <inputAssignments>
            <field>Affiliate_Booking_Charge__c</field>
            <value>
                <elementReference>$Record.Affiliate_Booking_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Surcharge__c</field>
            <value>
                <elementReference>$Record.Booking_Surcharges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_amount__c</field>
            <value>
                <elementReference>totalOutstanding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_In_date__c</field>
            <value>
                <elementReference>$Record.Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_out_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_date__c</field>
            <value>
                <elementReference>$Record.Check_Out_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Instruction__c</field>
            <value>
                <elementReference>$Record.Check_in_instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Know_before_you_go__c</field>
            <value>
                <elementReference>$Record.Know_before_you_go__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Tax_ISO_Code__c</field>
            <value>
                <elementReference>$Record.Local_Currency_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_AUD__c</field>
            <value>
                <elementReference>$Record.Local_tax_in_AUD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_tax_in_local_currency__c</field>
            <value>
                <elementReference>$Record.Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Surcharge__c</field>
            <value>
                <elementReference>$Record.Merchant_Surcharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Night__c</field>
            <value>
                <elementReference>$Record.Rooms_and_Nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Nights__c</field>
            <value>
                <elementReference>$Record.Number_of_Nights_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Adults__c</field>
            <value>
                <elementReference>$Record.Number_of_Adults__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Bathroom__c</field>
            <value>
                <elementReference>$Record.Number_of_Bathroom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Beds__c</field>
            <value>
                <elementReference>$Record.Number_of_Beds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Children__c</field>
            <value>
                <elementReference>$Record.Number_of_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Rooms__c</field>
            <value>
                <elementReference>$Record.No_of_Rooms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Deal_Main_Image__c</field>
            <value>
                <elementReference>$Record.Hotel_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Full_Address__c</field>
            <value>
                <elementReference>$Record.Property_Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Name__c</field>
            <value>
                <elementReference>$Record.Property_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Property_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchaser_Email_Address__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Max_Occupancy__c</field>
            <value>
                <elementReference>$Record.Room_Max_Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Check_In_Instructions__c</field>
            <value>
                <elementReference>$Record.Special_Check_In_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtotal__c</field>
            <value>
                <elementReference>$Record.Room_Cancellation_Amont__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.TAD_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Fees__c</field>
            <value>
                <elementReference>$Record.Original_Tax_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wifi_Available__c</field>
            <value>
                <elementReference>$Record.Has_Wifi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Coupon_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Coupon_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_Payment_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_Payment_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bh_Total_QFF_Received__c</field>
            <value>
                <elementReference>$Record.ordexp_Total_QFF_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>Partial Refund Cancellation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>$Record.Account_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>584</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>DIFFERENT_ORDER_COMMS</targetReference>
        </connector>
        <object>Booking_Hotel__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
