force-app/main/default/flows/Cancellation_Refund_On_Before_Insert_Update_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification_For_Cancellation_of_Coupon</name>
        <label>Email_Notification_For_Cancellation_of_Coupon</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Cancellation_Refund_POE__c.Email_Notification_For_Cancellation_of_Coupon</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Order_Comms_cancellationApprovalAgentNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Coupon_Or_Credit_Amount_Is_Zero_Check</name>
        <label>Coupon Or Credit Amount Is Zero Check ?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Zero</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Cancelled_and_Coupon_Approved</targetReference>
            </connector>
            <label>Not Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Cancelled_and_Coupon_Approved</name>
        <label>Order Cancelled and Coupon Approved</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Comms_cancellationApprovalAgentNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coupon_Approved</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved-Refund Not Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_tad_order__r.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved-Refund Not Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_For_Cancellation_of_Coupon</targetReference>
            </connector>
            <label>Coupon Approved</label>
        </rules>
    </decisions>
    <interviewLabel>Cancellation Refund On Before Insert Update Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancellation Refund On Before Insert Update Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Comms_cancellationApprovalAgentNotification</name>
        <label>Create Order Comms - cancellationApprovalAgentNotification</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.ordexp_tad_order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>cancellationApprovalAgentNotification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>departure_date__c</field>
            <value>
                <elementReference>$Record.ordexp_tad_order__r.ordexp_departure_date__r.date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.ordexp_tad_order__r.ordexp_email_purchaser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>$Record.ordexp_tad_order__r.Purchaser_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_full_name__c</field>
            <value>
                <elementReference>$Record.ordexp_tad_order__r.Purchaser_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_last_name__c</field>
            <value>
                <elementReference>$Record.ordexp_tad_order__r.Purchaser_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Coupon_Or_Credit_Amount_Is_Zero_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved-Refund Not Processed</stringValue>
            </value>
        </filters>
        <object>Cancellation_Refund_POE__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
