force-app/main/default/flows/Case_After_Insert_Update_Customer_Replied_to_Quote_Order_Comms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>is_It_Escalation</name>
        <label>is It Escalation</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Team_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsEscalated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Quote_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsEscalated</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsEscalated</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Agent_Team_Lead_Details</targetReference>
            </connector>
            <label>Team Lead</label>
        </rules>
        <rules>
            <name>Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Quote_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsEscalated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecursiveTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Agent_Details</targetReference>
            </connector>
            <label>Agent</label>
        </rules>
    </decisions>
    <formulas>
        <name>RecursiveTrigger</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNEW() &amp;&amp; OR( {!$Record.Is_Quote_Case__c} = true,{!$Record.Is_Quote_Case__c} = true &amp;&amp; {!$Record.IsEscalated} = true), true, 
IF(OR(
ISCHANGED({!$Record.Is_Quote_Case__c}) &amp;&amp; {!$Record.Is_Quote_Case__c} = true,
ISCHANGED({!$Record.IsEscalated}) &amp;&amp; {!$Record.IsEscalated} = true), true, false))</expression>
    </formulas>
    <interviewLabel>Case - After Insert/Update - Customer Replied to Quote Order Comms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - After Insert/Update - Customer Replied to Quote Order Comms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Comms_To_Agent</name>
        <label>Create Order Comms To Agent</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>CustomerRepliedToQuote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>get_Agent_Details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>get_Agent_Details.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_full_name__c</field>
            <value>
                <elementReference>get_Agent_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_last_name__c</field>
            <value>
                <elementReference>get_Agent_Details.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Comms_To_Team_Lead</name>
        <label>Create Order Comms To Team Lead</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Case_Agent_Name__c</field>
            <value>
                <elementReference>$Record.Case_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>CustomerRepliedToQuoteEscalation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>get_Agent_Team_Lead_Details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>get_Agent_Team_Lead_Details.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_full_name__c</field>
            <value>
                <elementReference>get_Agent_Team_Lead_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_last_name__c</field>
            <value>
                <elementReference>get_Agent_Team_Lead_Details.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Agent_Details</name>
        <label>get Agent Details</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_Comms_To_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Agent_Team_Lead_Details</name>
        <label>get Agent Team Lead Details</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_Comms_To_Team_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.TeamLead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_It_Escalation</targetReference>
        </connector>
        <filterLogic>1 OR (1 AND 2)</filterLogic>
        <filters>
            <field>Is_Quote_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsEscalated</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
