force-app/main/default/flows/Case_After_Creation_Quote_case_Assignment_for_Order_Ugrade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>OccuranceOfSpaces</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_SpaceOccuranceCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IfFalse</name>
        <label>IfFalse</label>
        <locationX>732</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Case_Subject_split</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SplitVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OccuranceOfSpaces</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OccuraceOfSpacevariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case_subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordSubstituteVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_SpaceOccuranceCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>true</name>
        <label>true</label>
        <locationX>468</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Case_Subject_split</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>case_subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_SpaceOccuranceCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Existing_Quote_order_comms</name>
        <label>Check for Existing Quote order comms</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_order_comms_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_order_comms_record_Quote_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_this_case_to_existing_working_agent</targetReference>
            </connector>
            <label>Quote order comms exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_occuranceOfSpaceVariable_0</name>
        <label>check for occuranceOfSpaceVariable &lt;=0</label>
        <locationX>600</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>IfFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if false</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OccuraceOfSpacevariable</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>true</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_Order</name>
        <label>check for Order</label>
        <locationX>380</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>order_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tad_Order_for_Quote_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_entitlement_record</targetReference>
            </connector>
            <label>order exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>OccuraceOfSpacevariable</name>
        <dataType>Number</dataType>
        <expression>(LEN( {!case_subject} ) -  LEN( SUBSTITUTE(      LOWER( {!case_subject}),&quot; &quot;,&quot;&quot;)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RecordSubstituteVariable</name>
        <dataType>String</dataType>
        <expression>RIGHT({!case_subject}, LEN({!case_subject})- FIND(&apos; &apos;, {!case_subject}) )</expression>
    </formulas>
    <formulas>
        <name>SplitVariable</name>
        <dataType>String</dataType>
        <expression>LEFT({!case_subject},  FIND(&apos; &apos;,  {!case_subject})  - 1 )</expression>
    </formulas>
    <formulas>
        <name>Tad_Orde_Name</name>
        <dataType>String</dataType>
        <expression>RIGHT( {!$Record.Subject} , 6)</expression>
    </formulas>
    <interviewLabel>Case-After Update-Quote case Assignment for Order Ugrade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case-After Creation-Quote case Assignment for Order Ugrade</label>
    <loops>
        <name>Loop_On_SpaceOccuranceCollection</name>
        <label>Loop On SpaceOccuranceCollection</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <collectionReference>OccuranceOfSpaces</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_occuranceOfSpaceVariable_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Tad_Order_for_Quote_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_entitlement_record</name>
        <label>get entitlement record</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_order_comms_record_Quote_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Support Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_order_comms_record_Quote_type</name>
        <label>Get Existing order comms record Quote type</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Entititlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>communication_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Quote Order Communications</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tad_Order_for_Quote_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tad_Order_for_Quote_Case</name>
        <label>Get Tad Order for Quote Case</label>
        <locationX>380</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>Case_Subject_split</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TAD_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_this_case_to_existing_working_agent</name>
        <label>Assign this case to existing working agent</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Tad_Order_for_Quote_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>is_quote_case_true</name>
        <label>is quote case true</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Quote_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Entititlement</name>
        <label>Update Case Entititlement</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Check_for_Existing_Quote_order_comms</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Tad_Order_for_Quote_Case.ordexp_account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Tad_Order_for_Quote_Case.ordexp_account__r.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>get_entitlement_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>Get_Tad_Order_for_Quote_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_quote_case_true</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Quote_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Your Tripadeal Quote</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>case_subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Subject</elementReference>
        </value>
    </variables>
    <variables>
        <name>Case_Subject_split</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OccuranceOfSpaces</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
