force-app/main/default/flows/Cash_Match_History_to_PIN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>cashentryID</name>
        <dataType>String</dataType>
        <expression>MID({!aaa.c2g__Document__c},11 ,15)</expression>
    </formulas>
    <interviewLabel>Cash Match History to PIN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash Match History to PIN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>aaa</name>
        <label>Retrieve Matching Document</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>aab_0</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>c2g__MatchingReference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.c2g__MatchingReference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__Document__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CSH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaCashMatchingHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>aab_0</name>
        <label>Update Invoice Cash Entry</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Document__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cash_Entry__c</field>
            <value>
                <elementReference>cashentryID</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoice__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>aaa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Document__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PIN</stringValue>
            </value>
        </filters>
        <object>c2g__codaCashMatchingHistory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
