force-app/main/default/flows/Clone_Cancellation_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <interviewLabel>Clone_Cancellation_Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone_Cancellation_Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cancellation_Policy_Record</name>
        <label>Get Cancellation Policy Record</label>
        <locationX>316</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Policy_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancellation_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Policy_Terms</name>
        <label>Get Related Policy Terms</label>
        <locationX>520</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Launch_subflow_to_clone_cancellation_policy_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cancellation_Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Cancellation_Policy_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_subflow_to_clone_cancellation_policy_record</name>
        <label>Launch subflow to clone cancellation policy record</label>
        <locationX>765</locationX>
        <locationY>228</locationY>
        <flowName>subflow_for_Cancellation_Policy_clone</flowName>
        <inputAssignments>
            <name>containcancellationpolicyrecordid</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCancellationPolicyRecord</name>
            <value>
                <elementReference>Get_Cancellation_Policy_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varpolicytermsrecordIds</name>
            <value>
                <elementReference>Get_Related_Policy_Terms</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
