force-app/main/default/flows/Convert_NZD_Coupons_to_AUD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_already_Used</name>
        <label>Check if already Used</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Convert_unused_coupon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Used</defaultConnectorLabel>
        <rules>
            <name>Partially_Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.aggregate_used__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reduce_Balance_to_used</targetReference>
            </connector>
            <label>Partially Used</label>
        </rules>
    </decisions>
    <formulas>
        <name>BalanceRemainingconverted</name>
        <dataType>Currency</dataType>
        <expression>{!$Record__Prior.balance_remaining__c}/1.115</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateNZD</name>
        <dataType>Currency</dataType>
        <expression>{!$Record__Prior.Discount__c}/1.115</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateNZDPartial</name>
        <dataType>Currency</dataType>
        <expression>{!$Record__Prior.balance_remaining__c}/1.115</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Convert NZD Coupons to AUD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert NZD Coupons to AUD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Balance</name>
        <label>Create New Balance</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Coupon_type__c</field>
            <value>
                <elementReference>$Record__Prior.Coupon_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record__Prior.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>CalculateNZDPartial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>$Record__Prior.Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_order_value__c</field>
            <value>
                <elementReference>$Record__Prior.Min_order_value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>$Record__Prior.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Enabled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Record__Prior.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_type__c</field>
            <value>
                <elementReference>$Record__Prior.Travel_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usage__c</field>
            <value>
                <elementReference>$Record__Prior.Usage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record__Prior.account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>currency_code__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type__c</field>
            <value>
                <elementReference>$Record__Prior.type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>usable_count__c</field>
            <value>
                <elementReference>$Record__Prior.usable_count__c</elementReference>
            </value>
        </inputAssignments>
        <object>coupon__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Convert_unused_coupon</name>
        <label>Convert unused coupon</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>CalculateNZD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>currency_code__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reduce_Balance_to_used</name>
        <label>Reduce Balance to used</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_New_Balance</targetReference>
        </connector>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>$Record__Prior.aggregate_used__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record__Prior.Name}-converted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>{!$Record__Prior.Name__c}-converted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_already_Used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>currency_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NZD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enabled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Convert_to_AUD__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Usage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Multi</stringValue>
            </value>
        </filters>
        <filters>
            <field>Convert_to_AUD__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>coupon__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
