force-app/main/default/flows/Create_DeleteInvoiceLineMapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>270</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>ilmcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleILMrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Order_Line_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_ilm_record</name>
        <label>new ilm record</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>SingleILMrecord.Payable_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.c2g__PurchaseInvoice__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleILMrecord.Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Order_Line_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleILMrecord.Payable_Invoice_Expense_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_ilm_collection_null</name>
        <label>if ilm collection null?</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ilmcollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice_Line_Mapping_Records</targetReference>
            </connector>
            <label>if not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>invoice_line_mapping_exists</name>
        <label>invoice line mapping exists</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_order_line_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_invoice_line_mapping_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Invoice_Line_Mapping_records</targetReference>
            </connector>
            <label>if exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>order_line_records_exists</name>
        <label>order line records exists?</label>
        <locationX>380</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_orderline_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_order_line_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Order_Line_records</targetReference>
            </connector>
            <label>if orderline exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_key_check</name>
        <label>Unique key check</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Order_Line_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unique_key_matches</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Order_Line_records.Unique_Key_for_DealDD_Mapping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Unique_Key_for_Mapping__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Order_Line_records.Unique_Key_for_Order_Mapping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Unique_Key_for_Mapping__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_ilm_record</targetReference>
            </connector>
            <label>Unique key matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_check</name>
        <label>Update check</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_tad_order_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.TAD_Order__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TAD_Order__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.c2g__PurchaseInvoice__r.c2g__InvoiceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_invoice_line_mapping_records</targetReference>
            </connector>
            <label>if tad order changed</label>
        </rules>
    </decisions>
    <description>Create invoice line mapping records when payable invoice status is changed to &apos;in progress&apos;.
Delete invoice line mapping records when tad order on Payable Invoice Expense Line Item is updated and create for new order</description>
    <interviewLabel>Create/DeleteInvoiceLineMapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create/DeleteInvoiceLineMapping</label>
    <loops>
        <name>Loop_on_Order_Line_records</name>
        <label>Loop on Order Line records</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_order_line_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unique_key_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>if_ilm_collection_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Line_Mapping_Records</name>
        <label>Create Invoice Line Mapping Records</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <inputReference>ilmcollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Invoice_Line_Mapping_records</name>
        <label>Delete Invoice Line Mapping records</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_order_line_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payable_Invoice_Expense_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Invoice_Line_Mapping__c</object>
    </recordDeletes>
    <recordLookups>
        <name>get_invoice_line_mapping_records</name>
        <label>get invoice line mapping records</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invoice_line_mapping_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payable_Invoice_Expense_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_order_line_records</name>
        <label>Get order line records</label>
        <locationX>380</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>order_line_records_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>order_line_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_check</targetReference>
        </connector>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ilmcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Line_Mapping__c</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.TAD_Order__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>SingleILMrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Line_Mapping__c</objectType>
    </variables>
</Flow>
