force-app/main/default/flows/Create_PIN_For_BER_Refund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>RecordTypeTAD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TAD</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeTC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TC</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeTNZ</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TNZ</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeWT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WT</stringValue>
        </value>
    </constants>
    <decisions>
        <name>BER_or_Refund</name>
        <label>BER or Refund</label>
        <locationX>450</locationX>
        <locationY>1385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BER</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BERRefund - PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Invoice_Line_Item_0_0_0_0_0</targetReference>
            </connector>
            <label>BER - TAD</label>
        </rules>
        <rules>
            <name>Refund</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TADRefund - PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Invoice_Line_Item_0_0_0_0</targetReference>
            </connector>
            <label>Refund - TAD</label>
        </rules>
        <rules>
            <name>BER_TC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BERRefund - PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0</targetReference>
            </connector>
            <label>BER - TC</label>
        </rules>
        <rules>
            <name>Refund_TNZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TADRefund - PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Refund - TC</label>
        </rules>
    </decisions>
    <decisions>
        <name>BER_or_Refund_0</name>
        <label>BER or Refund</label>
        <locationX>1061</locationX>
        <locationY>1389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BER_0</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BERRefund - PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTNZ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>BER - TNZ</label>
        </rules>
        <rules>
            <name>BER_WT_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BERRefund - PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeWT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>BER - WT</label>
        </rules>
        <rules>
            <name>Refund_TNZ_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TADRefund - PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTNZ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Refund - TNZ</label>
        </rules>
        <rules>
            <name>Refund_WT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CVC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TADRefund - PIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeWT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Refund - WT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_if_TC_WT_Agent_or_TAD_TNZ_Account_0</name>
        <label>Determine if TC/WT(Agent) or TAD/TNZ(Account)</label>
        <locationX>759</locationX>
        <locationY>800</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TAD_TNZ_Account</targetReference>
            </connector>
            <label>TAD</label>
        </rules>
        <rules>
            <name>TC_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_agent_Account</targetReference>
            </connector>
            <label>TC</label>
        </rules>
        <rules>
            <name>TNZ_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeTNZ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TAD_TNZ_Account_0</targetReference>
            </connector>
            <label>TNZ</label>
        </rules>
        <rules>
            <name>WT_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeWT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_agent_Account_0</targetReference>
            </connector>
            <label>WT</label>
        </rules>
    </decisions>
    <formulas>
        <name>BERandorderNumber</name>
        <dataType>String</dataType>
        <expression>&quot;BER for -&quot;&amp;{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <description>Accounting Company TAD SFID</description>
        <name>CustomLabelAccCoTAD</name>
        <dataType>String</dataType>
        <expression>{!$Label.AccountingCompanyTAD}</expression>
    </formulas>
    <formulas>
        <description>Accounting Company TNZ SFID</description>
        <name>CustomLabelAccCoTNZ</name>
        <dataType>String</dataType>
        <expression>{!$Label.AccountingCompanyTNZ}</expression>
    </formulas>
    <formulas>
        <description>Accounting Tax Code GSTFree</description>
        <name>CustomLabelAccTaxCode</name>
        <dataType>String</dataType>
        <expression>{!$Label.AccountingTaxCode_GSTFree}</expression>
    </formulas>
    <interviewLabel>Create PIN For BER Refund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PIN For BER Refund</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Agent_Payable_Invoice</name>
        <label>Create Agent Payable Invoice</label>
        <locationX>575</locationX>
        <locationY>1180</locationY>
        <connector>
            <targetReference>BER_or_Refund</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__AccountInvoiceNumber__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference>Retrieve_agent_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__DueDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InvoiceDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__OwnerCompany__c</field>
            <value>
                <elementReference>CustomLabelAccCoTAD</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Agent_Payable_Invoice_0</name>
        <label>Create Agent Payable Invoice</label>
        <locationX>1172</locationX>
        <locationY>1177</locationY>
        <connector>
            <targetReference>BER_or_Refund_0</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__AccountInvoiceNumber__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference>Retrieve_agent_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__DueDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InvoiceDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__OwnerCompany__c</field>
            <value>
                <elementReference>CustomLabelAccCoTNZ</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Invoice_Line_Item_0_0_0_0</name>
        <label>Create Payable Invoice Line Item</label>
        <locationX>384</locationX>
        <locationY>1494</locationY>
        <inputAssignments>
            <field>Order_legacy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Retrieve_GL_for_Expense_Line_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InputVATCode__c</field>
            <value>
                <elementReference>CustomLabelAccTaxCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__NetValue__c</field>
            <value>
                <elementReference>$Record.total_payment_received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PurchaseInvoice__c</field>
            <value>
                <elementReference>Create_TADTNZ_Payable_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Invoice_Line_Item_0_0_0_0_0</name>
        <label>Create Payable Invoice Line Item</label>
        <locationX>234</locationX>
        <locationY>1495</locationY>
        <inputAssignments>
            <field>Order_legacy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Retrieve_GL_for_Expense_Line_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InputVATCode__c</field>
            <value>
                <elementReference>CustomLabelAccTaxCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__NetValue__c</field>
            <value>
                <elementReference>$Record.BER_Refund_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PurchaseInvoice__c</field>
            <value>
                <elementReference>Create_TADTNZ_Payable_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0</name>
        <label>Create Payable Invoice Line Item</label>
        <locationX>528</locationX>
        <locationY>1495</locationY>
        <inputAssignments>
            <field>Order_legacy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Retrieve_GL_for_Expense_Line_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InputVATCode__c</field>
            <value>
                <elementReference>CustomLabelAccTaxCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__NetValue__c</field>
            <value>
                <elementReference>$Record.BER_Refund_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PurchaseInvoice__c</field>
            <value>
                <elementReference>Create_Agent_Payable_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0</name>
        <label>Create Payable Invoice Line Item</label>
        <locationX>672</locationX>
        <locationY>1494</locationY>
        <inputAssignments>
            <field>Order_legacy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Retrieve_GL_for_Expense_Line_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InputVATCode__c</field>
            <value>
                <elementReference>CustomLabelAccTaxCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__NetValue__c</field>
            <value>
                <elementReference>$Record.total_payment_received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PurchaseInvoice__c</field>
            <value>
                <elementReference>Create_Agent_Payable_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0_0</name>
        <label>Create Payable Invoice Line Item</label>
        <locationX>990</locationX>
        <locationY>1492</locationY>
        <inputAssignments>
            <field>Order_legacy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Retrieve_GL_for_Expense_Line_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InputVATCode__c</field>
            <value>
                <elementReference>CustomLabelAccTaxCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__NetValue__c</field>
            <value>
                <elementReference>$Record.total_payment_received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PurchaseInvoice__c</field>
            <value>
                <elementReference>Create_TADTNZ_Payable_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0_0_0</name>
        <label>Create Payable Invoice Line Item</label>
        <locationX>1282</locationX>
        <locationY>1489</locationY>
        <inputAssignments>
            <field>Order_legacy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Retrieve_GL_for_Expense_Line_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InputVATCode__c</field>
            <value>
                <elementReference>CustomLabelAccTaxCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__NetValue__c</field>
            <value>
                <elementReference>$Record.total_payment_received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PurchaseInvoice__c</field>
            <value>
                <elementReference>Create_Agent_Payable_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Payable Invoice Line Item</label>
        <locationX>863</locationX>
        <locationY>1494</locationY>
        <inputAssignments>
            <field>Order_legacy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Retrieve_GL_for_Expense_Line_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InputVATCode__c</field>
            <value>
                <elementReference>CustomLabelAccTaxCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__NetValue__c</field>
            <value>
                <elementReference>$Record.BER_Refund_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PurchaseInvoice__c</field>
            <value>
                <elementReference>Create_TADTNZ_Payable_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payable_Invoice_Line_Item_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Payable Invoice Line Item</label>
        <locationX>1138</locationX>
        <locationY>1492</locationY>
        <inputAssignments>
            <field>Order_legacy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Retrieve_GL_for_Expense_Line_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InputVATCode__c</field>
            <value>
                <elementReference>CustomLabelAccTaxCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__NetValue__c</field>
            <value>
                <elementReference>$Record.BER_Refund_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PurchaseInvoice__c</field>
            <value>
                <elementReference>Create_Agent_Payable_Invoice</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoiceExpenseLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_TADTNZ_Payable_Invoice</name>
        <label>Create TADTNZ Payable Invoice</label>
        <locationX>352</locationX>
        <locationY>1179</locationY>
        <connector>
            <targetReference>BER_or_Refund</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__AccountInvoiceNumber__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference>Get_TAD_TNZ_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__DueDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InvoiceDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__OwnerCompany__c</field>
            <value>
                <elementReference>CustomLabelAccCoTAD</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_TADTNZ_Payable_Invoice_0</name>
        <label>Create TADTNZ Payable Invoice</label>
        <locationX>960</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>BER_or_Refund_0</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__AccountInvoiceNumber__c</field>
            <value>
                <elementReference>BERandorderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference>Get_TAD_TNZ_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__DueDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__InvoiceDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__OwnerCompany__c</field>
            <value>
                <elementReference>CustomLabelAccCoTNZ</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Bank_Account_Details</name>
        <label>Get Bank Account Details</label>
        <locationX>766</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_GL_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bank_Account_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TAD_TNZ_Account</name>
        <label>Get TAD/TNZ Account</label>
        <locationX>351</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_with_Required_Payment_Details_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TAD_TNZ_Account_0</name>
        <label>Get TAD/TNZ Account</label>
        <locationX>960</locationX>
        <locationY>917</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_with_Required_Payment_Details_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_agent_Account</name>
        <label>Retrieve agent Account</label>
        <locationX>574</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_with_Required_Payment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agency_id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_agent_Account_0</name>
        <label>Retrieve agent Account</label>
        <locationX>1171</locationX>
        <locationY>919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_with_Required_Payment_Details_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agency_id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_GL_Account_0</name>
        <label>Retrieve GL Account</label>
        <locationX>766</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_GL_for_Expense_Line_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__ReportingCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2100</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_GL_for_Expense_Line_0</name>
        <label>Retrieve GL for Expense Line</label>
        <locationX>766</locationX>
        <locationY>655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_if_TC_WT_Agent_or_TAD_TNZ_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__ReportingCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2240</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_Required_Payment_Details</name>
        <label>Update Account with Required Payment Details</label>
        <locationX>575</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>Create_Agent_Payable_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_agent_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c2g__CODAAccountTradingCurrency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAAccountsPayableControl__c</field>
            <value>
                <elementReference>Retrieve_GL_Account_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankAccountName__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.BankAccountName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankAccountNumber__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankSortCode__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.BSB_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAPaymentMethod__c</field>
            <value>
                <stringValue>Electronic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODATaxCalculationMethod__c</field>
            <value>
                <stringValue>Gross</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Required_Payment_Details_0</name>
        <label>Update Account with Required Payment Details</label>
        <locationX>352</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>Create_TADTNZ_Payable_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TAD_TNZ_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c2g__CODAAccountTradingCurrency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAAccountsPayableControl__c</field>
            <value>
                <elementReference>Retrieve_GL_Account_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankAccountName__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.BankAccountName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankAccountNumber__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankSortCode__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.BSB_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAPaymentMethod__c</field>
            <value>
                <stringValue>Electronic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODATaxCalculationMethod__c</field>
            <value>
                <stringValue>Gross</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Required_Payment_Details_0_0</name>
        <label>Update Account with Required Payment Details</label>
        <locationX>959</locationX>
        <locationY>1041</locationY>
        <connector>
            <targetReference>Create_TADTNZ_Payable_Invoice_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TAD_TNZ_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c2g__CODAAccountTradingCurrency__c</field>
            <value>
                <stringValue>NZD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAAccountsPayableControl__c</field>
            <value>
                <elementReference>Retrieve_GL_Account_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankAccountNumber__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.BankAccountNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankSortCode__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.BSB_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAPaymentMethod__c</field>
            <value>
                <stringValue>Electronic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODATaxCalculationMethod__c</field>
            <value>
                <stringValue>Gross</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Required_Payment_Details_0_0_0</name>
        <label>Update Account with Required Payment Details</label>
        <locationX>1172</locationX>
        <locationY>1041</locationY>
        <connector>
            <targetReference>Create_Agent_Payable_Invoice_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_agent_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c2g__CODAAccountTradingCurrency__c</field>
            <value>
                <stringValue>NZD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAAccountsPayableControl__c</field>
            <value>
                <elementReference>Retrieve_GL_Account_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankAccountNumber__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.BankAccountNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODABankSortCode__c</field>
            <value>
                <elementReference>Get_Bank_Account_Details.BSB_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAPaymentMethod__c</field>
            <value>
                <stringValue>Electronic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODATaxCalculationMethod__c</field>
            <value>
                <stringValue>Gross</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>640</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Bank_Account_Details</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CVC__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BERRefund - PIN</stringValue>
            </value>
        </filters>
        <filters>
            <field>CVC__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TADRefund - PIN</stringValue>
            </value>
        </filters>
        <object>order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Current Date</description>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
