force-app/main/default/flows/Create_Customisation_Enquiry_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ChangeIdsToList</name>
        <label>ChangeIdsToList</label>
        <locationX>1813</locationX>
        <locationY>1503</locationY>
        <actionName>ConvertIdsToListMultiselectPicklistFlows</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RequestTypeScreen_somePax</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idsString</name>
            <value>
                <elementReference>Select_Passengers</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SelectedPaxIdsSomePaxCollection</assignToReference>
            <name>RequestResult</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ChangeOliIdsToListOfIds</name>
        <label>ChangeOliIdsToListOfIds</label>
        <locationX>1663</locationX>
        <locationY>2089</locationY>
        <actionName>ConvertIdsToListMultiselectPicklistFlows</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PaymentDueRequestTypeScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idsString</name>
            <value>
                <elementReference>Select_Order_Line_Items</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SelectedPaxIdsSomePaxCollection</assignToReference>
            <name>RequestResult</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_All_Booleans_to_False</name>
        <label>Assign All Booleans to False</label>
        <locationX>603</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>TADOrderMissingFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalCustomizationTADError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalCustomizationWTerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_accountId_is_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Boolean_False</name>
        <label>Assign Boolean False</label>
        <locationX>911</locationX>
        <locationY>1265</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalCustomizationWTerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalCustomizationTADError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_TAD_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Boolean_False_0</name>
        <label>Assign Boolean False</label>
        <locationX>1357</locationX>
        <locationY>1389</locationY>
        <assignmentItems>
            <assignToReference>WhoIsThisChangeForMissingBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Blank_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Boolean_True</name>
        <label>Assign Boolean True</label>
        <locationX>1212</locationX>
        <locationY>1433</locationY>
        <assignmentItems>
            <assignToReference>StorePaymentReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalCustomizationTADError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalCustomizationWTerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TADOrderMissingFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen2_With_TadOrder_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_to_single_OLI_case_Obj</name>
        <label>Assign Data to single OLI case Obj</label>
        <locationX>1928</locationX>
        <locationY>1067</locationY>
        <assignmentItems>
            <assignToReference>OliCaseJunctionRecordSingle.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OliCaseJunctionRecordSingle.Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_OLICase_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OLICase_Single_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_True_For_Global_Action</name>
        <label>Assign Flag True For Global Action</label>
        <locationX>1069</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>FlagForGlobalAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Customisation_Enquiry_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Int_Customisation_TAD_as_True</name>
        <label>Assign Int Customisation TAD as True</label>
        <locationX>460</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>InternalCustomizationTADError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Int_Customisation_TAD_as_True_with_TAD_as_Null</name>
        <label>Assign Int Customisation TAD as True with TAD as Null</label>
        <locationX>437</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>InternalCustomizationTADError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Int_Customisation_WT_as_True</name>
        <label>Assign Int Customisation WT as True</label>
        <locationX>248</locationX>
        <locationY>2332</locationY>
        <assignmentItems>
            <assignToReference>InternalCustomizationWTerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Int_Customisation_WT_as_True_And_RecordId_null</name>
        <label>Assign Int Customisation WT as True And RecordId null</label>
        <locationX>164</locationX>
        <locationY>2434</locationY>
        <assignmentItems>
            <assignToReference>InternalCustomizationWTerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Missing_Boolean_and_RecordId</name>
        <label>Assign Missing Boolean and RecordId</label>
        <locationX>770</locationX>
        <locationY>1515</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Missing_Boolean_True</name>
        <label>Assign Missing Boolean True</label>
        <locationX>869</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OLICase_Single_Record_To_Collection</name>
        <label>Assign OLICase Single Record To Collection</label>
        <locationX>2080</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>OLICaseJunctionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OliCaseJunctionRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OLICase_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recordId_as_null</name>
        <label>assign recordId as null</label>
        <locationX>687</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjectNameforincomingRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Account_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Type_For_Global_Action</name>
        <label>Assign Request Type For Global Action</label>
        <locationX>1956</locationX>
        <locationY>1495</locationY>
        <assignmentItems>
            <assignToReference>RequestTypeForSomePax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_For_Some_Pax_Global_Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCaseSomePax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_type_For_Payment_Due_For_GlobalAction</name>
        <label>Assign Request type For Payment Due For GlobalAction</label>
        <locationX>1820</locationX>
        <locationY>1812</locationY>
        <assignmentItems>
            <assignToReference>RequestTypeForPaymentDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customer_Request_Type_payment_Due</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_For_Payment_Received_Not_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Type_For_payment_due_not_from_globalAction</name>
        <label>Assign Request Type For payment due not from globalAction</label>
        <locationX>1984</locationX>
        <locationY>2005</locationY>
        <assignmentItems>
            <assignToReference>RequestTypeForPaymentDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_Payment_Due</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_For_Payment_Received_Not_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Type_For_Some_pax_not_from_Global_action</name>
        <label>Assign Request Type For Some pax not from Global action</label>
        <locationX>2090</locationX>
        <locationY>1636</locationY>
        <assignmentItems>
            <assignToReference>RequestTypeForSomePax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_SomePax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCaseSomePax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Type_From_Global_Action</name>
        <label>Assign Request Type From Global Action</label>
        <locationX>1583</locationX>
        <locationY>1067</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Type_Not_From_Global_Action</name>
        <label>Assign Request Type Not From Global Action</label>
        <locationX>1791</locationX>
        <locationY>1201</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_Case_AllPax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TAD_Order_Value_To_The_String</name>
        <label>Assign TAD Order Value To The String</label>
        <locationX>706</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>SobjectNameforincomingRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAD Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_recordId</name>
        <label>Assign the recordId</label>
        <locationX>1040</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdDuplicateStore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_TAD_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_TAD_Order</name>
        <label>Assigning TAD Order</label>
        <locationX>1123</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_TAD_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalCustomizationTADError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalCustomizationWTerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Select_TAD_Order_Choice_Has_None</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Who_Is_This_Change_For_Boolean_Error_True</name>
        <label>Assigning Who Is This Change For Boolean Error True</label>
        <locationX>1433</locationX>
        <locationY>2056</locationY>
        <assignmentItems>
            <assignToReference>WhoIsThisChangeForMissingBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen2_With_TadOrder_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOLiCaseRecordToCollectionPaymentDue</name>
        <label>AssignOLiCaseRecordToCollectionPaymentDue</label>
        <locationX>2185</locationX>
        <locationY>2179</locationY>
        <assignmentItems>
            <assignToReference>OLICaseJunctionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OliCaseJunctionRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverOliPaymentDueRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPaxCaseSingleToCollection</name>
        <label>AssignPaxCaseSingleToCollection</label>
        <locationX>2370</locationX>
        <locationY>1073</locationY>
        <assignmentItems>
            <assignToReference>PaxCaseCollectionData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PassengerCaseRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePaxCaseCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTADOrderMissing</name>
        <label>AssignTADOrderMissing</label>
        <locationX>1176</locationX>
        <locationY>962</locationY>
        <assignmentItems>
            <assignToReference>TADOrderMissingFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateSinglePaxCaseRecord</name>
        <label>CreateSinglePaxCaseRecord</label>
        <locationX>2992</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>SomePaxPaxCaseSingleRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewCaseSomePax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SomePaxPaxCaseSingleRecord.Passengers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatePaxCaseSomePax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OliCaseSomePaxCollectionInsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OliCaseSomePaxCollectionInsert</name>
        <label>OliCaseSomePaxCollectionInsert</label>
        <locationX>2453</locationX>
        <locationY>1418</locationY>
        <assignmentItems>
            <assignToReference>SomePaxPaxCaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SomePaxPaxCaseSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePaxCaseSomePax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaxCaseJunctionRecordSingle</name>
        <label>PaxCaseJunctionRecordSingle</label>
        <locationX>3212</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>PassengerCaseRecordSingle.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PassengerCaseRecordSingle.Passengers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatePaxCaseCollection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPaxCaseSingleToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentDueOliCaseSingleRecordAssign</name>
        <label>PaymentDueOliCaseSingleRecordAssign</label>
        <locationX>1983</locationX>
        <locationY>2177</locationY>
        <assignmentItems>
            <assignToReference>OliCaseJunctionRecordSingle.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_For_Payment_Received_Not_True</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OliCaseJunctionRecordSingle.Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverOliPaymentDueRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOLiCaseRecordToCollectionPaymentDue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OLi_Name_to_String</name>
        <label>Set OLi Name to String</label>
        <locationX>1330</locationX>
        <locationY>1148</locationY>
        <assignmentItems>
            <assignToReference>OLINameStringField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!For_Each_Tad_Order_OLIs.Name}    |    {!OLINameStringField}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Tad_Order_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pax_Name_To_String</name>
        <label>Set Pax Name To String</label>
        <locationX>1530</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>PaxNameStringField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!For_Each_Tad_Order_Pax.Passenger_Name__c} |  {!PaxNameStringField}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Tad_Order_Pax</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Int_Custom_TAD</name>
        <choiceText>Internal Customisation TAD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Customisation TAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Int_Custom_WT</name>
        <choiceText>Internal Customisation WT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Customisation WT</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoneValue</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </choices>
    <choices>
        <name>requestOptionnew</name>
        <choiceText>I&apos;m looking at purchases a deal (Pre Sales)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&apos;m looking at purchases a deal (Pre Sales)</stringValue>
        </value>
    </choices>
    <choices>
        <name>requestTypeOption1</name>
        <choiceText>I&apos;ve purchased a deal, but not travelled yet (Post Purchase)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&apos;ve purchased a deal, but not travelled yet (Post Purchase)</stringValue>
        </value>
    </choices>
    <choices>
        <name>requestTypeOption2</name>
        <choiceText>General Enquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Enquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>requestTypeOption3</name>
        <choiceText>I&apos;m on Tour and require assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&apos;m on Tour and require assistance</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_Account_Screen</name>
        <label>Check For Account Screen</label>
        <locationX>696</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Assign_TAD_Order_Value_To_The_String</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AccountId_and_TAD_Order_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIdtoGet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_True_For_Global_Action</targetReference>
            </connector>
            <label>If AccountId and TAD Order is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Blank_Field</name>
        <label>Check For Blank Field</label>
        <locationX>1517</locationX>
        <locationY>1577</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Who_Is_This_Change_For_Is_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_is_this_change_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Who_Is_This_Change_For_Boolean_Error_True</targetReference>
            </connector>
            <label>If Who Is This Change For Is None</label>
        </rules>
        <rules>
            <name>who_is_this_change_for_All_Pax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_is_this_change_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All passengers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_OLIs</targetReference>
            </connector>
            <label>who is this change for All Pax</label>
        </rules>
        <rules>
            <name>Who_Is_This_Change_For_Some_Pax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_is_this_change_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Some passengers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OLI_Selection_Some_Passengers</targetReference>
            </connector>
            <label>Who Is This Change For Some Pax</label>
        </rules>
        <rules>
            <name>If_Payment_Received_Not_True</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_TAD_Order_Record.Total_Payment_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_OLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreenForNoOLIS</targetReference>
            </connector>
            <label>If Payment Received Not True</label>
        </rules>
        <rules>
            <name>If_Payment_Received_Not_True_And_OLI_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_TAD_Order_Record.Total_Payment_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_OLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_OLIs</targetReference>
            </connector>
            <label>If Payment Received Not True And OLI exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Decision_For_Request_Type</name>
        <label>Check For Decision For Request Type</label>
        <locationX>1787</locationX>
        <locationY>1083</locationY>
        <defaultConnector>
            <targetReference>Assign_Request_Type_Not_From_Global_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Global_Action_is_Opened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagForGlobalAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Request_Type_From_Global_Action</targetReference>
            </connector>
            <label>If Global Action is Opened</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_payment_due_Request_type_for_Global_Action</name>
        <label>Check For payment due Request type for Global Action</label>
        <locationX>1791</locationX>
        <locationY>2307</locationY>
        <defaultConnector>
            <targetReference>Assign_Request_Type_For_payment_due_not_from_globalAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Flag_for_Global_Action_is_true_for_payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagForGlobalAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Request_type_For_Payment_Due_For_GlobalAction</targetReference>
            </connector>
            <label>Check if Flag for Global Action is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_AccountId_to_get_Not_Null_For_Wrong_recordType</name>
        <label>Check If AccountId to get Not Null For Wrong recordType</label>
        <locationX>798</locationX>
        <locationY>2469</locationY>
        <defaultConnector>
            <targetReference>Assign_Int_Customisation_WT_as_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AccountIdtoget_Null_Equals_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIdtoGet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Int_Customisation_WT_as_True_And_RecordId_null</targetReference>
            </connector>
            <label>If AccountIdtoget Null Equals False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_AccountIdToGet_is_null</name>
        <label>Check If AccountIdToGet is null</label>
        <locationX>695</locationX>
        <locationY>113</locationY>
        <defaultConnector>
            <targetReference>assign_recordId_as_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_accountIdTogetIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIdtoGet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_recordId_for_TAD_Order</targetReference>
            </connector>
            <label>is accountIdTogetIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_AccountIdToGet_Not_null</name>
        <label>Check If AccountIdToGet Not null</label>
        <locationX>867</locationX>
        <locationY>1961</locationY>
        <defaultConnector>
            <targetReference>Assign_Missing_Boolean_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_AccountId_to_get_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIdtoGet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Missing_Boolean_and_RecordId</targetReference>
            </connector>
            <label>Check if AccountId to get Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AccountIdToGet_Not_Null_For_TAD_record_Type</name>
        <label>Check if AccountIdToGet Not Null For TAD record Type</label>
        <locationX>682</locationX>
        <locationY>2236</locationY>
        <defaultConnector>
            <targetReference>Assign_Int_Customisation_TAD_as_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_AccountIdToGet_Null_Equals_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIdtoGet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Int_Customisation_TAD_as_True_with_TAD_as_Null</targetReference>
            </connector>
            <label>Check If AccountIdToGet Null Equals False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_is_Creating_From_Global_Action</name>
        <label>Check if Case is Creating From Global Action</label>
        <locationX>1960</locationX>
        <locationY>1649</locationY>
        <defaultConnector>
            <targetReference>Assign_Request_Type_For_Some_pax_not_from_Global_action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Flag_for_Global_Action_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagForGlobalAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Request_Type_For_Global_Action</targetReference>
            </connector>
            <label>Check If Flag for Global Action is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Select_TAD_Order_Choice_Has_None</name>
        <label>Check If Select TAD Order Choice Has None</label>
        <locationX>1306</locationX>
        <locationY>742</locationY>
        <defaultConnector>
            <targetReference>Get_the_TAD_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SELECT_TAD_ORDER_has_none_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTADOrderMissing</targetReference>
            </connector>
            <label>SELECT_TAD_ORDER has none Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Received</name>
        <label>Check Payment Received</label>
        <locationX>1197</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Screen2_With_TadOrder_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Payment_received_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_TAD_Order_Record.Total_Payment_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Boolean_True</targetReference>
            </connector>
            <label>Is Payment received True</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_accountId_is_not_null</name>
        <label>If accountId is not null</label>
        <locationX>767</locationX>
        <locationY>1023</locationY>
        <defaultConnector>
            <targetReference>Assign_Boolean_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIdtoGet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_TAD_Order</targetReference>
            </connector>
            <label>if not null</label>
        </rules>
        <rules>
            <name>If_recId_And_AccountId_are_both_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountIdtoGet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_recordId</targetReference>
            </connector>
            <label>If recId And AccountId are both null</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Check_If_RT_is_Blank</name>
        <label>To Check If RT is Blank</label>
        <locationX>894</locationX>
        <locationY>2224</locationY>
        <defaultConnector>
            <targetReference>Check_Payment_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Blank_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_AccountIdToGet_Not_null</targetReference>
            </connector>
            <label>Record Type Blank Check</label>
        </rules>
        <rules>
            <name>If_TAD_TC_Order_and_Int_Customization_TAD</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Select_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Int_Custom_WT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_TAD_Order_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_TAD_Order_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_AccountId_to_get_Not_Null_For_Wrong_recordType</targetReference>
            </connector>
            <label>If TAD/TC Order and Int Customization WT</label>
        </rules>
        <rules>
            <name>If_TNZ_WT</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Select_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Int_Custom_TAD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_TAD_Order_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_TAD_Order_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_AccountIdToGet_Not_Null_For_TAD_record_Type</targetReference>
            </connector>
            <label>If TNZ/WT And Int Customization TAD</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OliListForPaymentNotReceived</name>
        <dataType>String</dataType>
        <displayField>ordexp_oli_name__c</displayField>
        <object>order_line_item__c</object>
        <valueField>ordexp_oli_name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Olis</name>
        <dataType>String</dataType>
        <displayField>ordexp_oli_name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>order_line_item__c</object>
        <valueField>ordexp_oli_name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OLIsToSelect_SomePassengers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>order_line_item__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pax</name>
        <dataType>String</dataType>
        <displayField>Passenger_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_tad_order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>customer_POE__c</object>
        <valueField>Passenger_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaxUnderOli</name>
        <dataType>String</dataType>
        <displayField>Passenger_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OLISelceted_SomePassengers</elementReference>
            </value>
        </filters>
        <object>customer_POE__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaxUnderOLli1</name>
        <dataType>String</dataType>
        <displayField>Passenger_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OLISelceted_SomePassengers</elementReference>
            </value>
        </filters>
        <object>customer_POE__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistForWhoIsThisChangeFor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>mp_Who_is_the_change_for__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypeCaseChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectingCaseRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StoreOlis</name>
        <dataType>String</dataType>
        <displayField>ordexp_oli_name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>order_line_item__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorePax</name>
        <dataType>String</dataType>
        <displayField>Age_Group__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_tad_order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>customer_POE__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TADOrdersForAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountIdtoGet</elementReference>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Customisation Enquiry Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Customisation Enquiry Case</label>
    <loops>
        <name>Create_OLICase_Collection</name>
        <label>Create OLICase Collection</label>
        <locationX>1953</locationX>
        <locationY>1307</locationY>
        <collectionReference>Get_All_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Data_to_single_OLI_case_Obj</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreatePaxCaseCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CreatePaxCaseCollection</name>
        <label>CreatePaxCaseCollection</label>
        <locationX>2198</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_All_Pax</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PaxCaseJunctionRecordSingle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OLI_Case_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CreatePaxCaseSomePax</name>
        <label>CreatePaxCaseSomePax</label>
        <locationX>2390</locationX>
        <locationY>1639</locationY>
        <collectionReference>SelectedPaxIdsSomePaxCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateSinglePaxCaseRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCasePaxForSomePax</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Tad_Order_OLIs</name>
        <label>For Each Tad Order OLIs</label>
        <locationX>1464</locationX>
        <locationY>1149</locationY>
        <collectionReference>Get_All_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OLi_Name_to_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Pax</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Tad_Order_Pax</name>
        <label>For Each Tad Order Pax</label>
        <locationX>1529</locationX>
        <locationY>880</locationY>
        <collectionReference>Get_All_Pax</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Pax_Name_To_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Who_Is_This_Change_For_AllPax</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverOliPaymentDueRecords</name>
        <label>LoopOverOliPaymentDueRecords</label>
        <locationX>2086</locationX>
        <locationY>2043</locationY>
        <collectionReference>SelectedPaxIdsSomePaxCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PaymentDueOliCaseSingleRecordAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Oli</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_For_Payment_Received_Not_True</name>
        <label>Create Case For Payment Received Not True</label>
        <locationX>2135</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>LoopOverOliPaymentDueRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>Deal__c</field>
            <value>
                <elementReference>Get_the_TAD_Order_Record.ordexp_deal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Select_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Request_Type_Payment_Due</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mp_Customer_Request__c</field>
            <value>
                <elementReference>RequestTypeForPaymentDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mp_Order_Number__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Oli</name>
        <label>Create Case Oli</label>
        <locationX>2340</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>SuccessScreenEnd</targetReference>
        </connector>
        <inputReference>OLICaseJunctionRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>1707</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Create_OLICase_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Deal__c</field>
            <value>
                <elementReference>Get_the_TAD_Order_Record.ordexp_deal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Select_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Request_Type_Case_AllPax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mp_Customer_Request__c</field>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mp_Order_Number__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mp_Who_is_the_change_for__c</field>
            <value>
                <elementReference>Who_is_this_change_for</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_OLI_Case_Records</name>
        <label>Create OLI Case Records</label>
        <locationX>2397</locationX>
        <locationY>1243</locationY>
        <connector>
            <targetReference>CreatePaxCaseJunctionRecords</targetReference>
        </connector>
        <inputReference>OLICaseJunctionRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCasePaxForSomePax</name>
        <label>CreateCasePaxForSomePax</label>
        <locationX>2740</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>SuccessScreenEnd</targetReference>
        </connector>
        <inputReference>SomePaxPaxCaseCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewCaseSomePax</name>
        <label>CreateNewCaseSomePax</label>
        <locationX>2073</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>CreateOLICaseSomePaxRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Deal__c</field>
            <value>
                <elementReference>Get_the_TAD_Order_Record.ordexp_deal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Select_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Request_Type_SomePax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mp_Customer_Request__c</field>
            <value>
                <elementReference>RequestTypeForSomePax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mp_Order_Number__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mp_Who_is_the_change_for__c</field>
            <value>
                <elementReference>Who_is_this_change_for</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOLICaseSomePaxRecord</name>
        <label>CreateOLICaseSomePaxRecord</label>
        <locationX>2234</locationX>
        <locationY>1637</locationY>
        <connector>
            <targetReference>CreatePaxCaseSomePax</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CreateNewCaseSomePax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Line_Item__c</field>
            <value>
                <elementReference>OLISelceted_SomePassengers</elementReference>
            </value>
        </inputAssignments>
        <object>OLI_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatePaxCaseJunctionRecords</name>
        <label>CreatePaxCaseJunctionRecords</label>
        <locationX>2606</locationX>
        <locationY>1243</locationY>
        <connector>
            <targetReference>SuccessScreenEnd</targetReference>
        </connector>
        <inputReference>PaxCaseCollectionData</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_OLIs</name>
        <label>Get All OLIs</label>
        <locationX>1488</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Tad_Order_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>order_line_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Pax</name>
        <label>Get All Pax</label>
        <locationX>1455</locationX>
        <locationY>999</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Tad_Order_Pax</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_tad_order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>customer_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordId_for_TAD_Order</name>
        <label>Get recordId for TAD Order</label>
        <locationX>1105</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Account_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TAD_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_account</name>
        <label>Get the account</label>
        <locationX>406</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_AccountIdToGet_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountIdtoGet</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_TAD_Order_Record</name>
        <label>Get the TAD Order Record</label>
        <locationX>1051</locationX>
        <locationY>1457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TAD_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecordType</name>
        <label>GetCaseRecordType</label>
        <locationX>1112</locationX>
        <locationY>1610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Check_If_RT_is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customisation_Enquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CaseRequestTypeScreenAllPax</name>
        <label>CaseRequestTypeScreenAllPax</label>
        <locationX>1830</locationX>
        <locationY>940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_For_Decision_For_Request_Type</targetReference>
        </connector>
        <fields>
            <name>RequestTypeTextDisplayAllPax</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Request Type&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>requestOptionnew</choiceReferences>
            <choiceReferences>requestTypeOption1</choiceReferences>
            <choiceReferences>requestTypeOption2</choiceReferences>
            <choiceReferences>requestTypeOption3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlagForGlobalAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_Type_Case_AllPax</name>
            <choiceReferences>requestTypeOption1</choiceReferences>
            <choiceReferences>requestTypeOption2</choiceReferences>
            <choiceReferences>requestTypeOption3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlagForGlobalAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Request_Case_All_Pax</name>
            <fieldText>Customer Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ResponseTimeMessage1</name>
            <fieldText>&lt;p&gt;Response Time To Customers: 5-7 Days&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Customisation_Enquiry_Case</name>
        <label>Create Customisation Enquiry Case</label>
        <locationX>695</locationX>
        <locationY>901</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Type_Select_Screen</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account Holder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountIdtoGet</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>accountIdtoGet</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreenForNoOLIS</name>
        <label>ErrorScreenForNoOLIS</label>
        <locationX>1419</locationX>
        <locationY>2318</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsgForNoOLIs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 14, 24);&quot;&gt;Sorry, there are no OLIs for {!Get_the_TAD_Order_Record.Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OLI_Selection_Some_Passengers</name>
        <label>OLI Selection Some Passengers</label>
        <locationX>1711</locationX>
        <locationY>1634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PAX_Selection_Some_PAX</targetReference>
        </connector>
        <fields>
            <name>WhoIsThisChangeForSomePAXoli</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Who Is This Change For?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OLISelceted_SomePassengers</name>
            <choiceReferences>OLIsToSelect_SomePassengers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Order Line Items</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PAX_Selection_Some_PAX</name>
        <label>PAX Selection Some PAX</label>
        <locationX>1710</locationX>
        <locationY>1503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ChangeIdsToList</targetReference>
        </connector>
        <fields>
            <name>WhoIsThisChangeForSomePax</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Who Is This Change For?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Passengers</name>
            <choiceReferences>PaxUnderOLli1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Passengers</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PaymentDueRequestTypeScreen</name>
        <label>PaymentDueRequestTypeScreen</label>
        <locationX>1660</locationX>
        <locationY>1873</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequestTypePaymentDueText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Request Type&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>customer_Request_Type_payment_Due</name>
            <choiceReferences>requestOptionnew</choiceReferences>
            <choiceReferences>requestTypeOption1</choiceReferences>
            <choiceReferences>requestTypeOption2</choiceReferences>
            <choiceReferences>requestTypeOption3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlagForGlobalAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_Type_Payment_Due</name>
            <choiceReferences>requestTypeOption1</choiceReferences>
            <choiceReferences>requestTypeOption2</choiceReferences>
            <choiceReferences>requestTypeOption3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Request_Payment_Due</name>
            <fieldText>Customer Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ResponseTimeMessage3</name>
            <fieldText>&lt;p&gt;Response Time to Customer: 5-7 Days&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Select_Screen</name>
        <label>Record Type Select Screen</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_All_Booleans_to_False</targetReference>
        </connector>
        <fields>
            <name>EnquiryDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Enquiry Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordTypeMissingError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 45, 45); background-color: rgb(255, 255, 255);&quot;&gt;All the fields visible on the screen are mandatory!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Type_Blank_Check</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TADOrderMissingFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InternalCustomisationTADError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 50, 20);&quot;&gt;You can create Internal Customisation TAD  only for Orders with Record Type TAD and TC!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InternalCustomizationTADError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InternalCustomisationWTError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 50, 20);&quot;&gt;You can create Internal Customisation WT  only for Orders with Record Type TNZ and WT!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InternalCustomizationWTerror</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_TAD_Order</name>
            <choiceReferences>NoneValue</choiceReferences>
            <choiceReferences>TADOrdersForAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select TAD Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Record_Type</name>
            <choiceReferences>NoneValue</choiceReferences>
            <choiceReferences>Int_Custom_TAD</choiceReferences>
            <choiceReferences>Int_Custom_WT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequestTypeScreen_somePax</name>
        <label>Request Type Screen Some Pax</label>
        <locationX>1838</locationX>
        <locationY>1640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Case_is_Creating_From_Global_Action</targetReference>
        </connector>
        <fields>
            <name>Request_Type_For_Some_Pax_Global_Action</name>
            <choiceReferences>requestOptionnew</choiceReferences>
            <choiceReferences>requestTypeOption1</choiceReferences>
            <choiceReferences>requestTypeOption2</choiceReferences>
            <choiceReferences>requestTypeOption3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlagForGlobalAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_Type_SomePax</name>
            <choiceReferences>requestTypeOption1</choiceReferences>
            <choiceReferences>requestTypeOption2</choiceReferences>
            <choiceReferences>requestTypeOption3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlagForGlobalAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Request_somePax</name>
            <fieldText>Customer Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ResponseTimeMessage2</name>
            <fieldText>&lt;p&gt;Response Time to Customer: 5-7 Days&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2_With_TadOrder_Details</name>
        <label>Screen2 With TadOrder Details</label>
        <locationX>1310</locationX>
        <locationY>1788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Boolean_False_0</targetReference>
        </connector>
        <fields>
            <name>CustomerDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Customer Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 17, 17);&quot;&gt;All the fields are required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhoIsThisChangeForMissingBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OrderNumberToDisplay</name>
            <fieldText>&lt;p&gt;Order Number:&lt;/p&gt;&lt;p&gt;{!Get_the_TAD_Order_Record.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DealIdToDisplay</name>
            <fieldText>&lt;p&gt;Deal Id:&lt;/p&gt;&lt;p&gt;{!Get_the_TAD_Order_Record.ordexp_deal_id_title__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountNameToDisplay</name>
            <fieldText>&lt;p&gt;Account Name:&lt;/p&gt;&lt;p&gt;{!Get_the_TAD_Order_Record.Account_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DepartureDateToDisplay</name>
            <fieldText>&lt;p&gt;Departure Date:&lt;/p&gt;&lt;p&gt;{!Get_the_TAD_Order_Record.ordexp_departure_date__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailPurchaserToDisplay</name>
            <fieldText>&lt;p&gt;Email Purchaser:&lt;/p&gt;&lt;p&gt;{!Get_the_TAD_Order_Record.ordexp_account__r.Company_Email__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountPhoneNumberToDisplay</name>
            <fieldText>&lt;p&gt;Account Phone Number:&lt;/p&gt;&lt;p&gt;{!Get_the_TAD_Order_Record.Account_Phone_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_is_this_change_for</name>
            <choiceReferences>NoneValue</choiceReferences>
            <choiceReferences>PicklistForWhoIsThisChangeFor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who is this change for?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StorePaymentReceived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_OLIs</name>
        <label>Select OLIs</label>
        <locationX>1585</locationX>
        <locationY>2327</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ChangeOliIdsToListOfIds</targetReference>
        </connector>
        <fields>
            <name>Select_Order_Line_Items</name>
            <choiceReferences>StoreOlis</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Order Line Items</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreenEnd</name>
        <label>SuccessScreenEnd</label>
        <locationX>3084</locationX>
        <locationY>1602</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(94, 237, 28);&quot;&gt;Your Case record(s) have been successfully created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Who_Is_This_Change_For_AllPax</name>
        <label>Who Is This Change For</label>
        <locationX>1715</locationX>
        <locationY>875</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CaseRequestTypeScreenAllPax</targetReference>
        </connector>
        <fields>
            <name>WhoIsThisChangeForTextAllPax</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Who Is This Change For&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllOLiText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;OLI&apos;s Selected&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllOlis</name>
            <fieldText>&lt;p&gt;{!OLINameStringField}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddOnSelectText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;AddOn&apos;s Selected&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllPaxs</name>
            <fieldText>&lt;p&gt;{!PaxNameStringField}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>246</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>Get_the_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DisplayOli</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_All_OLIs}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountIdtoGet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllPax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All passengers</stringValue>
        </value>
    </variables>
    <variables>
        <name>DealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DepartureDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailPurchaser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlagForGlobalAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InternalCustomizationTADError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InternalCustomizationWTerror</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListOfOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>order_line_item__c</objectType>
    </variables>
    <variables>
        <name>OLICaseJunctionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLI_Case__c</objectType>
    </variables>
    <variables>
        <name>OliCaseJunctionRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLI_Case__c</objectType>
    </variables>
    <variables>
        <name>OLINameStringField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PassengerCaseRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passenger_Case__c</objectType>
    </variables>
    <variables>
        <name>PaxCaseCollectionData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passenger_Case__c</objectType>
    </variables>
    <variables>
        <name>PaxNameStringField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdDuplicateStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestTypeForPaymentDue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestTypeForSomePax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPaxIdsSomePaxCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SobjectNameforincomingRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SomePax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Some passengers</stringValue>
        </value>
    </variables>
    <variables>
        <name>SomePaxPaxCaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passenger_Case__c</objectType>
    </variables>
    <variables>
        <name>SomePaxPaxCaseSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passenger_Case__c</objectType>
    </variables>
    <variables>
        <name>StorePaymentReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TADOrderMissingFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>testxyz</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>order_line_item__c</objectType>
    </variables>
    <variables>
        <name>WhoIsThisChangeForMissingBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
