force-app/main/default/flows/Create_an_AE_SB_AddOn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Adding_Single_Record_to_Collection_Variable</name>
        <label>Adding Single Record to Collection Variable</label>
        <locationX>1524</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>AE_SB_SingleRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAERecordForAddOn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_rope_in_all_the_PAX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Single_Record_to_Collection_Variable_0</name>
        <label>Adding Single Record to Collection Variable</label>
        <locationX>1985</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>AE_SB_SingleRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAERecordForAddOn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_rope_in_all_the_PAX_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AE_Booleans_as_False</name>
        <label>Assign AE Booleans as False</label>
        <locationX>808</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>AEExceedsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AERequiredBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemFaultAEBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Arrive_early_Field_Mandatory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Arrive_Early</name>
        <label>Assign Arrive Early</label>
        <locationX>517</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>StoreArriveEarlyOrStayBehind</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAE_SBType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Arrive_Early_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SB_Booleans_as_False</name>
        <label>Assign SB Booleans as False</label>
        <locationX>806</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>SBRequiredBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBExceedsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemFaultSBBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stay_Behind_Field_Mandatory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stay_Behind</name>
        <label>Assign Stay Behind</label>
        <locationX>548</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>StoreArriveEarlyOrStayBehind</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAE_SBType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Stay_Behind_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SystemError_AE_Boolean_True</name>
        <label>Assign SystemError AE Boolean True</label>
        <locationX>1206</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>SystemFaultAEBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Arrive_Early_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SystemError_AE_Boolean_True_0</name>
        <label>Assign SystemError AE Boolean True</label>
        <locationX>1148</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>SystemFaultSBBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Stay_Behind_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Values_to_Single_AE_Record</name>
        <label>Assigning Values to Single AE Record</label>
        <locationX>1762</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.AE_SB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arrive_Early</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOLIId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addOnRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.ordexp_new_aesb_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arrive_Early_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.Passenger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_rope_in_all_the_PAX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Single_Record_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Values_to_Single_AE_Record_0</name>
        <label>Assigning Values to Single AE Record</label>
        <locationX>1767</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.AE_SB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stay_Behind</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOLIId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addOnRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.ordexp_new_aesb_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stay_Behind_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAERecordForAddOn.Passenger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_rope_in_all_the_PAX_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Single_Record_to_Collection_Variable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AERequiredBoolean_True</name>
        <label>Set AERequiredBoolean True</label>
        <locationX>859</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>AERequiredBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Arrive_Early_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SBRequiredBoolean_True</name>
        <label>Set SBRequiredBoolean True</label>
        <locationX>840</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>SBRequiredBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Stay_Behind_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAddonCollectionToBlank</name>
        <label>SetAddonCollectionToBlank</label>
        <locationX>1550</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>AE_SB_SingleRecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AE_SB_SingleRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_rope_in_all_the_PAX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAddonCollectionToBlank_0</name>
        <label>SetAddonCollectionToBlank</label>
        <locationX>1665</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>AE_SB_SingleRecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AE_SB_SingleRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_rope_in_all_the_PAX_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoneChoice</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Arrive_early_Field_Mandatory</name>
        <label>Arrive early Field Mandatory</label>
        <locationX>966</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>SetAddonCollectionToBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Arrive_Early</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AERequiredBoolean_True</targetReference>
            </connector>
            <label>AE Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stay_Behind_Field_Mandatory</name>
        <label>Stay Behind Field Mandatory</label>
        <locationX>989</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>SetAddonCollectionToBlank_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SB_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stay_Behind</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SBRequiredBoolean_True</targetReference>
            </connector>
            <label>SB Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_check_For_Arrive_Early_or_Stay_Behind</name>
        <label>To check For Arrive Early or Stay Behind</label>
        <locationX>428</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Arrive_Early</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAE_SBType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arrive Early</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Arrive_Early</targetReference>
            </connector>
            <label>For Arrive Early</label>
        </rules>
        <rules>
            <name>For_Stay_Behind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAE_SBType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stay Behind</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stay_Behind</targetReference>
            </connector>
            <label>For Stay Behind</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GetArriveEarlyRecords</name>
        <dataType>String</dataType>
        <displayField>UI_Name__c</displayField>
        <filterLogic>(1 OR 3) AND 2 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arrive Early</stringValue>
            </value>
        </filters>
        <filters>
            <field>linked_deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Option__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Line_Item_Data.ordexp_Options__c</elementReference>
            </value>
        </filters>
        <object>AE_SB__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetStayBehindRecords</name>
        <dataType>String</dataType>
        <displayField>UI_Name__c</displayField>
        <filterLogic>(1 OR 3) AND 2 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stay Behind</stringValue>
            </value>
        </filters>
        <filters>
            <field>linked_deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Option__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Line_Item_Data.ordexp_Options__c</elementReference>
            </value>
        </filters>
        <object>AE_SB__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>friendlyFaultMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>Create an AE/SB AddOn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create an AE/SB AddOn</label>
    <loops>
        <name>Loop_to_rope_in_all_the_PAX</name>
        <label>Loop to rope in all the PAX</label>
        <locationX>1762</locationX>
        <locationY>308</locationY>
        <collectionReference>SelectedPaxIdsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Values_to_Single_AE_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AE_Addon</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_rope_in_all_the_PAX_0</name>
        <label>Loop to rope in all the PAX</label>
        <locationX>1883</locationX>
        <locationY>679</locationY>
        <collectionReference>SelectedPaxIdsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Values_to_Single_AE_Record_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SB_Addon</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AE_Addon</name>
        <label>Create AE Addon</label>
        <locationX>2210</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Calling_Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_SystemError_AE_Boolean_True</targetReference>
        </faultConnector>
        <inputReference>AE_SB_SingleRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SB_Addon</name>
        <label>Create SB Addon</label>
        <locationX>2223</locationX>
        <locationY>766</locationY>
        <connector>
            <targetReference>Calling_Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_SystemError_AE_Boolean_True_0</targetReference>
        </faultConnector>
        <inputReference>AE_SB_SingleRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AddOn_RecordType_Name</name>
        <label>Get AddOn RecordType Name</label>
        <locationX>309</locationX>
        <locationY>607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_check_For_Arrive_Early_or_Stay_Behind</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>addOnRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AddOn__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Line_Item_Data</name>
        <label>Get Order Line Item Data</label>
        <locationX>176</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AddOn_RecordType_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOLIId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>order_line_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>For_Arrive_Early_Data</name>
        <label>For Arrive Early Data</label>
        <locationX>543</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AE_Booleans_as_False</targetReference>
        </connector>
        <fields>
            <name>CreateAe</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create an AE/SB Addon&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateAddOnArriveEarly</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create Addon - Arrive Early&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequiredFields</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 20, 20);&quot;&gt;Please Select the Arrive Early Field to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AERequiredBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 16, 16);&quot;&gt;{!friendlyFaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SystemFaultAEBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DepartureDate</name>
            <fieldText>&lt;p&gt;Departure Date : {!Get_Order_Line_Item_Data.ordexp_TAD_Order__r.ordexp_departure_date__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Arrive_Early</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>GetArriveEarlyRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Arrive Early</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Arrive_Early_Date</name>
            <dataType>Date</dataType>
            <fieldText>Arrive Early Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AESBFooter1</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceObject</name>
                <value>
                    <elementReference>SourceObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tadOrderId</name>
                <value>
                    <elementReference>TadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>For_Stay_Behind_Data</name>
        <label>For Stay Behind Data</label>
        <locationX>573</locationX>
        <locationY>809</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SB_Booleans_as_False</targetReference>
        </connector>
        <fields>
            <name>CreateSb</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create an AE/SB AddOn&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateAddOnStayBehind</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Create AE/SB Addon - Stay Behind&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequiredFields1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 20, 20);&quot;&gt;Please Select the Stay Behind Field to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SBRequiredBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SystemErrors1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 15, 15);&quot;&gt;{!friendlyFaultMessage}&lt;/span&gt;&lt;span style=&quot;color: rgb(211, 13, 13);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SystemFaultSBBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DepartureDateSB</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Departure Date : {!Get_Order_Line_Item_Data.ordexp_TAD_Order__r.ordexp_departure_date__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stay_Behind</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>GetStayBehindRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stay Behind</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stay_Behind_Date</name>
            <dataType>Date</dataType>
            <fieldText>Stay Behind Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AESBFooter2</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceObject</name>
                <value>
                    <elementReference>SourceObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tadOrderId</name>
                <value>
                    <elementReference>TadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>843</locationY>
        <connector>
            <targetReference>Get_Order_Line_Item_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_Final_Screen</name>
        <label>Calling Final Screen</label>
        <locationX>2421</locationX>
        <locationY>537</locationY>
        <flowName>Create_a_New_AddOn_Success_Message</flowName>
        <inputAssignments>
            <name>AddOnRecordType</name>
            <value>
                <elementReference>StoreArriveEarlyOrStayBehind</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Differentiator_String</name>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceObject</name>
            <value>
                <elementReference>SourceObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>storeAddOnId</name>
            <value>
                <elementReference>storeNewlyCreatedAddOnId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StoreNewOLIId</name>
            <value>
                <elementReference>getOLIId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TadId</name>
            <value>
                <elementReference>TadId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>addOnRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AE_SB_SingleRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddOn__c</objectType>
    </variables>
    <variables>
        <name>AEExceedsBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AERequiredBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GetAE_SBType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getDealIdFromPreviousFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SBExceedsBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SBRequiredBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedPaxIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleAERecordForAddOn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddOn__c</objectType>
    </variables>
    <variables>
        <name>SourceObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>storeAEVarCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StoreArriveEarlyOrStayBehind</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeNewlyCreatedAddOnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeSBVarCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SystemFaultAEBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SystemFaultSBBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Temp_var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>storeNewlyCreatedAddOnId</elementReference>
        </value>
    </variables>
</Flow>
