force-app/main/default/flows/Create_an_OLI_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_outstanding_amount_is_negative</name>
        <label>If outstanding amount is negative</label>
        <locationX>504</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Success_Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_negative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OLI.ordexp_TAD_Order__r.ordexp_amount_outstanding__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen_1_0</targetReference>
            </connector>
            <label>IF negative</label>
        </rules>
    </decisions>
    <interviewLabel>Create an OLI New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create an OLI New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OLI</name>
        <label>Get OLI</label>
        <locationX>519</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_outstanding_amount_is_negative</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreNewOLIId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>order_line_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Success_Screen_1</name>
        <label>Success Screen 1</label>
        <locationX>113</locationX>
        <locationY>270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateOliSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create an OLI&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateOrderLineItemSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(71, 218, 41); background-color: rgb(255, 255, 255);&quot;&gt;Congratulations, your Order Line Item Record has been created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OLIRedirect_1_1</name>
            <extensionName>c:CustomSuccessMessageForLightningFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>StoreNewOLIId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>context</name>
                <value>
                    <stringValue>OLI</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CusFooter1</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceObject</name>
                <value>
                    <elementReference>SourceObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tadOrderId</name>
                <value>
                    <elementReference>TadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_1_0</name>
        <label>Success Screen 1</label>
        <locationX>770</locationX>
        <locationY>244</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OLISuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create an OLI&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateOrderLineItemSuccess_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(71, 218, 41); background-color: rgb(255, 255, 255);&quot;&gt;Congratulations, your Order Line Item Record has been created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OLIRedirect_1_2</name>
            <extensionName>c:CustomSuccessMessageForLightningFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>StoreNewOLIId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>context</name>
                <value>
                    <stringValue>OLI</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CusFooter2</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceObject</name>
                <value>
                    <elementReference>SourceObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tadOrderId</name>
                <value>
                    <elementReference>TadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_OLI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SourceObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>StoreNewOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeTADOrderRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_OLI.ordexp_TAD_Order__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>TadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
