force-app/main/default/flows/CS_Attribution_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Adding_the_Current_CSAtt_Record_to_the_CollectionVar</name>
        <label>Adding the Current CSAtt Record to the CollectionVar</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CSAttributionRecordsCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_over_Existing_Cs_Attribution_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_Existing_Cs_Attribution_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_CS_Status_as_Sold</name>
        <label>Assigning the CS Status as Sold</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Looping_over_Existing_Cs_Attribution_Records.cs_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_the_Current_CSAtt_Record_to_the_CollectionVar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_the_Collection_Var_is_not_empty</name>
        <label>If the Collection Var is not empty</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Existing_attributions_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Oli_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_over_Existing_Cs_Attribution_Records</targetReference>
            </connector>
            <label>If Existing attributions are found.</label>
        </rules>
    </decisions>
    <interviewLabel>CS Attribution Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS Attribution Status Update</label>
    <loops>
        <name>Looping_over_Existing_Cs_Attribution_Records</name>
        <label>Looping over Existing Cs Attribution Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>get_Oli_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_the_CS_Status_as_Sold</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_the_CS_Attribution_Record_all_at_once</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Oli_Records</name>
        <label>get Oli Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_the_Collection_Var_is_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>cs_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CS_Attribution_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_the_CS_Attribution_Record_all_at_once</name>
        <label>Updating the CS Attribution Record all at once</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>CSAttributionRecordsCollectionVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Oli_Records</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secured</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CSAttributionRecordsCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CS_Attribution_POE__c</objectType>
    </variables>
</Flow>
