force-app/main/default/flows/Flow_For_Airline_Upgrade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_both_Boolean_variables_as_False</name>
        <label>Assign both Boolean variables as False</label>
        <locationX>739</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>ShowMandatoryError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>showExceedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordNumberExceedsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Validations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_Record_Collection_Variable_all_the_values</name>
        <label>Assigning Single Record Collection Variable all the values</label>
        <locationX>1345</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>SingleRecordCollectionVariable.Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLineItemRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecordCollectionVariable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddOnRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecordCollectionVariable.Airline_Upgrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Airline_Upgrade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecordCollectionVariable.Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecordCollectionVariable.Passenger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_rope_in_PAX_for_all_ADDOns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Single_Variables_to_Record_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_Variables_to_Record_Collection_Variable</name>
        <label>Assigning Single Variables to Record Collection Variable</label>
        <locationX>1414</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>CollectionVariableForAddOnCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleRecordCollectionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_rope_in_PAX_for_all_ADDOns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ShowMandatoryErrorToTrue</name>
        <label>Set ShowMandatoryErrorToTrue</label>
        <locationX>748</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>ShowMandatoryError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Airline_Upgrade_AddOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAddonCollectionToBlank</name>
        <label>SetAddonCollectionToBlank</label>
        <locationX>1065</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>CollectionVariableForAddOnCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CollectionVariableForAddOnCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_rope_in_PAX_for_all_ADDOns</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoneChoice</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Validations</name>
        <label>Check Validations</label>
        <locationX>891</locationX>
        <locationY>538</locationY>
        <defaultConnector>
            <targetReference>SetAddonCollectionToBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_any_of_the_Fields_are_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Airline_Upgrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ShowMandatoryErrorToTrue</targetReference>
            </connector>
            <label>If any of the Fields are empty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GetAirlineUpgradeRecords</name>
        <dataType>String</dataType>
        <displayField>Addon_Choice_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>airline_upgrade__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FriendlyFaultMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>Flow For Airline Upgrade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow For Airline Upgrade</label>
    <loops>
        <name>Loop_to_rope_in_PAX_for_all_ADDOns</name>
        <label>Loop to rope in PAX for all ADDOns</label>
        <locationX>1200</locationX>
        <locationY>535</locationY>
        <collectionReference>SelectedPaxIdsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Single_Record_Collection_Variable_all_the_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_Multiple_AddOn_Records_at_once</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creating_Multiple_AddOn_Records_at_once</name>
        <label>Creating Multiple AddOn Records at once</label>
        <locationX>1331</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Calling_Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Airline_Upgrade_AddOn</targetReference>
        </faultConnector>
        <inputReference>CollectionVariableForAddOnCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AddOn_RecordType_Name</name>
        <label>Get AddOn RecordType Name</label>
        <locationX>486</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Airline_Upgrade_AddOn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddOnRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AddOn__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderLineItems</name>
        <label>GetOrderLineItems</label>
        <locationX>354</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AddOn_RecordType_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderLineItemRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>order_line_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Airline_Upgrade_AddOn</name>
        <label>Create Airline Upgrade AddOn</label>
        <locationX>631</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_both_Boolean_variables_as_False</targetReference>
        </connector>
        <fields>
            <name>CreateAu</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New Add On&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateAddOnFlightUpgrade</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create AddOn - Airline Upgrade&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequiredFieldsMandatory</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 35, 35);&quot;&gt;&apos;Airline Upgrade&apos; is a mandatory field and must be filled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowMandatoryError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RecordsExceedCondition</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 31, 31);&quot;&gt;Airline Upgrade exists for all the Passenger within this Order Line Item. You can create no more!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecordNumberExceedsBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 20, 20);&quot;&gt;{!FriendlyFaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Airline_Upgrade</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>GetAirlineUpgradeRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Airline Upgrade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AirlineFooter1</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceObject</name>
                <value>
                    <elementReference>SourceObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tadOrderId</name>
                <value>
                    <elementReference>TadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>161</locationX>
        <locationY>802</locationY>
        <connector>
            <targetReference>GetOrderLineItems</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_Final_Screen</name>
        <label>Calling Final Screen</label>
        <locationX>1678</locationX>
        <locationY>117</locationY>
        <flowName>Create_a_New_AddOn_Success_Message</flowName>
        <inputAssignments>
            <name>AddOnRecordType</name>
            <value>
                <elementReference>Get_AddOn_RecordType_Name.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Differentiator_String</name>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceObject</name>
            <value>
                <elementReference>SourceObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StoreNewOLIId</name>
            <value>
                <elementReference>OrderLineItemRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TadId</name>
            <value>
                <elementReference>TadId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AddOnRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionVariableForAddOnCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddOn__c</objectType>
    </variables>
    <variables>
        <name>getDealIdFromPreviousFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderLineItemRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordNumberExceedsBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedPaxIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showExceedError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowMandatoryError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleRecordCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddOn__c</objectType>
    </variables>
    <variables>
        <name>SourceObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>StoreNewAirlineUpgradeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
