force-app/main/default/flows/Flow_For_AE_SB_Accommodation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_AE_Accom_Boolean_as_True</name>
        <label>Assign AE Accom Boolean as True</label>
        <locationX>837</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>AEAccomBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AE_Accom_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AE_Error_Boolean_as_False</name>
        <label>Assign AE Error Boolean as False</label>
        <locationX>1000</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>AEAccomBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AENightsBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_AE_Accom_is_None</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AE_Error_Boolean_as_False_0</name>
        <label>Assign SB Error Boolean as False</label>
        <locationX>1004</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>SBAccomBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBNightBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_SB_Accom_is_None</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AE_Night_Boolean_True</name>
        <label>Assign AE Night Boolean True</label>
        <locationX>1090</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>AENightsBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AE_Accom_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SB_Accom_Boolean_as_True</name>
        <label>Assign SB Accom Boolean as True</label>
        <locationX>976</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>SBAccomBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AE_Accom_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SB_Nights_Boolean_as_True</name>
        <label>Assign SB Nights Boolean as True</label>
        <locationX>1117</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>SBNightBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AE_Accom_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddonRecordCollection</name>
        <label>AssignAddonRecordCollection</label>
        <locationX>1489</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>AddonRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddonRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverPaxIdsList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddonRecordCollection_0</name>
        <label>AssignAddonRecordCollection</label>
        <locationX>1517</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>AddonRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddonRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverPaxIdsList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddonSingleRecord</name>
        <label>AssignAddonSingleRecord</label>
        <locationX>1215</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.AE_Nights__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AE_Nights</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.AE_SB_Accommodation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arrive_Early_Accommodation1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOliIdFromPreviousFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAddOnrecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.Passenger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverPaxIdsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAddonRecordCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddonSingleRecord_0</name>
        <label>AssignAddonSingleRecord</label>
        <locationX>1249</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.SB_Nights__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SB_Nights</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.AE_SB_Accommodation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stay_Behind_Accommodation1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOliIdFromPreviousFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAddOnrecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddonRecordSingle.Passenger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverPaxIdsList_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAddonRecordCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAddonCollectionToNull</name>
        <label>SetAddonCollectionToNull</label>
        <locationX>1215</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>AddonRecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AddonRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverPaxIdsList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAddonCollectionToNull_0</name>
        <label>SetAddonCollectionToNull</label>
        <locationX>1260</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>AddonRecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AddonRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverPaxIdsList_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoneChoice</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </choices>
    <constants>
        <name>AE_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Arrive Early</stringValue>
        </value>
    </constants>
    <constants>
        <name>AEAccomConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AE Accommodation</stringValue>
        </value>
    </constants>
    <constants>
        <name>SB_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Stay Behind</stringValue>
        </value>
    </constants>
    <constants>
        <name>SBAccomConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SB Accommodation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_AE_Accom_is_None</name>
        <label>If AE Accom is None</label>
        <locationX>1094</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>SetAddonCollectionToNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AE_Accom_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Arrive_Early_Accommodation1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AE_Accom_Boolean_as_True</targetReference>
            </connector>
            <label>If AE Accom None</label>
        </rules>
        <rules>
            <name>If_AE_Nights_Greater_Than_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AE_Nights</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AE_Night_Boolean_True</targetReference>
            </connector>
            <label>If AE Nights Greater Than 14</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SB_Accom_is_None</name>
        <label>If SB Accom is None</label>
        <locationX>1141</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>SetAddonCollectionToNull_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SB_Accom_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stay_Behind_Accommodation1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SB_Accom_Boolean_as_True</targetReference>
            </connector>
            <label>If SB Accom None</label>
        </rules>
        <rules>
            <name>If_SB_Night_Greater_Than_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SB_Nights</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SB_Nights_Boolean_as_True</targetReference>
            </connector>
            <label>If SB Night Greater Than 14</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_check_if_it_s_AE_Accom_or_SB_Accom</name>
        <label>To check if it&apos;s AE Accom or SB Accom</label>
        <locationX>766</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_AE_Acccom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AE_SBAccomodationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AEAccomConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AE_Accom_Screen</targetReference>
            </connector>
            <label>For AE Acccom</label>
        </rules>
        <rules>
            <name>If_SB_Accom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AE_SBAccomodationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SBAccomConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AE_Accom_Screen_0</targetReference>
            </connector>
            <label>If SB Accom</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ArriveEarlyPicklistSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>orderxp_AE_SB_Accommodation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AE_Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>ordexp_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <object>mp_AE_SB_Accommodation__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StayBehindPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>orderxp_AE_SB_Accommodation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SB_Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>ordexp_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDealIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <object>mp_AE_SB_Accommodation__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FriendlyFaultMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>Flow For AE/SB Accommodation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow For AE/SB Accommodation</label>
    <loops>
        <name>LoopOverPaxIdsList</name>
        <label>LoopOverPaxIdsList</label>
        <locationX>1344</locationX>
        <locationY>197</locationY>
        <collectionReference>SelectedPaxIdsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAddonSingleRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AE_Accom_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverPaxIdsList_0</name>
        <label>LoopOverPaxIdsList</label>
        <locationX>1388</locationX>
        <locationY>772</locationY>
        <collectionReference>SelectedPaxIdsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAddonSingleRecord_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SB_Accom_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AE_Accom_Record</name>
        <label>Create AE Accom Record</label>
        <locationX>1600</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>Calling_Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AE_Accom_Screen</targetReference>
        </faultConnector>
        <inputReference>AddonRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SB_Accom_Record</name>
        <label>Create SB Accom Record</label>
        <locationX>1627</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Calling_Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AE_Accom_Screen_0</targetReference>
        </faultConnector>
        <inputReference>AddonRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AddOn_RecordType_Name</name>
        <label>Get AddOn RecordType Name</label>
        <locationX>635</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_check_if_it_s_AE_Accom_or_SB_Accom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAddOnrecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AddOn__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OLI_Data</name>
        <label>Get OLI Data</label>
        <locationX>493</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AddOn_RecordType_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOliIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>order_line_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AE_Accom_Screen</name>
        <label>AE Accom Screen</label>
        <locationX>804</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AE_Error_Boolean_as_False</targetReference>
        </connector>
        <fields>
            <name>CreateAeAccom</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New Add On&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AEAccomHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Create AddOn - AE Accommodation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AEAccomErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 35, 35);&quot;&gt;Please select the Arrive Early Accommodation Field to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AEAccomBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 20, 20); background-color: rgb(255, 255, 255);&quot;&gt;{!FriendlyFaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AENightsError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 35, 35);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;AE Nights cannot be greater than 14&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AENightsBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Arrive_Early_Accommodation1</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>ArriveEarlyPicklistSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Arrive Early Accommodation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AE_Nights</name>
            <dataType>Number</dataType>
            <fieldText>AE Nights</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>AccomeScreenFooter1</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceObject</name>
                <value>
                    <elementReference>SourceObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tadOrderId</name>
                <value>
                    <elementReference>TadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AE_Accom_Screen_0</name>
        <label>AE Accom Screen</label>
        <locationX>823</locationX>
        <locationY>760</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AE_Error_Boolean_as_False_0</targetReference>
        </connector>
        <fields>
            <name>CreateSbAccom</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New Add On&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SBAccomHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Create AddOn - SB Accommodation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SBAccomErrorMEssage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 35, 35);&quot;&gt;Please select the Stay Behind Accommodation Field to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SBAccomBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SBNightError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 18, 18);&quot;&gt;SB Nights cannot be greater than 14&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>SBNightBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FaultMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 20, 20); background-color: rgb(255, 255, 255);&quot;&gt;{!FriendlyFaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stay_Behind_Accommodation1</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>StayBehindPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stay Behind Accommodation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SB_Nights</name>
            <dataType>Number</dataType>
            <fieldText>SB Nights</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SBAccomScreenFooter</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceObject</name>
                <value>
                    <elementReference>SourceObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tadOrderId</name>
                <value>
                    <elementReference>TadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>48</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Get_OLI_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_Final_Screen</name>
        <label>Calling Final Screen</label>
        <locationX>1720</locationX>
        <locationY>492</locationY>
        <flowName>Create_a_New_AddOn_Success_Message</flowName>
        <inputAssignments>
            <name>AddOnRecordType</name>
            <value>
                <elementReference>Get_AddOn_RecordType_Name.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Differentiator_String</name>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceObject</name>
            <value>
                <elementReference>SourceObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>storeAddOnId</name>
        </inputAssignments>
        <inputAssignments>
            <name>StoreNewOLIId</name>
            <value>
                <elementReference>getOliIdFromPreviousFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TadId</name>
            <value>
                <elementReference>TadId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AddonRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddOn__c</objectType>
    </variables>
    <variables>
        <name>AddonRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddOn__c</objectType>
    </variables>
    <variables>
        <name>AE_SBAccomodationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AEAccomBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AENightsBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>getAddOnrecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getDealIdFromPreviousFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getOliIdFromPreviousFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SBAccomBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SBNightBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedPaxIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>storeNewlyCreatedAddOnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
