force-app/main/default/flows/Flow_for_Visa_Insurance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Calling_Apex_For_Visa_Record_Creation</name>
        <label>Calling Apex For Visa Record Creation</label>
        <locationX>1179</locationX>
        <locationY>124</locationY>
        <actionName>ConvertIntegerToString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assigning_Single_Visa_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RequestInt</name>
            <value>
                <elementReference>Quantity1</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CollectionVariableToStoreInvocableResult</assignToReference>
            <name>RequestResult</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_count_Of_Existing_Insurance_Records</name>
        <label>Assign count Of Existing Insurance Records</label>
        <locationX>1193</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>StoreExistingInsuranceCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Select_existing_count_of_Insurance_Records_On_OLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Existing_Insurance_Records_greater_than_No_of_PAX_on_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Insurance_Empty_Boolean</name>
        <label>Assign Insurance Empty Boolean</label>
        <locationX>812</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>InsuanceFieldsEmptyBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insurance_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_multiple_Variables_for_Visa_Records</name>
        <label>Assign multiple Variables for Visa Records</label>
        <locationX>1487</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>CollectionVariableForMultipleVisas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleVisaRecordCollectionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Creating_Visa_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Existing_VISA_Records</name>
        <label>Assign Total Existing VISA Records</label>
        <locationX>1013</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>StoreExistingVisaRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Select_existing_count_of_Visa_Records_On_OLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Existing_VISA_Records_greater_than_No_of_PAX_on_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visa_Error_Boolean_as_True</name>
        <label>Assign Visa Error Boolean as True</label>
        <locationX>410</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>VisaFieldEmptyBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Visa_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visa_Exceeds_Boolean_as_True</name>
        <label>Assign Visa Exceeds Boolean as True</label>
        <locationX>614</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>VisaExceedsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Visa_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visa_Exceeds_Boolean_as_True_0</name>
        <label>Assign Visa Exceeds Boolean as True</label>
        <locationX>826</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>InsuranceExceedsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insurance_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_Visa_Record</name>
        <label>Assigning Single Visa Record</label>
        <locationX>1323</locationX>
        <locationY>1</locationY>
        <assignmentItems>
            <assignToReference>SingleVisaRecordCollectionVariable.Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOLIIdFromPreviousFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVisaRecordCollectionVariable.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAX_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVisaRecordCollectionVariable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visa_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVisaRecordCollectionVariable.Visa_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visa_Reference_Number1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVisaRecordCollectionVariable.Visa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Creating_Visa_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVisaBooleansAsFalse</name>
        <label>AssignVisaBooleansAsFalse</label>
        <locationX>548</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>VisaFieldEmptyBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisaExceedsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Visa_Field_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVisaBooleansAsFalse_0</name>
        <label>AssignVisaBooleansAsFalse</label>
        <locationX>892</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>InsuanceFieldsEmptyBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceExceedsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsurancePolicyNumber_RetainVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Policy_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceSalePrice_RetainVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Sale_PRice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsurancePolicyDate_RetainVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Policy_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Insurance_Fields_Empty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoneChoice</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAX_0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_8</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PAX_9</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Existing_Insurance_Records_greater_than_No_of_PAX_on_OLI</name>
        <label>Are Existing Insurance Records greater than No of PAX on OLI</label>
        <locationX>1214</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Create_Insurance_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Greater_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreExistingInsuranceCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Line_Item_Record.PAX_Qty__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Visa_Exceeds_Boolean_as_True_0</targetReference>
            </connector>
            <label>If Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Existing_VISA_Records_greater_than_No_of_PAX_on_OLI</name>
        <label>Are Existing VISA Records greater than No of PAX on OLI</label>
        <locationX>1003</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>Calling_Apex_For_Visa_Record_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreExistingVisaRecords</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Line_Item_Record.PAX_Qty__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Visa_Exceeds_Boolean_as_True</targetReference>
            </connector>
            <label>If Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Insurance_Fields_Empty</name>
        <label>If Insurance Fields Empty</label>
        <locationX>1004</locationX>
        <locationY>879</locationY>
        <defaultConnector>
            <targetReference>Select_existing_count_of_Insurance_Records_On_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_empty</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Cover_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Insurance_Regions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Insurance_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Insurance_Empty_Boolean</targetReference>
            </connector>
            <label>If empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Visa_Or_Insurance</name>
        <label>If Visa Or Insurance</label>
        <locationX>434</locationX>
        <locationY>740</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Visa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfVisaOrInsurance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Visa_Record_Type_ID</targetReference>
            </connector>
            <label>For Visa</label>
        </rules>
        <rules>
            <name>If_Insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfVisaOrInsurance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insurance_Record_Type_ID</targetReference>
            </connector>
            <label>If Insurance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Visa_Field_Empty</name>
        <label>Is Visa Field Empty?</label>
        <locationX>504</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>Select_existing_count_of_Visa_Records_On_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Visa_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Visa_Error_Boolean_as_True</targetReference>
            </connector>
            <label>If Visa not selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CoverTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cover_Type__c</picklistField>
        <picklistObject>Visa_Insurance_POE__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetAllVisaRecordsPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Visa__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InsuranceRegionsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Insurance_Region__c</picklistField>
        <picklistObject>Visa_Insurance_POE__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InsuranceTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Insurance_Type__c</picklistField>
        <picklistObject>Visa_Insurance_POE__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Flow for Visa &amp; Insurance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for Visa &amp; Insurance</label>
    <loops>
        <name>Loop_for_Creating_Visa_Records</name>
        <label>Loop for Creating Visa Records</label>
        <locationX>1491</locationX>
        <locationY>64</locationY>
        <collectionReference>CollectionVariableToStoreInvocableResult</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_multiple_Variables_for_Visa_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Multiple_Visa_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Insurance_Records</name>
        <label>Create Insurance Records</label>
        <locationX>1403</locationX>
        <locationY>860</locationY>
        <assignRecordIdToReference>StoreNewlyCreatedInsuranceRecord</assignRecordIdToReference>
        <connector>
            <targetReference>calling_final_screen_for_Insurance</targetReference>
        </connector>
        <inputAssignments>
            <field>Cover_Type__c</field>
            <value>
                <elementReference>Cover_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Policy_Date__c</field>
            <value>
                <elementReference>Insurance_Policy_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Region__c</field>
            <value>
                <elementReference>Insurance_Regions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Sale_Price__c</field>
            <value>
                <elementReference>Insurance_Sale_PRice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Type__c</field>
            <value>
                <elementReference>Insurance_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Line_Item__c</field>
            <value>
                <elementReference>getOLIIdFromPreviousFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>Policy_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Insurance_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Visa_Insurance_POE__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Multiple_Visa_Records</name>
        <label>Create Multiple Visa Records</label>
        <locationX>1662</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>calling_final_screen_for_Insurance_0</targetReference>
        </connector>
        <inputReference>CollectionVariableForMultipleVisas</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Insurance_Record_Type_ID</name>
        <label>Get Insurance Record Type ID</label>
        <locationX>585</locationX>
        <locationY>882</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insurance_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IfVisaOrInsurance</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visa_Insurance_POE__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Line_Item_Record</name>
        <label>Get Order Line Item Record</label>
        <locationX>288</locationX>
        <locationY>738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Visa_Or_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOLIIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>order_line_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visa_Record_Type_ID</name>
        <label>Get Visa Record Type ID</label>
        <locationX>585</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Visa_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IfVisaOrInsurance</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visa_Insurance_POE__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Select_existing_count_of_Insurance_Records_On_OLI</name>
        <label>Select existing count of Insurance Records On OLI</label>
        <locationX>1030</locationX>
        <locationY>738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_count_Of_Existing_Insurance_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOLIIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Insurance_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visa_Insurance_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Select_existing_count_of_Visa_Records_On_OLI</name>
        <label>Select existing count of Visa Records On OLI</label>
        <locationX>843</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_Existing_VISA_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOLIIdFromPreviousFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visa_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visa_Insurance_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Insurance_Screen</name>
        <label>Insurance Screen</label>
        <locationX>738</locationX>
        <locationY>883</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignVisaBooleansAsFalse_0</targetReference>
        </connector>
        <fields>
            <name>CreateInsurance</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New Add On&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateAddOnForInsurance</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Create Visa &amp;amp; Insurance AddOn - Insurance&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InsuranceMandatoryFieldsError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 38, 38);&quot;&gt;All the fields visible on the screen are mandatory!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InsuanceFieldsEmptyBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InsuranceExceedsError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(228, 38, 38);&quot;&gt;You cannot create Visa &amp;amp; Insurance records of Record Type Insurance greater the the PAX on OLI.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InsuranceExceedsBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Policy_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>InsurancePolicyNumber_RetainVar</elementReference>
            </defaultValue>
            <fieldText>Policy Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insurance_Type</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>InsuranceTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Insurance Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cover_Type</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>CoverTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cover Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insurance_Sale_PRice</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>InsuranceSalePrice_RetainVar</elementReference>
            </defaultValue>
            <fieldText>Insurance Sale Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Insurance_Policy_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>InsurancePolicyDate_RetainVar</elementReference>
            </defaultValue>
            <fieldText>Insurance Policy Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insurance_Regions</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>InsuranceRegionsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Insurance Regions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VisaInsuranceScreenFooter2</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visa_Screen</name>
        <label>Visa Screen</label>
        <locationX>606</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignVisaBooleansAsFalse</targetReference>
        </connector>
        <fields>
            <name>CreateVisa</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New Add On&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateAddOnForVisa</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create Visa &amp;amp; Insurance AddOn - Visa&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VisaEmptyErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 38, 38);&quot;&gt;All the fields visible on the screen are mandatory!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VisaFieldEmptyBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Visa_Exceeds_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 38, 38); background-color: rgb(255, 255, 255);&quot;&gt;You cannot create Visa &amp;amp; Insurance records of Record Type Visa greater the the PAX on OLI.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VisaExceedsBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Visa</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>GetAllVisaRecordsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Visa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visa_Reference_Number1</name>
            <dataType>String</dataType>
            <fieldText>Visa Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity1</name>
            <choiceReferences>PAX_0</choiceReferences>
            <choiceReferences>PAX_1</choiceReferences>
            <choiceReferences>PAX_2</choiceReferences>
            <choiceReferences>PAX_3</choiceReferences>
            <choiceReferences>PAX_4</choiceReferences>
            <choiceReferences>PAX_5</choiceReferences>
            <choiceReferences>PAX_6</choiceReferences>
            <choiceReferences>PAX_7</choiceReferences>
            <choiceReferences>PAX_8</choiceReferences>
            <choiceReferences>PAX_9</choiceReferences>
            <choiceReferences>PAX_10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>VisaInsuranceScreenFooter</name>
            <extensionName>c:CustomFooterForLightningFlows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Get_Order_Line_Item_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>calling_final_screen_for_Insurance</name>
        <label>Calling final screen for Insurance</label>
        <locationX>1613</locationX>
        <locationY>912</locationY>
        <flowName>Create_a_New_AddOn_Success_Message</flowName>
        <inputAssignments>
            <name>AddOnRecordType</name>
            <value>
                <elementReference>Get_Insurance_Record_Type_ID.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Differentiator_String</name>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>storeAddOnId</name>
            <value>
                <elementReference>StoreNewlyCreatedInsuranceRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StoreNewOLIId</name>
            <value>
                <elementReference>getOLIIdFromPreviousFlow</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>calling_final_screen_for_Insurance_0</name>
        <label>Calling final screen for Insurance</label>
        <locationX>1910</locationX>
        <locationY>58</locationY>
        <flowName>Create_a_New_AddOn_Success_Message</flowName>
        <inputAssignments>
            <name>AddOnRecordType</name>
            <value>
                <elementReference>Get_Visa_Record_Type_ID.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Differentiator_String</name>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StoreNewOLIId</name>
            <value>
                <elementReference>getOLIIdFromPreviousFlow</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CollectionVariableForMultipleVisas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visa_Insurance_POE__c</objectType>
    </variables>
    <variables>
        <name>CollectionVariableToStoreInvocableResult</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getOLIIdFromPreviousFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IfVisaOrInsurance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsuanceFieldsEmptyBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InsuranceExceedsBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InsurancePolicyDate_RetainVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsurancePolicyNumber_RetainVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsuranceSalePrice_RetainVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SingleVisaRecordCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visa_Insurance_POE__c</objectType>
    </variables>
    <variables>
        <name>StoreExistingInsuranceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StoreExistingVisaRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StoreNewlyCreatedInsuranceRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreNewlyCreateVisaRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisaExceedsBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VisaFieldEmptyBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
