force-app/main/default/flows/Link_PNR_Actuals_to_PNR_Accounting_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <interviewLabel>Link PNR Actuals to PNR Accounting Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link PNR Actuals to PNR Accounting Line</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PNR_Accounting_line</name>
        <label>Get PNR Accounting line</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_Actuals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>document_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ticket__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PNR_Accounting_Line_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Actuals</name>
        <label>Link Actuals</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>PNR_Accounting_Line__c</field>
            <value>
                <elementReference>Get_PNR_Accounting_line.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PNR_Accounting_line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ticket__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PNR_Actuals__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
