force-app/main/default/flows/Manage_Departures_Dates_PB_to_Flow_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Adding_the_TAD_Order_from_loop_to_the_Collection_Variable</name>
        <label>Adding the TAD Order from loop to the Collection Variable</label>
        <locationX>138</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>TADOrderCollectionVarToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_over_the_TAD_Orders_retrieved_Collection_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_the_TAD_Orders_retrieved_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Min_Numbers_Email_Sent_to_True</name>
        <label>Assigning Min Numbers Email Sent to True</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Looping_over_the_TAD_Orders_retrieved_Collection_Variable.Min_Numbers_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_the_TAD_Order_from_loop_to_the_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Min_Numbers</name>
        <label>Check for Min Numbers</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_all_Related_TAD_Order_for_the_Min_Numbers_Email_Sent_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Min_Numbers_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Min_In_Progress__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Minimum__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.min_numbers_met__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Getting_the_Hotel_Room_Availability_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_In_Progress_ON__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Minimum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_Min_Number_Met_to_True</targetReference>
            </connector>
            <label>Min Numbers Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_TAD_Orders_exist</name>
        <label>If the TAD Orders exist</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_the_TAD_Order_Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_all_the_related_TAD_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_over_the_TAD_Orders_retrieved_Collection_Variable</targetReference>
            </connector>
            <label>If the TAD Order Count &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_all_Related_TAD_Order_for_the_Min_Numbers_Email_Sent_field</name>
        <label>Update all Related TAD Order for the Min Numbers Email Sent field</label>
        <locationX>380</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_to_update_TAD_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Min_Numbers_Met_Send_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Min_Numbers_Met_Send_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Getting_the_Hotel_Room_Availability_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_all_the_related_TAD_Order_Records</targetReference>
            </connector>
            <label>Check to update TAD Orders</label>
        </rules>
    </decisions>
    <interviewLabel>Manage Departures Dates - PB to Flow - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Departures Dates - PB to Flow - After Update</label>
    <loops>
        <name>Looping_over_the_TAD_Orders_retrieved_Collection_Variable</name>
        <label>Looping over the TAD Orders retrieved Collection Variable</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <collectionReference>Getting_all_the_related_TAD_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Min_Numbers_Email_Sent_to_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_all_the_TAD_Order_records_at_once</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_all_the_related_TAD_Order_Records</name>
        <label>Getting all the related TAD Order Records</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_the_TAD_Orders_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_departure_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_purchase_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Min_Numbers_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TAD_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_the_Hotel_Room_Availability_Record_Type</name>
        <label>Getting the Hotel Room Availability Record Type</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Min_Numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>departures_dates__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hotel_Room_Availability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_all_the_TAD_Order_records_at_once</name>
        <label>Updating all the TAD Order records at once</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <inputReference>TADOrderCollectionVarToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_the_Min_Number_Met_to_True</name>
        <label>Updating the Min Number Met to True</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_all_Related_TAD_Order_for_the_Min_Numbers_Email_Sent_field</targetReference>
        </connector>
        <inputAssignments>
            <field>min_numbers_met__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_the_Hotel_Room_Availability_Record_Type</targetReference>
        </connector>
        <object>departures_dates__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MinNumbersMetBooleanVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TADOrderCollectionVarToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TAD_Order__c</objectType>
    </variables>
</Flow>
