force-app/main/default/flows/Manage_Coupon_And_Order_Comms_for_March_2023_Incentive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Record_Type_For_Currency_Code</name>
        <label>Check Record Type For Currency Code</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Create_a_Coupon_Voucher_NZD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NZD</defaultConnectorLabel>
        <rules>
            <name>AUD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Coupon_Voucher_AUD</targetReference>
            </connector>
            <label>AUD</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Coupon_Exit</name>
        <label>is Coupon Exit</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Coupon_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Order_Comms_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Contact_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>CouponName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ordexp_account__r.LastName}+RIGHT({!$Record.Id}, 6)</expression>
    </formulas>
    <formulas>
        <name>DEALTYPE</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.ordexp_deal__r.deal_type__c},&quot;Cruise&quot;),&quot;Cruise&quot;, IF(INCLUDES({!$Record.ordexp_deal__r.deal_type__c},&quot;Stay&quot;),&quot;Hotel&quot;,&quot;Tour&quot;))</expression>
    </formulas>
    <formulas>
        <name>NewFeefoSurvey</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.tripadeal.com.au/genFeefoLink/&quot;+{!$Record.Full_SFID__c}+&quot;/&quot;+{!$Record.Full_SFID__c}+&quot;?tag=NewFeefoSurvey&quot;</expression>
    </formulas>
    <formulas>
        <name>NewRepeat</name>
        <dataType>String</dataType>
        <expression>IF(DATEVALUE({!$Record.CreatedDate})=DATEVALUE({!$Record.ordexp_account__r.CreatedDate}),&quot;New&quot;,&quot;Repeat&quot;)</expression>
    </formulas>
    <formulas>
        <name>PhoneURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://tripadeal.qualtrics.com/jfe/form/SV_b4sR4sTUyrMXURU?ContactID=&quot;&amp;{!$Record.Id}&amp;&quot;&amp;phone%20vs%20web=phone&quot;&amp;&quot;&amp;sales%20consultant=&quot;&amp;{!$Record.CreatedBy.FirstName}&amp;&quot;%20&quot;&amp;{!$Record.CreatedBy.LastName}&amp;&quot;&amp;sales%20consultant%20team%20leader=&quot;&amp;{!$Record.CreatedBy.Manager.FirstName}&amp;&quot;%20&quot;&amp;{!$Record.CreatedBy.Manager.LastName}&amp;&quot;&amp;customer%20age=&quot;&amp;TEXT({!$Record.ordexp_account__r.Age_Range__c})&amp;&quot;&amp;postcode=&quot;&amp;{!$Record.Postcode__c}&amp;&quot;&amp;departure%20city=&quot;&amp;{!$Record.Departure_City_Text__c}&amp;&quot;&amp;qff%20member=&quot;&amp;{!QFFMember}&amp;&quot;&amp;payment%20type=mixed&quot;&amp;&quot;&amp;deal%20id=&quot;&amp;{!$Record.ordexp_deal__r.Name}&amp;&quot;&amp;deal%20price=&quot;&amp;TEXT({!$Record.ordexp_deal__r.price__c})&amp;&quot;&amp;order%20value=&quot;&amp;TEXT({!$Record.ordexp_total_price__c})&amp;&quot;&amp;order%20creation%20date=&quot;&amp;TEXT(DATEVALUE({!$Record.CreatedDate}))&amp;&quot;&amp;deal%20type=&quot;&amp;{!DEALTYPE}&amp;&quot;&amp;new%20vs%20repeat%20customer=&quot;&amp;{!NewRepeat}&amp;&quot;&amp;deal%20name=&quot;&amp;SUBSTITUTE({!$Record.ordexp_deal__r.title__c},&quot; &quot;,&quot;%20&quot;)</expression>
    </formulas>
    <formulas>
        <name>QFFMember</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Qantas_Frequent_Flyer_Number__c}),&quot;FALSE&quot;,&quot;TRUE&quot;)</expression>
    </formulas>
    <formulas>
        <name>WebURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://tripadeal.qualtrics.com/jfe/form/SV_bBH10L8no5JeYVU?ContactID=&quot;&amp;{!$Record.Id}&amp;&quot;&amp;phone%20vs%20web=web&quot;&amp;&quot;&amp;sales%20consultant=&quot;&amp;{!$Record.CreatedBy.FirstName}&amp;&quot;%20&quot;&amp;{!$Record.CreatedBy.LastName}&amp;&quot;&amp;sales%20consultant%20team%20leader=&quot;&amp;{!$Record.CreatedBy.Manager.FirstName}&amp;&quot;%20&quot;&amp;{!$Record.CreatedBy.Manager.LastName}&amp;&quot;&amp;customer%20age=&quot;&amp;TEXT({!$Record.ordexp_account__r.Age_Range__c})&amp;&quot;&amp;postcode=&quot;&amp;{!$Record.Postcode__c}&amp;&quot;&amp;departure%20city=&quot;&amp;{!$Record.Departure_City_Text__c}&amp;&quot;&amp;qff%20member=&quot;&amp;{!QFFMember}&amp;&quot;&amp;payment%20type=mixed&quot;&amp;&quot;&amp;deal%20id=&quot;&amp;{!$Record.ordexp_deal__r.Name}&amp;&quot;&amp;deal%20name=&quot;&amp;SUBSTITUTE({!$Record.ordexp_deal__r.title__c},&quot; &quot;,&quot;%20&quot;)&amp;&quot;&amp;deal%20price=&quot;&amp;TEXT({!$Record.ordexp_deal__r.price__c})&amp;&quot;&amp;order%20value=&quot;&amp;TEXT({!$Record.ordexp_total_price__c})&amp;&quot;&amp;order%20creation%20date=&quot;&amp;TEXT(DATEVALUE({!$Record.CreatedDate}))&amp;&quot;&amp;deal%20type=&quot;&amp;{!DEALTYPE}&amp;&quot;&amp;new%20vs%20repeat%20customer=&quot;&amp;{!NewRepeat}</expression>
    </formulas>
    <interviewLabel>Manage Coupon And Order Comms for March 2023 Incentive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Coupon And Order Comms for March 2023 Incentive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Coupon_Voucher_AUD</name>
        <label>Create a Coupon/Voucher - AUD</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Create_a_new_Order_communication_code_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Email__c</field>
            <value>
                <elementReference>$Record.ordexp_email_purchaser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coupon_type__c</field>
            <value>
                <stringValue>Loyalty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>March Repeat Customer Incentive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <dateValue>2023-03-31</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_order_value__c</field>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CouponName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usage__c</field>
            <value>
                <stringValue>Balance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record.ordexp_account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>currency_code__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>usable_count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>coupon__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Coupon_Voucher_NZD</name>
        <label>Create a Coupon/Voucher - NZD</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Create_a_new_Order_communication_code_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Email__c</field>
            <value>
                <elementReference>$Record.ordexp_email_purchaser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coupon_type__c</field>
            <value>
                <stringValue>Loyalty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>March Repeat Customer Incentive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <dateValue>2023-03-31</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_order_value__c</field>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CouponName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usage__c</field>
            <value>
                <stringValue>Balance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record.ordexp_account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>currency_code__c</field>
            <value>
                <stringValue>NZD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>usable_count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>coupon__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_new_Order_communication_code_Phone</name>
        <label>Create a new Order communication code - Phone</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coupon_Name__c</field>
            <value>
                <elementReference>CouponName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_SFID__c</field>
            <value>
                <elementReference>$Record.Full_SFID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>March Repeat Customer Incentive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.ordexp_email_purchaser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_first_name__c</field>
            <value>
                <elementReference>$Record.Purchaser_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_full_name__c</field>
            <value>
                <elementReference>$Record.Purchaser_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser_last_name__c</field>
            <value>
                <elementReference>$Record.Purchaser_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Contact_Record</name>
        <label>get Contact Record</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type_For_Currency_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ordexp_account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Coupon_Record</name>
        <label>get Coupon Record</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Order_Comms_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Min_order_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CouponName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_From_Feefo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>coupon__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Order_Comms_Records</name>
        <label>get Order Comms Records</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Coupon_Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>communication_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>March Repeat Customer Incentive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Coupon_Record</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND (5 AND 6)</filterLogic>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_sub_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_sub_status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_final_return_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2023-02-27</dateValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_final_return_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2023-03-27</dateValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
