force-app/main/default/flows/Manage_Departures_Dates_PB_to_Flow_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assigning_Deal_For_Reporting_From_Options_Lookup</name>
        <label>Assigning Deal For Reporting From Options Lookup</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deal_for_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.options__r.Deal__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_the_Departures_Dates_Site_contains_AU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Deal_For_Reporting_From_Sub_Options_Lookup</name>
        <label>Assigning Deal For Reporting From Sub Options Lookup</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deal_for_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sub_options__r.Deal__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_the_Departures_Dates_Site_contains_AU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Departures_Dates_Values_for_Offline_Manual</name>
        <label>Assigning Departures Dates Values for Offline Manual</label>
        <locationX>314</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.recently_expired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.online_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Offline - Manual</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assigning_Departures_Dates_Values_for_Offline_Manual_0</name>
        <label>Assigning Departures Dates Values for Offline Manual</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.recently_expired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.online_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Offline - Auto</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assigning_Departures_Dates_Values_for_Online_Status</name>
        <label>Assigning Departures Dates Values for Online Status</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.recently_expired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.online_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assigning_HSS_AU_checkbox_to_True</name>
        <label>Assigning HSS AU checkbox to True</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.HSS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_For_the_HSS_Amount_on_Departure_Date_NZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_HSS_NZ_checkbox_to_True</name>
        <label>Assigning HSS NZ checkbox to True</label>
        <locationX>314</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>$Record.HSS_nz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Checks_on_Departure_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_Deal_for_Reporting_with_Deal_Lookup</name>
        <label>Assigning the Deal for Reporting with Deal Lookup</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deal_for_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Deal__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_the_Departures_Dates_Site_contains_AU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_Departure_Date_Value_into_to_ID_Field</name>
        <label>Assigning the Departure Date Value into to ID Field</label>
        <locationX>446</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextForDepartureDateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_the_Hotel_Room_Availability_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Values_into_Order_Filter_for_AU_Site</name>
        <label>Assigning Values into Order Filter for AU Site</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.order_filter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAD TC NRMA </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_the_Departure_Date_Value_into_to_ID_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Values_into_Order_Filter_for_both_AU_AND_NZ_Site</name>
        <label>Assigning Values into Order Filter for both AU AND NZ Site</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.order_filter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAD TC NRMA TNZ WT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_the_Departure_Date_Value_into_to_ID_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Values_into_Order_Filter_for_NZ_Site</name>
        <label>Assigning Values into Order Filter for NZ Site</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.order_filter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TNZ WT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_the_Departure_Date_Value_into_to_ID_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allocation_Fields_To_Zero</name>
        <label>Set Allocation Fields To Zero</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Hold_ON__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Secured_ON__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_In_Progress_ON__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Solo_Hold_ON__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Solo_Secured_ON__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Solo_In_Progress_ON__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Deal_for_the_Departures_Dates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigning_Deal_for_the_Departures_Dates</name>
        <label>Assigning Deal for the Departures Dates</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>If_the_Departures_Dates_Site_contains_AU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Deal_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_the_Deal_for_Reporting_with_Deal_Lookup</targetReference>
            </connector>
            <label>If Deal exists</label>
        </rules>
        <rules>
            <name>If_Options_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.options__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Deal_For_Reporting_From_Options_Lookup</targetReference>
            </connector>
            <label>If Options Exist</label>
        </rules>
        <rules>
            <name>If_Sub_Options_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sub_options__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Deal_For_Reporting_From_Sub_Options_Lookup</targetReference>
            </connector>
            <label>If Sub Options Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_For_the_HSS_Amount_on_Departure_Date_AU</name>
        <label>Checking For the HSS Amount on Departure Date AU</label>
        <locationX>446</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Checking_For_the_HSS_Amount_on_Departure_Date_NZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_HSS_Amount_exists_AU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HSS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HSS_amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Getting_the_Hotel_Room_Availability_RT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_HSS_AU_checkbox_to_True</targetReference>
            </connector>
            <label>If HSS Amount exists AU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_For_the_HSS_Amount_on_Departure_Date_NZ</name>
        <label>Checking For the HSS Amount on Departure Date NZ</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Status_Checks_on_Departure_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_HSS_Amount_exists_NZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HSS_nz__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HSS_amount_nz__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Getting_the_Hotel_Room_Availability_RT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_HSS_NZ_checkbox_to_True</targetReference>
            </connector>
            <label>If HSS Amount exists NZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_Departures_Dates_Site_contains_AU</name>
        <label>If the Departures Dates Site contains AU</label>
        <locationX>446</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Assigning_the_Departure_Date_Value_into_to_ID_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Site_contains_both_AU_and_NZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.site__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.site__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Values_into_Order_Filter_for_both_AU_AND_NZ_Site</targetReference>
            </connector>
            <label>IF Site contains both AU and NZ</label>
        </rules>
        <rules>
            <name>If_Site_contains_AU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.site__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Values_into_Order_Filter_for_AU_Site</targetReference>
            </connector>
            <label>If Site contains AU</label>
        </rules>
        <rules>
            <name>If_Site_contains_NZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.site__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Values_into_Order_Filter_for_NZ_Site</targetReference>
            </connector>
            <label>If Site contains NZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Checks_on_Departure_Dates</name>
        <label>Status Checks on Departure Dates</label>
        <locationX>446</locationX>
        <locationY>2015</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.online_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Departures_Dates_Values_for_Online_Status</targetReference>
            </connector>
            <label>If Status = Online</label>
        </rules>
        <rules>
            <name>If_Status_Offline_Manual_And_Not_Hotel_Room_Availability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.online_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offline - Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Departures_Dates_Values_for_Offline_Manual</targetReference>
            </connector>
            <label>If Status = Offline - Manual And Not Hotel Room Availability</label>
        </rules>
        <rules>
            <name>If_Status_Offline_Auto_and_Not_Hotel_Room_Availability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.online_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offline - Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Departures_Dates_Values_for_Offline_Manual_0</targetReference>
            </connector>
            <label>If Status = Offline - Auto and Not Hotel Room Availability</label>
        </rules>
    </decisions>
    <formulas>
        <name>TextForDepartureDateId</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.date__c})</expression>
    </formulas>
    <interviewLabel>Manage Departures Dates - PB to Flow - Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Departures Dates - PB to Flow - Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_the_Hotel_Room_Availability_RT</name>
        <label>Getting the Hotel Room Availability RT</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_For_the_HSS_Amount_on_Departure_Date_AU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>departures_dates__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hotel_Room_Availability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Allocation_Fields_To_Zero</targetReference>
        </connector>
        <object>departures_dates__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
