force-app/main/default/flows/Manage_March_Incentive_Feefo_Coupon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Update_Coupon_To_Feefo_Checkbox</name>
        <label>Update Coupon</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Feefo_Coupon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAD_Order__r.ordexp_final_return_date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-02-27</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAD_Order__r.ordexp_final_return_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-03-31</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CouponName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkbox_True_Feefo</targetReference>
            </connector>
            <label>Is Feefo Coupon</label>
        </rules>
    </decisions>
    <formulas>
        <name>CouponName</name>
        <dataType>String</dataType>
        <expression>{!$Record.TAD_Order__r.ordexp_account__r.LastName}+RIGHT({!$Record.TAD_Order__c}, 6)</expression>
    </formulas>
    <interviewLabel>Manage March Incentive Feefo Coupon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage March Incentive Feefo Coupon</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Checkbox_True_Feefo</name>
        <label>Checkbox True Feefo</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_From_Feefo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_From_Feefo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Coupon_To_Feefo_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>2023-03-31</dateValue>
            </value>
        </filters>
        <filters>
            <field>Min_order_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Discount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Is_From_Feefo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>coupon__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
