force-app/main/default/flows/ManipulateSelectedOrders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CopyOrderToList</name>
        <label>CopyOrderToList</label>
        <locationX>1045</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>ordersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedOrdersLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyOrderToList_0</name>
        <label>CopyOrderToList</label>
        <locationX>586</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>ordersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedOrdersLoop_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrder</name>
        <label>UpdateOrder</label>
        <locationX>1039</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>selectedRow.coach_colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>coach_label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyOrderToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrder_0</name>
        <label>UpdateOrder</label>
        <locationX>581</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>selectedRow.order_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyOrderToList_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_a_label</name>
        <choiceText>Add a label</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Update_Order_Information</name>
        <choiceText>Update Order Information</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>SelectedOrdersDecision</name>
        <label>SelectedOrdersDecision</label>
        <locationX>190</locationX>
        <locationY>21</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AddALabelChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_a_label</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LabelQuestionaire</targetReference>
            </connector>
            <label>AddALabelChoice</label>
        </rules>
        <rules>
            <name>UpdateTheOrderInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Order_Information</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderInformationQuestionaire</targetReference>
            </connector>
            <label>UpdateTheOrderInformation</label>
        </rules>
    </decisions>
    <interviewLabel>ManipulateSelectedOrders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ManipulateSelectedOrders</label>
    <loops>
        <name>SelectedOrdersLoop</name>
        <label>SelectedOrdersLoop</label>
        <locationX>851</locationX>
        <locationY>131</locationY>
        <assignNextValueToReference>selectedRow</assignNextValueToReference>
        <collectionReference>selectedOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SelectedOrdersLoop_0</name>
        <label>SelectedOrdersLoop</label>
        <locationX>392</locationX>
        <locationY>273</locationY>
        <assignNextValueToReference>selectedRow</assignNextValueToReference>
        <collectionReference>selectedOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateOrder_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOrders_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateOrders</name>
        <label>UpdateOrders</label>
        <locationX>852</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>ordersToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrders_0</name>
        <label>UpdateOrders</label>
        <locationX>393</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0</targetReference>
        </faultConnector>
        <inputReference>ordersToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>DecisionQuestion</name>
        <label>DecisionQuestion</label>
        <locationX>24</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedOrdersDecision</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>How would you like to manipulate the selected orders?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choices</name>
            <choiceReferences>Add_a_label</choiceReferences>
            <choiceReferences>Update_Order_Information</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Add_a_label</defaultSelectedChoiceReference>
            <fieldText>Choices</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>852</locationX>
        <locationY>425</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>Error occured - Let Pete Dawg, Pizza or PDiddy know!
Error Message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_0</name>
        <label>Error</label>
        <locationX>393</locationX>
        <locationY>567</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg_0</name>
            <fieldText>Error occured - Let Pete Dawg, Pizza or PDiddy know!
Error Message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LabelQuestionaire</name>
        <label>LabelQuestionaire</label>
        <locationX>495</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedOrdersLoop</targetReference>
        </connector>
        <fields>
            <name>LabelQuestion</name>
            <fieldText>Which label would you like to apply to the selected orders?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>coach_label</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Red</stringValue>
            </defaultValue>
            <fieldText>Coach Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OrderInformationQuestionaire</name>
        <label>OrderInformationQuestionaire</label>
        <locationX>189</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedOrdersLoop_0</targetReference>
        </connector>
        <fields>
            <name>Order_Information</name>
            <fieldText>Order Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1039</locationX>
        <locationY>356</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>All selected orders have had their coach colour updated successfully!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>580</locationX>
        <locationY>498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_0</name>
            <fieldText>All selected orders have had their order information updated successfully!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>DecisionQuestion</startElementReference>
    <status>Active</status>
    <variables>
        <name>ordersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>order__c</objectType>
    </variables>
    <variables>
        <name>selectedOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>order__c</objectType>
    </variables>
    <variables>
        <name>selectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>order__c</objectType>
    </variables>
</Flow>
