force-app/main/default/flows/Min_Numbers_Met_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Error_Message</name>
        <label>Add Error Message</label>
        <locationX>847</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>ContainsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Min_Number_Met</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlankPicklistValue</name>
        <choiceText>---NONE---</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Min_Not_Met_Process_Check</name>
        <label>Min Not Met Process Check</label>
        <locationX>370</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Min_Number_Met</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Min_Not_Met_In_Progress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetDepartureDateRecords.MinNotMetApproval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDepartureDateRecords.MinNotMetApproval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InProgressScreen</targetReference>
            </connector>
            <label>Min Not Met In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyScreenInputValues</name>
        <label>VerifyScreenInputValues</label>
        <locationX>1019</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>Update_Departure_Date_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VerifyValues</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Why_is_this_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlankPicklistValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_offering_alternate_options_dates_or_Deal_have_they_met_min_numbers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlankPicklistValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Has_anything_been_ticketed_or_booked_for_these_orders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlankPicklistValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Error_Message</targetReference>
            </connector>
            <label>VerifyValues</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AlternateOptionMeetMinnotMetPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ordexp_Alternate_option_meet_min_not_met__c</picklistField>
        <picklistObject>departures_dates__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>optionsAvailableToCustomerMultiPick</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ordexp_Options_availbale_to_customers__c</picklistField>
        <picklistObject>departures_dates__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>order_ticketed_booked_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ordexp_Orders_Ticketed_Or_Booked__c</picklistField>
        <picklistObject>departures_dates__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TadOrdersForDD</name>
        <dataType>Currency</dataType>
        <displayField>ordexp_gross_amount__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_departure_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <valueField>ordexp_gross_amount__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>whyisthisrequired_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ordexp_why_is_this_required__c</picklistField>
        <picklistObject>departures_dates__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>firnedlyFaultMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <formulas>
        <name>MinNotMetInitiaterUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Min Numbers Met Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Min Numbers Met Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetDepartureDateRecords</name>
        <label>GetDepartureDateRecords</label>
        <locationX>184</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Min_Not_Met_Process_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>departures_dates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Departure_Date_Records</name>
        <label>Update Departure Date Records</label>
        <locationX>1203</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>SuccessMessageScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Min_Number_Met</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MinNotMetApproval__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_Not_Met_Requesting_BDM__c</field>
            <value>
                <elementReference>BDMEmailVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ordexp_Additional_comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ordexp_Alternate_option_meet_min_not_met__c</field>
            <value>
                <elementReference>If_offering_alternate_options_dates_or_Deal_have_they_met_min_numbers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ordexp_Options_availbale_to_customers__c</field>
            <value>
                <elementReference>What_options_are_available_to_the_customers_multiPickScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ordexp_Orders_Ticketed_Or_Booked__c</field>
            <value>
                <elementReference>Has_anything_been_ticketed_or_booked_for_these_orders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ordexp_min_numbers_approval_Finance__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ordexp_min_numbers_approval_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ordexp_why_is_this_required__c</field>
            <value>
                <elementReference>Why_is_this_required</elementReference>
            </value>
        </inputAssignments>
        <object>departures_dates__c</object>
    </recordUpdates>
    <screens>
        <name>InProgressScreen</name>
        <label>InProgressScreen</label>
        <locationX>641</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InProgressMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Oops!! Min Not Met Approval is already submitted&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>GetDepartureDateRecords.MinNotMetApproval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>In Progress</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetDepartureDateRecords.ordexp_min_numbers_approval_Product__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetDepartureDateRecords.ordexp_min_numbers_approval_Finance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProcessErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Oops!! Min Not Met Approval already Processed!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetDepartureDateRecords.MinNotMetApproval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Min_Number_Met</name>
        <label>Min Number Met</label>
        <locationX>650</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VerifyScreenInputValues</targetReference>
        </connector>
        <fields>
            <name>ErrorFields</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(208, 40, 40);&quot;&gt;All The fields visible on screen are required!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContainsError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FaultMEssagew</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 10, 10);&quot;&gt;The Departure Date is already in an Approval Process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>firnedlyFaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Why_is_this_required</name>
            <choiceReferences>BlankPicklistValue</choiceReferences>
            <choiceReferences>whyisthisrequired_picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>BlankPicklistValue</defaultSelectedChoiceReference>
            <fieldText>Why is this required?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_anything_been_ticketed_or_booked_for_these_orders</name>
            <choiceReferences>BlankPicklistValue</choiceReferences>
            <choiceReferences>order_ticketed_booked_picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>BlankPicklistValue</defaultSelectedChoiceReference>
            <fieldText>Has anything been ticketed or booked for these orders?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_anything_been_ticketed_or_booked_for_these_orders</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_options_are_available_to_the_customers_multiPickScreen</name>
            <choiceReferences>optionsAvailableToCustomerMultiPick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What options are available to the customers?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_offering_alternate_options_dates_or_Deal_have_they_met_min_numbers</name>
            <choiceReferences>BlankPicklistValue</choiceReferences>
            <choiceReferences>AlternateOptionMeetMinnotMetPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>BlankPicklistValue</defaultSelectedChoiceReference>
            <fieldText>If offering alternate options, dates or Deal, have they met min numbers?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessageScreen</name>
        <label>SuccessMessageScreen</label>
        <locationX>1373</locationX>
        <locationY>194</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(47, 199, 30); font-size: 16px;&quot;&gt;Min not met request successfully sent!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetDepartureDateRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BDMEmailVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>MinNotMetInitiaterUser</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContainsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DDrecordtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>departures_dates__c</objectType>
    </variables>
    <variables>
        <name>EachTadOrderItem</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
