force-app/main/default/flows/NPS_Offload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>No_Manager</name>
        <label>No Manager</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Offload_NPS_OC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Managernom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nomanager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Manager</label>
        </rules>
    </decisions>
    <formulas>
        <name>DEALTYPE</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.ordexp_deal__r.deal_type__c},&quot;Cruise&quot;),&quot;Cruise&quot;, IF(INCLUDES({!$Record.ordexp_deal__r.deal_type__c},&quot;Stay&quot;),&quot;Hotel&quot;,&quot;Tour&quot;))</expression>
    </formulas>
    <formulas>
        <name>NewRepeat</name>
        <dataType>String</dataType>
        <expression>IF(DATEVALUE({!$Record.CreatedDate})=DATEVALUE({!$Record.ordexp_account__r.CreatedDate}),&quot;New&quot;,&quot;Repeat&quot;)</expression>
    </formulas>
    <formulas>
        <name>Nomanager</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.CreatedBy.ManagerId})</expression>
    </formulas>
    <formulas>
        <name>OffloadURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://tripadeal.qualtrics.com/jfe/form/SV_cIsHRZhlK1oYhPo?Customer%20ID=&quot;&amp;{!$Record.Id}&amp;&quot;&amp;phone%20vs%20web=web&quot;&amp;&quot;&amp;sales%20consultant=&quot;&amp;{!$Record.CreatedBy.FirstName}&amp;&quot;%20&quot;&amp;{!$Record.CreatedBy.LastName}&amp;&quot;&amp;sales%20consultant%20team%20leader=&quot;&amp;IF(ISBLANK({!$Record.CreatedBy.Manager.FirstName}),&quot;NO&quot;,{!$Record.CreatedBy.Manager.FirstName})&amp;&quot;%20&quot;&amp;IF(ISBLANK({!$Record.CreatedBy.Manager.FirstName}),&quot;Manager&quot;,{!$Record.CreatedBy.Manager.LastName})&amp;&quot;&amp;customer%20age=&quot;&amp;TEXT({!$Record.ordexp_account__r.Age_Range__c})&amp;&quot;&amp;postcode=&quot;&amp;{!$Record.Postcode__c}&amp;&quot;&amp;departure%20city=&quot;&amp;{!$Record__Prior.Departure_City_Text__c}&amp;&quot;&amp;qff%20member=&quot;&amp;{!QFFMember}&amp;&quot;&amp;payment%20type=mixed&quot;&amp;&quot;&amp;deal%20id=&quot;&amp;{!$Record.ordexp_deal__r.Name}&amp;&quot;&amp;deal%20name=&quot;&amp;SUBSTITUTE({!$Record.ordexp_deal__r.title__c},&quot; &quot;,&quot;%20&quot;)&amp;&quot;&amp;deal%20price=&quot;&amp;TEXT({!$Record.ordexp_deal__r.price__c})&amp;&quot;&amp;order%20value=&quot;&amp;TEXT({!$Record.ordexp_total_price__c})&amp;&quot;&amp;order%20creation%20date=&quot;&amp;TEXT(DATEVALUE({!$Record.CreatedDate}))&amp;&quot;&amp;deal%20type=&quot;&amp;{!DEALTYPE}&amp;&quot;&amp;new%20vs%20repeat%20customer=&quot;&amp;{!NewRepeat}</expression>
    </formulas>
    <formulas>
        <name>QFFMember</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Qantas_Frequent_Flyer_Number__c}),&quot;FALSE&quot;,&quot;TRUE&quot;)</expression>
    </formulas>
    <interviewLabel>NPS - Offload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPS - Offload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Offload_NPS_OC</name>
        <label>Offload NPS OC</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_NPS_NPS_Offload_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Survey_URL__c</field>
            <value>
                <elementReference>OffloadURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>NPS_Offloaded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.ordexp_email_purchaser__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_NPS_NPS_Offload_Sent</name>
        <label>Update NPS - NPS Offload Sent</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>NPS__c</field>
            <value>
                <stringValue>NPS Offload Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_sub_status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_sub_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offloaded</stringValue>
            </value>
        </filters>
        <filters>
            <field>NPS__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NPS Offload Sent</stringValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
