force-app/main/default/flows/Order_Comms_for_the_journey_in_Marketing_Cloud.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Create_Order_Comms_Record_for_TAD</name>
        <label>Create Order Comms Record for TAD</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_2022_Cross_Sell_Insurance_Domestic_Instant_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_account__r.PersonHasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_deal__r.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_departure_date__r.date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Date12MonthsCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Comms_TAD_2022_Cross_Sell_Insurance_Domestic_Instant_Send</targetReference>
            </connector>
            <label>TAD 2022 Cross Sell Insurance - Domestic - Instant Send</label>
        </rules>
        <rules>
            <name>TAD_2022_Cross_Sell_Insurance_International_Instant_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_account__r.PersonHasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_deal__r.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_departure_date__r.date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Date12MonthsCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Comms_TAD_2022_Cross_Sell_Insurance_International_Instant_Send</targetReference>
            </connector>
            <label>TAD 2022 Cross Sell Insurance - International - Instant Send</label>
        </rules>
    </decisions>
    <description>PBP - 234</description>
    <formulas>
        <name>Date12MonthsCheck</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),12)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Order Comms for the journey in Marketing Cloud {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Travel Insurance - Post purchase Order Comms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Order_Comms_TAD_2022_Cross_Sell_Insurance_Domestic_Instant_Send</name>
        <label>Order Comms - TAD 2022 Cross Sell Insurance - Domestic - Instant Send</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Instand_Send_Insurance</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD 2022 Cross Sell Insurance - Domestic - Instant Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.ordexp_email_purchaser__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Order_Comms_TAD_2022_Cross_Sell_Insurance_International_Instant_Send</name>
        <label>Order Comms - TAD 2022 Cross Sell Insurance - International - Instant Send</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Instand_Send_Insurance</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD 2022 Cross Sell Insurance - International - Instant Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.ordexp_email_purchaser__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Instand_Send_Insurance</name>
        <label>Instand Send Insurance</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Insurance_Status__c</field>
            <value>
                <stringValue>Instant Send</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Order_Comms_Record_for_TAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Insurance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>orderxp_Block_Order_Comms__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderComms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order_Communication_POE__c</objectType>
    </variables>
</Flow>
