force-app/main/default/flows/order_night_flow_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Hold</name>
        <label>Add Hold</label>
        <locationX>1232</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>TotalHold</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Hold_0</name>
        <label>Add Hold</label>
        <locationX>2024</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>TotalHold</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_IN_Progress</name>
        <label>Add IN Progress</label>
        <locationX>1760</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>TotalInProgress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_IN_Progress_0</name>
        <label>Add IN Progress</label>
        <locationX>2552</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>TotalInProgress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Secured</name>
        <label>Add Secured</label>
        <locationX>1496</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>TotalSecured</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Secured_0</name>
        <label>Add Secured</label>
        <locationX>2288</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>TotalSecured</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Solo_Hold</name>
        <label>Add Solo Hold</label>
        <locationX>2024</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>TotalSoloHold</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Hold_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Solo_Inprogress</name>
        <label>Add Solo Inprogress</label>
        <locationX>2552</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>TotalSoloInProgress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IN_Progress_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Solo_Secured</name>
        <label>Add Solo Secured</label>
        <locationX>2288</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>TotalSoloSecured</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OnOrderLine.order_quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Secured_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Order_Nights_Status</name>
        <label>Order Nights Status</label>
        <locationX>2024</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>OnOrderLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Hold</targetReference>
            </connector>
            <label>Total Hold</label>
        </rules>
        <rules>
            <name>Total_Secured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Secured</targetReference>
            </connector>
            <label>Total Secured</label>
        </rules>
        <rules>
            <name>Total_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_IN_Progress</targetReference>
            </connector>
            <label>Total In Progress</label>
        </rules>
        <rules>
            <name>Total_Solo_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Solo_Hold</targetReference>
            </connector>
            <label>Total Solo Hold</label>
        </rules>
        <rules>
            <name>Total_Solo_Secured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Solo_Secured</targetReference>
            </connector>
            <label>Total Solo Secured</label>
        </rules>
        <rules>
            <name>Total_Solo_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnOrderLine.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnOrderLine.Order_Line_Item__r.Pricing_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Solo_Inprogress</targetReference>
            </connector>
            <label>Total Solo In Progress</label>
        </rules>
    </decisions>
    <interviewLabel>order night flow update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>order night flow update</label>
    <loops>
        <name>OnOrderLine</name>
        <label>OnOrderLine</label>
        <locationX>1144</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_Order_Nights</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Nights_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Departure_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Nights</name>
        <label>Get Order Nights</label>
        <locationX>1144</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OnOrderLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>departures_dates__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.departures_dates__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Night_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Departure_Date</name>
        <label>Update Departure Date</label>
        <locationX>1144</locationX>
        <locationY>1080</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.departures_dates__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Hold_ON__c</field>
            <value>
                <elementReference>TotalHold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_In_Progress_ON__c</field>
            <value>
                <elementReference>TotalInProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Secured_ON__c</field>
            <value>
                <elementReference>TotalSecured</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Solo_Hold_ON__c</field>
            <value>
                <elementReference>TotalSoloHold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Solo_In_Progress_ON__c</field>
            <value>
                <elementReference>TotalSoloInProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Solo_Secured_ON__c</field>
            <value>
                <elementReference>TotalSoloSecured</elementReference>
            </value>
        </inputAssignments>
        <object>departures_dates__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>order_quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order_Night_POE__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Order_Nights</targetReference>
            </connector>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TotalHold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSecured</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSoloHold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSoloInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSoloSecured</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
