force-app/main/default/flows/Payable_Invoice_on_before_update_period_Lookup_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Null_period</name>
        <label>Null period</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.c2g__Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetYearForInvoiceDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PeridLoockupUpdate</name>
        <label>PeridLoockupUpdate</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.c2g__Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Period_Record_for_Invoice_date_Year.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>period Lookup update on the basis of invoice date</description>
    <formulas>
        <name>NullDsateValue</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>Year_Of_Invoice_Date</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.c2g__InvoiceDate__c}))</expression>
    </formulas>
    <interviewLabel>Payable Invoice on before update - period Loo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payable Invoice - on before update - period Lookup update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Period_Record_for_Invoice_date_Year</name>
        <label>Get Period Record for Invoice date Year</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PeridLoockupUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__YearName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetYearForInvoiceDate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.c2g__InvoiceDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.c2g__InvoiceDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trading Period</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaPeriod__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetYearForInvoiceDate</name>
        <label>GetYearForInvoiceDate</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Period_Record_for_Invoice_date_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__OwnerCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.c2g__OwnerCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.c2g__InvoiceDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.c2g__InvoiceDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaYear__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Null_period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__InvoiceDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>c2g__codaPurchaseInvoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
