force-app/main/default/flows/Qantas_Screen_Flow_for_TAD_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Qantas Screen Flow for TAD Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Qantas Screen Flow for TAD Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOrderafterupdate</name>
        <label>GetOrderafterupdate</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SuccessMessageScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_the_TAD_Order_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TAD_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_the_TAD_Order_Record</name>
        <label>Getting the TAD Order Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen_for_Qantas_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TAD_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_TAD_Order_with_Qantas_Frequent_Flyer_Number</name>
        <label>Updating TAD Order with Qantas Frequent Flyer Number</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>GetOrderafterupdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Qantas_Frequent_Flyer_Number__c</field>
            <value>
                <elementReference>Qantas_Frequent_Flyer_Number</elementReference>
            </value>
        </inputAssignments>
        <object>TAD_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Input_Screen_for_Qantas_Details</name>
        <label>Input Screen for Qantas Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Updating_TAD_Order_with_Qantas_Frequent_Flyer_Number</targetReference>
        </connector>
        <fields>
            <name>QFFPointsAvailable</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;QFF Points Available : {!Getting_the_TAD_Order_Record.QFF_Points_Available__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Qantas_Frequent_Flyer_Number</name>
            <dataType>String</dataType>
            <fieldText>Qantas Frequent Flyer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QFFMembernumber</name>
            <fieldText>&lt;p&gt;Current QFF: {!Getting_the_TAD_Order_Record.Qantas_Frequent_Flyer_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QantasPoints</name>
            <fieldText>&lt;p&gt;QFF Points Allocated: {!Getting_the_TAD_Order_Record.QFF_Points__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessageScreen</name>
        <label>SuccessMessageScreen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(47, 215, 21);&quot;&gt;Your Qantas Frequent Flyer Details have been updated!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QFFMember</name>
            <fieldText>&lt;p&gt;QFF Member: {!GetOrderafterupdate.Qantas_Frequent_Flyer_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PointsApplied</name>
            <fieldText>&lt;p&gt;Points Applied: {!GetOrderafterupdate.QFF_Points__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_the_TAD_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
