force-app/main/default/flows/Sales_Journal_Creation_Post_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Taxable_not</name>
        <label>Taxable/not</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Taxable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TAD_Order_Record.Deal_Transaction__r.Tax_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DS3_Sales_Journal_Line_Taxable</targetReference>
            </connector>
            <label>Taxable</label>
        </rules>
        <rules>
            <name>Tax_Free</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TAD_Order_Record.Deal_Transaction__r.Tax_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DS4_Sales_Journal_Line_Tax_Free</targetReference>
            </connector>
            <label>Tax Free</label>
        </rules>
    </decisions>
    <interviewLabel>Sales Journal Creation Post Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Journal Creation Post Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_DS1_Sales_Journal_Line_Control</name>
        <label>Create DS1 Sales Journal Line Control</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_DS2_Sales_Journal_Line_Offset</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <stringValue>a9y2x000000XatV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>DS0_Create_Journal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>General Ledger Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>TAD_Order_Record.Deal_Transaction__r.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_DS2_Sales_Journal_Line_Offset</name>
        <label>Create DS2 Sales Journal Line Offset</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Taxable_not</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <stringValue>a9y2x000000PDLY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>DS0_Create_Journal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>General Ledger Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>TAD_Order_Record.Deal_Transaction__r.Negative_Net_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DS0_Create_Journal</name>
        <label>DS0 Create Journal</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Update_Sales_Journal_on_Dt</targetReference>
        </connector>
        <inputAssignments>
            <field>Deal_Transaction__c</field>
            <value>
                <elementReference>TAD_Order_Record.Deal_Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal__c</field>
            <value>
                <elementReference>TAD_Order_Record.ordexp_deal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date__c</field>
            <value>
                <elementReference>TAD_Order_Record.ordexp_departure_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>TAD_Order_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalDate__c</field>
            <value>
                <elementReference>TAD_Order_Record.Order_Cancelled_On__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalDescription__c</field>
            <value>
                <stringValue>Sales Journal (after OLIC/AC/CC)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__OwnerCompany__c</field>
            <value>
                <elementReference>TAD_Order_Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DS3_Sales_Journal_Line_Taxable</name>
        <label>DS3 Sales Journal Line Taxable</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <stringValue>a9y2x000000000zAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>DS0_Create_Journal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>Tax Code</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__TaxCode__c</field>
            <value>
                <stringValue>aAr2x000000000MCAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__TaxableValue__c</field>
            <value>
                <elementReference>TAD_Order_Record.Deal_Transaction__r.Negative_Taxable_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>TAD_Order_Record.Deal_Transaction__r.Negative_Tax_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DS4_Sales_Journal_Line_Tax_Free</name>
        <label>DS4 Sales Journal Line Tax Free</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <stringValue>a9y2x000000000zAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>DS0_Create_Journal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>Tax Code</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__TaxCode__c</field>
            <value>
                <stringValue>aAr2x000000000CCAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__TaxableValue__c</field>
            <value>
                <elementReference>TAD_Order_Record.Deal_Transaction__r.Negative_Tax_Free_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>TAD_Order_Record</name>
        <label>TAD Order Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DS0_Create_Journal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TADOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TAD_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Journal_on_Dt</name>
        <label>Update Sales Journal on Dt</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_DS1_Sales_Journal_Line_Control</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TAD_Order_Record.Deal_Transaction__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Journal__c</field>
            <value>
                <elementReference>DS0_Create_Journal</elementReference>
            </value>
        </inputAssignments>
        <object>Deal_Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TAD_Order_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TADOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
