force-app/main/default/flows/Saved_Deal_Lead_Not_Converted_After_14_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Adding_Case_Instance_to_Collection_Var</name>
        <label>Adding Case Instance to Collection Var</label>
        <locationX>138</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_on_Case_Records_Run_Immediately</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_on_Case_Records_Run_Immediately</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_Case_Status</name>
        <label>Assigning the Case Status</label>
        <locationX>138</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>Looping_on_Case_Records_Run_Immediately.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Case_Instance_to_Collection_Var</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Phone_Lead</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone_Lead</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_Case_Record_is_found_0</name>
        <label>If Case Record is found</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Linked_to_it_exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_relevant_Case_Record_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_on_Case_Records_Run_Immediately</targetReference>
            </connector>
            <label>If Case Linked to it exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Closed_Converted_Not_Converted</name>
        <label>If Closed Converted/ Not Converted</label>
        <locationX>380</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Converted_Not_Converted</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Not Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_relevant_Case_Record_0</targetReference>
            </connector>
            <label>Closed Converted/ Not Converted</label>
        </rules>
    </decisions>
    <interviewLabel>Saved Deal(Lead) Not Converted After 14 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Saved Deal(Lead) Not Converted After 14 days</label>
    <loops>
        <name>Looping_on_Case_Records_Run_Immediately</name>
        <label>Looping on Case Records Run Immediately</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <collectionReference>Getting_relevant_Case_Record_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_the_Case_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_the_Case_Collection_Var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Saved_Deal_Record_Type</name>
        <label>Get Saved Deal Record Type</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_Lead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_relevant_Case_Record_0</name>
        <label>Getting relevant Case Record</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Case_Record_is_found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Saved_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Saved_Deal_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>TAD_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_Not_Converted__c</field>
            <value>
                <stringValue>Lead Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed Not Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Saved_Deals__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_the_Case_Collection_Var</name>
        <label>Updating the Case Collection Var</label>
        <locationX>50</locationX>
        <locationY>1104</locationY>
        <inputReference>CaseRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Closed_Converted_Not_Converted</targetReference>
        </connector>
        <object>Saved_Deals__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Set_To_Not_Converted</name>
            <connector>
                <targetReference>Get_Saved_Deal_Record_Type</targetReference>
            </connector>
            <label>Set To Not Converted</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
