force-app/main/default/flows/Send_VCC_Notification_To_Accounts_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Departure_Date_Change_Email</name>
        <label>Departure Date Change Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>TAD_Order__c.Send_VCC_notification_to_accounts</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tad_Order_Cancelled</name>
        <label>Tad Order Cancelled</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>TAD_Order__c.Send_VCC_notification_to_accounts_Order_Cancelled</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Tad_Order_Decision</name>
        <label>Tad Order Decision</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Departure_Date_Change</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_departure_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant_Booking_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant_Booking_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC Redeemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Departure_Date_Change_Email</targetReference>
            </connector>
            <label>Departure Date Change</label>
        </rules>
        <rules>
            <name>Order_Cancelled</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant_Booking_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant_Booking_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC Redeemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tad_Order_Cancelled</targetReference>
            </connector>
            <label>Order Cancelled</label>
        </rules>
    </decisions>
    <interviewLabel>Send VCC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send VCC Notification To Accounts New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tad_Order_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Merchant_Booking_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_departure_date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
