force-app/main/default/flows/SiteMinder_AutomatedDepCityCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <constants>
        <description>Hotel</description>
        <name>HotelRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hotel</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrderFilter_DepCityValues</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TAD TC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_RecordType_Is_Hotel</name>
        <label>If RecordType Is Hotel</label>
        <locationX>699</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verifying_if_the_Record_Type_is_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Getting_the_Deal_Hotel_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_Departure_City_Record_under_that_Deal</targetReference>
            </connector>
            <label>Verifying if the Record Type is same</label>
        </rules>
    </decisions>
    <interviewLabel>SiteMinder_AutomatedDepCityCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SiteMinder_AutomatedDepCityCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_Departure_City_Record_under_that_Deal</name>
        <label>Creating Departure City Record under that Deal</label>
        <locationX>591</locationX>
        <locationY>491</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>city__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fee_application__c</field>
            <value>
                <stringValue>Per QTY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>order_filter__c</field>
            <value>
                <elementReference>OrderFilter_DepCityValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>site__c</field>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </inputAssignments>
        <object>departure_cities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getting_the_Deal_Hotel_Record_Type</name>
        <label>Getting the Deal Hotel Record Type</label>
        <locationX>540</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_RecordType_Is_Hotel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HotelRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Getting_the_Deal_Hotel_Record_Type</targetReference>
        </connector>
        <object>Deal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
