force-app/main/default/flows/Survey_Result_Send_Notifition_To_Team_Lead_for_Rating_less_then_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Team_Lead</name>
        <label>Send Email To Team Lead</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Survey_Results__c.Survey_Notification_to_Team_Lead_for_Less_then_5_rating</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_if_Owner_team_Lead_exist_for_email</name>
        <label>Check if Owner team Lead exist for email</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_team_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAD_Order__r.Owner:User.TeamLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_TAD_Order_Owner_Email_Id_To_Survey_Result</targetReference>
            </connector>
            <label>Check team lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_A2_Less_Than_5</name>
        <label>is A2 Less Than 5</label>
        <locationX>556</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>A2</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NPS_Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Owner_team_Lead_exist_for_email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Feefo_less_than_2_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StarRatingValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feefo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAD_Order__r.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAD_Order__r.ordexp_final_return_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2023-07-07</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Com_Record_for_Feedback</targetReference>
            </connector>
            <label>Feefo less than 2 survey</label>
        </rules>
        <rules>
            <name>Qualtrics_Travelled_Rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StarRatingValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualtrics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAD_Order__r.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAD_Order__r.ordexp_final_return_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2023-07-07</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Com_Record_for_Feedback</targetReference>
            </connector>
            <label>Qualtrics Travelled Rating</label>
        </rules>
    </decisions>
    <formulas>
        <name>A2</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.A2__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StarRatingValue</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Overall_Star_Rating__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Survey Result - Send Notifition To Team Lead for {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Result - Send Notifition To Team Lead for Rating less then 5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Com_Record_for_Feedback</name>
        <label>Create Order Com Record for Feedback</label>
        <locationX>556</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Feedback_Com_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_SFID__c</field>
            <value>
                <elementReference>$Record.TAD_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Results__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.TAD_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>Negative survey response email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.TAD_Order__r.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Feedback_Com_Created</name>
        <label>Feedback Com Created</label>
        <locationX>556</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Order_Com_Feedback__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_TAD_Order_Owner_Email_Id_To_Survey_Result</name>
        <label>update TAD Order Owner Email Id To Survey Result</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Send_Email_To_Team_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.TAD_Order__r.Owner:User.TeamLead__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_A2_Less_Than_5</targetReference>
        </connector>
        <filterLogic>4 AND 2 AND (3 OR 1)</filterLogic>
        <filters>
            <field>A2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAD_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Overall_Star_Rating__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Com_Feedback__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Survey_Results__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
