force-app/main/default/flows/Tad_Order_Insert_Update_Schedule_quote_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_all_Order_Com_to_new_variable</name>
        <label>Add all Order Com to new variable</label>
        <locationX>525</locationX>
        <locationY>1233</locationY>
        <assignmentItems>
            <assignToReference>OrdercomUpdatewithcoupon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Itirate_over_order_com</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Itirate_over_order_com</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_coupon_value_to_Order_Com</name>
        <label>Add coupon value to Order Com</label>
        <locationX>684</locationX>
        <locationY>1102</locationY>
        <assignmentItems>
            <assignToReference>Itirate_over_order_com.coupon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Coupon_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_all_Order_Com_to_new_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_all_order_comms_created_to_variable</name>
        <label>Assign all order comms created to variable</label>
        <locationX>1700</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>Ordercommupdatecoupons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Order_Comms_Created</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Order_Comms_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_coupon_to_Order_comms_created</name>
        <label>Assign coupon to Order comms created</label>
        <locationX>1563</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Order_Comms_Created.coupon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Coupon_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_all_order_comms_created_to_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_7_days_orders</name>
        <label>Assign Last 7 days orders count</label>
        <locationX>1011</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>TotalTADordercreatedwithinlast7days</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Last_7_days_Account_owner_tad_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_no_order_created_within_last_7_days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_no_order_created_within_last_7_days</name>
        <label>Check if no order created within last 7 days</label>
        <locationX>1172</locationX>
        <locationY>250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Order_Comms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalTADordercreatedwithinlast7days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_coms</targetReference>
            </connector>
            <label>Create Order Comms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Coupon_Creation_and_status</name>
        <label>Verify Coupon Creation and status</label>
        <locationX>658</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Coupon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Initial_Web_Com__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Coupon_created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Coupon_Record</targetReference>
            </connector>
            <label>Create Coupon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_TAD_order_status</name>
        <label>Verify TAD order status</label>
        <locationX>709</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_order_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_7_days_Account_owner_tad_records</targetReference>
            </connector>
            <label>Check order status</label>
        </rules>
    </decisions>
    <formulas>
        <name>couponExpiryDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} +13</expression>
    </formulas>
    <formulas>
        <name>couponNameCode</name>
        <dataType>String</dataType>
        <expression>{!$Record.Purchaser_Last_Name__c} +    RIGHT({!$Record.Id}, 4)</expression>
    </formulas>
    <formulas>
        <name>last7days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate - 7}</expression>
    </formulas>
    <interviewLabel>Tad Order - Insert/Update - Schedule quote Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tad Order - Insert/Update - Schedule quote Process</label>
    <loops>
        <name>Itirate_over_order_com</name>
        <label>Itirate over order com</label>
        <locationX>434</locationX>
        <locationY>1020</locationY>
        <collectionReference>Get_Order_Com_record_for_coupon_attachment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_coupon_value_to_Order_Com</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_com_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Order_Comms_Created</name>
        <label>Loop over Order Comms Created</label>
        <locationX>1694</locationX>
        <locationY>353</locationY>
        <collectionReference>Get_Order_Comms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_coupon_to_Order_comms_created</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Comms_with_coupons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Coupon_Record</name>
        <label>Create Coupon Record</label>
        <locationX>542</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Tad_Order_Coupon_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Quote Follow Up Incentive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>couponExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_order_value__c</field>
            <value>
                <numberValue>3000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>couponNameCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>couponNameCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Enabled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usage__c</field>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record.ordexp_account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>currency_code__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>usable_count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>coupon__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_coms</name>
        <label>Create Order coms</label>
        <locationX>1338</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>Get_Coupon_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>quoteIncentiveCouponGenerated</stringValue>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Coupon_Records</name>
        <label>Get Coupon Records</label>
        <locationX>1364</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Comms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>coupon__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_7_days_Account_owner_tad_records</name>
        <label>Get Last 7 days Account owner tad records</label>
        <locationX>863</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Last_7_days_orders</targetReference>
        </connector>
        <filterLogic>((1 AND 2 AND 5) AND (3 OR 4))</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>last7days</elementReference>
            </value>
        </filters>
        <filters>
            <field>ordexp_account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ordexp_account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TAD_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Com_record_for_coupon_attachment</name>
        <label>Get Order Com record for coupon attachment</label>
        <locationX>648</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Itirate_over_order_com</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>communication_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Quote Order Communications</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAD_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Comms</name>
        <label>Get Order Comms</label>
        <locationX>1503</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Order_Comms_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>communication_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>quoteIncentiveCouponGenerated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_com_Records</name>
        <label>Update Order com Records</label>
        <locationX>434</locationX>
        <locationY>1428</locationY>
        <inputReference>OrdercomUpdatewithcoupon</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Comms_with_coupons</name>
        <label>Update Order Comms with coupons</label>
        <locationX>1864</locationX>
        <locationY>595</locationY>
        <inputReference>Ordercommupdatecoupons</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Send_quote_Checkbox</name>
        <label>Update Send quote Checkbox</label>
        <locationX>82</locationX>
        <locationY>588</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Quote_To_Customer__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Quote_To_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tad_Order_Coupon_Created</name>
        <label>Update Tad Order Coupon Created</label>
        <locationX>434</locationX>
        <locationY>804</locationY>
        <connector>
            <targetReference>Get_Order_Com_record_for_coupon_attachment</targetReference>
        </connector>
        <inputAssignments>
            <field>Quote_Coupon_created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>297</locationX>
        <locationY>168</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Initial_Web_Com__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_quote_after_5_min</name>
            <connector>
                <targetReference>Update_Send_quote_Checkbox</targetReference>
            </connector>
            <label>Send quote after 5 min</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Create</name>
            <connector>
                <targetReference>Verify_Coupon_Creation_and_status</targetReference>
            </connector>
            <label>Create Quote Incentive Coupon</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Create_Voucher</name>
            <connector>
                <targetReference>Verify_TAD_order_status</targetReference>
            </connector>
            <label>Create Voucher for tad order account</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Last7daysrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TAD_Order__c</objectType>
    </variables>
    <variables>
        <name>OrderComms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Communication_POE__c</objectType>
    </variables>
    <variables>
        <name>Ordercommupdatecoupons</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Communication_POE__c</objectType>
    </variables>
    <variables>
        <name>OrdercomUpdatewithcoupon</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Communication_POE__c</objectType>
    </variables>
    <variables>
        <name>TotalTADordercount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TAD_Order__c</objectType>
    </variables>
    <variables>
        <name>TotalTADordercreatedwithinlast7days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
