force-app/main/default/flows/TAD_Order_Status_Change_Siteminder_TravelClick_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>If_the_Conditions_satisfy</name>
        <label>If the Conditions satisfy</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_all_conditions_for_Siteminder_satisfy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_the_Deal_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getting_the_Deal_Record.Channel_Partner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siteminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_Siteminder_Platform_Event_for_TAd_ORder</targetReference>
            </connector>
            <label>If all conditions for Siteminder satisfy</label>
        </rules>
        <rules>
            <name>If_all_conditions_for_TravelClick_satisfy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_the_Deal_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getting_the_Deal_Record.Channel_Partner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TravelClick</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_Platform_Event_Record_for_TravelClick</targetReference>
            </connector>
            <label>If all conditions for TravelClick satisfy</label>
        </rules>
    </decisions>
    <description>This flow shall create the Platform Event Records for Siteminder/TravelClick whenever we have a Hotel Record type and the TAD Order Status changes to either Secured or Cancelled.</description>
    <interviewLabel>TAD Order Status Change - Siteminder/ TravelClick Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAD Order Status Change - Siteminder/ TravelClick Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_Platform_Event_Record_for_TravelClick</name>
        <label>Creating Platform Event Record for TravelClick</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Updating_the_DataLoadRefresh_to_False_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Tad_Order_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Travelclick_Room_Reservation_Send_TAD__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creating_Siteminder_Platform_Event_for_TAd_ORder</name>
        <label>Creating Siteminder Platform Event for TAd ORder</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Updating_the_DataLoadRefresh_to_False</targetReference>
        </connector>
        <inputAssignments>
            <field>Tad_Order_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Siteminder_Room_Reservation_Send_ID_TAD__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getting_the_Deal_Record</name>
        <label>Getting the Deal Record</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_the_Conditions_satisfy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ordexp_deal__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_the_DataLoadRefresh_to_False</name>
        <label>Updating the DataLoadRefresh to False</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>ordexp_dataloadrefresh__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_the_DataLoadRefresh_to_False_0</name>
        <label>Updating the DataLoadRefresh to False</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>ordexp_dataloadrefresh__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_the_Deal_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secured</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_dataloadrefresh__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
