force-app/main/default/flows/TAD_Order_SECURED_Order_Comms_records_Wholesale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>Hotel_Only</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hotel Only</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_PIF_Module_0_0_0</name>
        <label>Check PIF Module</label>
        <locationX>2294</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>TNZ_PC_Travel_Deal_Flights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Hotel_Only_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_deal__r.PIF_Module__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PC_Stay_Deal_Dates_No_Flight</targetReference>
            </connector>
            <label>Is Hotel Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Module_0_0_0_0_0_0_0</name>
        <label>Check PIF Module</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>TAD_PC_Travel_Deal_Flights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Hotel_Only_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_deal__r.PIF_Module__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PC_Stay_Deal_Dates_No_Flight</targetReference>
            </connector>
            <label>Is Hotel Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Module_0_0_0_0_0_0_0_0</name>
        <label>Check PIF Module</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>TAD_PC_BNCDL_With_Date_PP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Hotel_Only_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_deal__r.PIF_Module__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PC_BNCDL_With_Date</targetReference>
            </connector>
            <label>Is Hotel Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Module_0_0_0_0_0_0_0_0_0</name>
        <label>Check PIF Module</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>TNZ_PC_BNCDL_With_Date_and_PP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Hotel_Only_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_deal__r.PIF_Module__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PC_BNCDL_With_Date</targetReference>
            </connector>
            <label>Is Hotel Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1650</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_TC_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_BNCDL_Deal</targetReference>
            </connector>
            <label>Is TC Record Type</label>
        </rules>
        <rules>
            <name>Is_WT_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_BNCDL_Deal_0</targetReference>
            </connector>
            <label>Is WT Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BNCDL_Deal</name>
        <label>Is BNCDL Deal</label>
        <locationX>611</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_PIF_Module_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BNCDL_is_TRUE2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_deal__r.BNCDL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_BNCDL_Order_0</targetReference>
            </connector>
            <label>BNCDL is TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BNCDL_Deal_0</name>
        <label>Is BNCDL Deal</label>
        <locationX>1931</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_PIF_Module_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BNCDL_is_TRUE_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ordexp_deal__r.BNCDL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_BNCDL_Order_0_0</targetReference>
            </connector>
            <label>BNCDL is TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BNCDL_Order_0</name>
        <label>Is BNCDL Order</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_PIF_Module_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BNCDL_Order_Is_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BNCDL_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PC_BNCDL_2222</targetReference>
            </connector>
            <label>BNCDL Order Is TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BNCDL_Order_0_0</name>
        <label>Is BNCDL Order</label>
        <locationX>1568</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_PIF_Module_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BNCDL_Order_Is_TRUE_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BNCDL_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PC_BNCDL_2222</targetReference>
            </connector>
            <label>BNCDL Order Is TRUE</label>
        </rules>
    </decisions>
    <interviewLabel>TAD Order - SECURED Order Comms records (Wholesale) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAD Order - SECURED Order Comms records (Wholesale)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>TAD_PC_BNCDL_2222</name>
        <label>TAD PC BNCDL 2222</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Stay_Booking_Instructions__c</field>
            <value>
                <elementReference>$Record.ordexp_deal__r.Booking_Instructions_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PC BNCDL 2222</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PC_BNCDL_With_Date</name>
        <label>TAD PC BNCDL With Date</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Stay_Booking_Instructions__c</field>
            <value>
                <elementReference>$Record.ordexp_deal__r.Booking_Instructions_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PC BNCDL With Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PC_BNCDL_With_Date_PP</name>
        <label>TAD PC BNCDL With Date and PP</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PC BNCDL With Date and PP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PC_Stay_Deal_Dates_No_Flight</name>
        <label>TAD PC Stay Deal Dates No Flight</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Add_On_Information__c</field>
            <value>
                <elementReference>$Record.Add_On_information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stay_Booking_Instructions__c</field>
            <value>
                <elementReference>$Record.ordexp_deal__r.Booking_Instructions_Stay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PC Stay Deal Dates No Flight</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PC_Travel_Deal_Flights</name>
        <label>TAD PC Travel Deal Flights</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Add_On_Information__c</field>
            <value>
                <elementReference>$Record.Add_On_information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PC Travel Deal Flights</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PC_BNCDL_2222</name>
        <label>TNZ PC BNCDL 2222</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Stay_Booking_Instructions__c</field>
            <value>
                <elementReference>$Record.ordexp_deal__r.Booking_Instructions_Stay_NZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PC BNCDL 2222</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PC_BNCDL_With_Date</name>
        <label>TNZ PC BNCDL With Date</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Stay_Booking_Instructions__c</field>
            <value>
                <elementReference>$Record.ordexp_deal__r.Booking_Instructions_Stay_NZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PC BNCDL With Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PC_BNCDL_With_Date_and_PP</name>
        <label>TNZ PC BNCDL With Date and PP</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PC BNCDL With Date and PP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PC_Stay_Deal_Dates_No_Flight</name>
        <label>TNZ PC Stay Deal Dates No Flight</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Add_On_Information__c</field>
            <value>
                <elementReference>$Record.Add_On_information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stay_Booking_Instructions__c</field>
            <value>
                <elementReference>$Record.ordexp_deal__r.Booking_Instructions_Stay_NZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PC Stay Deal Dates No Flight</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PC_Travel_Deal_Flights</name>
        <label>TNZ PC Travel Deal Flights</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Add_On_Information__c</field>
            <value>
                <elementReference>$Record.Add_On_information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PC Travel Deal Flights</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1524</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>ordexp_purchase_date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_purchase_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TC</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WT</stringValue>
            </value>
        </filters>
        <filters>
            <field>orderxp_Block_Order_Comms__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
