force-app/main/default/flows/TAD_Order_Secured_PIF_Chasing_TAD_TNZ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TAD_PIF_Chasing_48_hour</name>
        <label>TAD PIF Chasing - 48 hour</label>
        <locationX>1898</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TAD_PIF_Chasing_48_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TAD_PIF_Chasing_48_hour_0</name>
        <label>TAD PIF Chasing - 48 hour</label>
        <locationX>3746</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TAD_PIF_Chasing_48_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TAD_PIF_Chasing_48_hour_0_0</name>
        <label>TAD PIF Chasing - 48 hour</label>
        <locationX>5594</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TAD_PIF_Chasing_48_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TAD_PIF_Chasing_72_hour</name>
        <label>TAD PIF Chasing - 72 hour</label>
        <locationX>4538</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TAD_PIF_Chasing_72_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TAD_PIF_Chasing_72_hour_0</name>
        <label>TAD PIF Chasing - 72 hour</label>
        <locationX>6386</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TAD_PIF_Chasing_72_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TAD_PIF_Chasing_72_hour_0_0</name>
        <label>TAD PIF Chasing - 72 hour</label>
        <locationX>8234</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TAD_PIF_Chasing_72_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TNZ_PIF_Chasing_48_hour</name>
        <label>TNZ PIF Chasing - 48 hour</label>
        <locationX>2162</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TNZ_PIF_Chasing_48_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TNZ_PIF_Chasing_48_hour_0</name>
        <label>TNZ PIF Chasing - 48 hour</label>
        <locationX>4010</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TNZ_PIF_Chasing_48_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TNZ_PIF_Chasing_48_hour_0_0</name>
        <label>TNZ PIF Chasing - 48 hour</label>
        <locationX>5858</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TNZ_PIF_Chasing_48_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TNZ_PIF_Chasing_72_hour</name>
        <label>TNZ PIF Chasing - 72 hour</label>
        <locationX>4802</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TNZ_PIF_Chasing_72_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TNZ_PIF_Chasing_72_hour_0</name>
        <label>TNZ PIF Chasing - 72 hour</label>
        <locationX>6650</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TNZ_PIF_Chasing_72_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>TNZ_PIF_Chasing_72_hour_0_0</name>
        <label>TNZ PIF Chasing - 72 hour</label>
        <locationX>8498</locationX>
        <locationY>600</locationY>
        <actionName>TAD_Order__c.TNZ_PIF_Chasing_72_hour</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Order_Record_Type</name>
        <label>Check Order Record Type</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_1_Day</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_1_Day</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0</name>
        <label>Check Order Record Type</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_2_Days</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_2_Days</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_1_Day_0</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_1_Day_0</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>3218</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_1_Day_0_0</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_1_Day_0_0</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>4010</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_2_Days_0</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_2_Days_0</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0_0_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>4802</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_3_Days_0_0_0</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_3_Days_0_0</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0_0_0_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>5858</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_2_Days_0_0</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_2_Days_0_0_0</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0_0_0_0_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>6650</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_3_Days_0_0_0_0</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_3_Days_0_0_0_0_0</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0_0_0_0_0_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>7442</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_Offload</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_Offload</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0_0_0_0_0_0_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>8498</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_3_Days_0_0_0_0_0_0</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_3_Days_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Record_Type_0_0_0_0_0_0_0_0_0_0</name>
        <label>Check Order Record Type</label>
        <locationX>9554</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAD_Record_Type_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAD_PIF_Chase_Offload_0</targetReference>
            </connector>
            <label>TAD Record Type</label>
        </rules>
        <rules>
            <name>TNZ_Record_Type_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TNZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNZ_PIF_Chase_Offload_0_0</targetReference>
            </connector>
            <label>TNZ Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Chasing_Day</name>
        <label>Check PIF Chasing Day</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mon_Tues_Wed_Thur</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type</targetReference>
            </connector>
            <label>Mon / Tues / Wed / Thur</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Chasing_Day_0</name>
        <label>Check PIF Chasing Day</label>
        <locationX>2030</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sat_Sun</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0</targetReference>
            </connector>
            <label>Sat / Sun</label>
        </rules>
        <rules>
            <name>Mon_Tues_Wed_Thur_0</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0</targetReference>
            </connector>
            <label>Mon / Tues / Wed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Chasing_Day_1</name>
        <label>Check PIF Chasing Day</label>
        <locationX>4274</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Friday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0_0</targetReference>
            </connector>
            <label>Friday</label>
        </rules>
        <rules>
            <name>Sat_Sun_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0_0_0</targetReference>
            </connector>
            <label>Sunday</label>
        </rules>
        <rules>
            <name>Mon_Tues</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0_0_0_0</targetReference>
            </connector>
            <label>Mon / Tues</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Chasing_Day_2</name>
        <label>Check PIF Chasing Day</label>
        <locationX>6914</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Thur_Fri_Sat</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Thur / Fri / Sat</label>
        </rules>
        <rules>
            <name>Sat_Sun_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Sunday</label>
        </rules>
        <rules>
            <name>Monday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Monday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Chasing_Day_3</name>
        <label>Check PIF Chasing Day</label>
        <locationX>8762</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wed_Thur_Fri_Sat</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Wed / Thur / Fri / Sat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIF_Chasing_Day_4</name>
        <label>Check PIF Chasing Day</label>
        <locationX>9818</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tue_Wed_Thur_Fri_Sat_Sun</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PIF_Chasing_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_pif_outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_master_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ordexp_sub_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - PIF/s Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Record_Type_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Tue / Wed / Thur / Fri / Sat / Sun</label>
        </rules>
    </decisions>
    <interviewLabel>TAD Order - Secured - PIF Chasing (TAD &amp; TNZ) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAD Order - Secured - PIF Chasing (TAD &amp; TNZ)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_PIF_Chase_Offload_Notification_Internal</name>
        <label>Copy 1 of PIF Chase Offload Notification Internal</label>
        <locationX>7178</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TC_agent_email__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tad_Order_Owner_Email__c</field>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tad_Order_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>PIF Chase Offload Notification Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PIF_Chase_Offload_Notification_Internal</name>
        <label>PIF Chase Offload Notification Internal</label>
        <locationX>9290</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TC_agent_email__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tad_Order_Owner_Email__c</field>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tad_Order_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>PIF Chase Offload Notification Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_1_Day</name>
        <label>TAD PIF Chase 1 Day</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 1 Day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_1_Day_0</name>
        <label>TAD PIF Chase 1 Day</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 1 Day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_1_Day_0_0</name>
        <label>TAD PIF Chase 1 Day</label>
        <locationX>2954</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 1 Day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_2_Days</name>
        <label>TAD PIF Chase 2 Days</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TAD_PIF_Chasing_48_hour</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 2 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_2_Days_0</name>
        <label>TAD PIF Chase 2 Days</label>
        <locationX>3746</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TAD_PIF_Chasing_48_hour_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 2 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_2_Days_0_0</name>
        <label>TAD PIF Chase 2 Days</label>
        <locationX>5594</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TAD_PIF_Chasing_48_hour_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 2 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_2_Days_0_0_0</name>
        <label>TNZ PIF Chase 2 Days</label>
        <locationX>5858</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TNZ_PIF_Chasing_48_hour_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 2 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_3_Days_0_0_0</name>
        <label>TAD PIF Chase 3 Days</label>
        <locationX>4538</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TAD_PIF_Chasing_72_hour</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 3 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_3_Days_0_0_0_0</name>
        <label>TAD PIF Chase 3 Days</label>
        <locationX>6386</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TAD_PIF_Chasing_72_hour_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 3 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_3_Days_0_0_0_0_0</name>
        <label>TNZ PIF Chase 3 Days</label>
        <locationX>6650</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TNZ_PIF_Chasing_72_hour_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 3 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_3_Days_0_0_0_0_0_0</name>
        <label>TAD PIF Chase 3 Days</label>
        <locationX>8234</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TAD_PIF_Chasing_72_hour_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase 3 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_Offload</name>
        <label>TAD PIF Chase Offload</label>
        <locationX>7178</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Automate_Cancellation</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase Offload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TAD_PIF_Chase_Offload_0</name>
        <label>TAD PIF Chase Offload</label>
        <locationX>9290</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Automate_Cancellation_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TAD PIF Chase Offload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_1_Day</name>
        <label>TNZ PIF Chase 1 Day</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 1 Day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_1_Day_0</name>
        <label>TNZ PIF Chase 1 Day</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 1 Day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_1_Day_0_0</name>
        <label>TNZ PIF Chase 1 Day</label>
        <locationX>3218</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 1 Day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_2_Days</name>
        <label>TNZ PIF Chase 2 Days</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TNZ_PIF_Chasing_48_hour</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 2 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_2_Days_0</name>
        <label>TNZ PIF Chase 2 Days</label>
        <locationX>4010</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TNZ_PIF_Chasing_48_hour_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 2 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_3_Days_0_0</name>
        <label>TNZ PIF Chase 3 Days</label>
        <locationX>4802</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TNZ_PIF_Chasing_72_hour</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 3 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_3_Days_0_0_0_0_0_0_0</name>
        <label>TNZ PIF Chase 3 Days</label>
        <locationX>8498</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>TNZ_PIF_Chasing_72_hour_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase 3 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_Offload</name>
        <label>TNZ PIF Chase Offload</label>
        <locationX>7442</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Automate_Cancellation_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase Offload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TNZ_PIF_Chase_Offload_0_0</name>
        <label>TNZ PIF Chase Offload</label>
        <locationX>9554</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Automate_Cancellation_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TAD_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>communication_code__c</field>
            <value>
                <stringValue>TNZ PIF Chase Offload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_purchaser__c</field>
            <value>
                <elementReference>$Record.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Communication_POE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Automate_Cancellation</name>
        <label>Automate Cancellation</label>
        <locationX>7178</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Copy_1_of_PIF_Chase_Offload_Notification_Internal</targetReference>
        </connector>
        <inputAssignments>
            <field>Automate_Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Automate_Cancellation_0</name>
        <label>Automate Cancellation</label>
        <locationX>7442</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Automate_Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Automate_Cancellation_0_0</name>
        <label>Automate Cancellation</label>
        <locationX>9290</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>PIF_Chase_Offload_Notification_Internal</targetReference>
        </connector>
        <inputAssignments>
            <field>Automate_Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Automate_Cancellation_0_0_0</name>
        <label>Automate Cancellation</label>
        <locationX>9554</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Automate_Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>4676</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11</filterLogic>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNZ</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_purchase_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PIF_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hotel Only</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_pif_outstanding__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_master_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secured</stringValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_sub_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid - PIF/s Due</stringValue>
            </value>
        </filters>
        <filters>
            <field>PIF_Chasing_Day__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Blank</stringValue>
            </value>
        </filters>
        <filters>
            <field>orderxp_Block_Order_Comms__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ordexp_purchase_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2022-05-11T00:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>Total_Credit_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>TAD_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Day_after_PIF_Chasing_Day</name>
            <connector>
                <targetReference>Check_PIF_Chasing_Day</targetReference>
            </connector>
            <label>1 Day after PIF Chasing Day</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PIF_Chasing_Purchase_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Days_after_PIF_Chasing_Day</name>
            <connector>
                <targetReference>Check_PIF_Chasing_Day_0</targetReference>
            </connector>
            <label>2 Days after PIF Chasing Day</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PIF_Chasing_Purchase_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_Days_after_PIF_Chasing_Day</name>
            <connector>
                <targetReference>Check_PIF_Chasing_Day_1</targetReference>
            </connector>
            <label>3 Days after PIF Chasing Day</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PIF_Chasing_Purchase_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_Days_after_PIF_Chasing_Day</name>
            <connector>
                <targetReference>Check_PIF_Chasing_Day_2</targetReference>
            </connector>
            <label>4 Days after PIF Chasing Day</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PIF_Chasing_Purchase_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5_Days_after_PIF_Chasing_Day</name>
            <connector>
                <targetReference>Check_PIF_Chasing_Day_3</targetReference>
            </connector>
            <label>5 Days after PIF Chasing Day</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PIF_Chasing_Purchase_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_Days_after_PIF_Chasing_Day</name>
            <connector>
                <targetReference>Check_PIF_Chasing_Day_4</targetReference>
            </connector>
            <label>6 Days after PIF Chasing Day</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PIF_Chasing_Purchase_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
