force-app/main/default/flows/Tech_Support_Before_Insert_Update_Check_is_Ticket_P_C_Or_Not.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>is_P_C_Tech_Support_Ticket</name>
        <label>is P&amp;C Tech Support Ticket</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Unchecked_is_P_C_Tech_Ticked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechSupportSubject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P&amp;C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checked_is_P_C_Tech_Ticked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>PSAG - 191</description>
    <formulas>
        <name>TechSupportSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Subject__c} , &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Tech Support Before Insert/Update - Check is Ticket P&amp;C Or Not {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Tech Support Before Insert/Update - Check is Ticket P&amp;C Or Not</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Checked_is_P_C_Tech_Ticked</name>
        <label>Checked is P&amp;C Tech Ticked</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>is_P_C_Tech_Ticket__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Unchecked_is_P_C_Tech_Ticked</name>
        <label>Unchecked is P&amp;C Tech Ticked</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>is_P_C_Tech_Ticket__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_P_C_Tech_Support_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Tech_Support__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
