force-app/main/default/flows/TickCreateSabreProfiles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CopyDepartureDateToList</name>
        <label>CopyDepartureDateToList</label>
        <locationX>487</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>depatureDatesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedDepartureDatesLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateDepartureDate</name>
        <label>UpdateDepartureDate</label>
        <locationX>466</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>dd.create_sabre_profiles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyDepartureDateToList</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TickCreateSabreProfiles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TickCreateSabreProfiles</label>
    <loops>
        <name>SelectedDepartureDatesLoop</name>
        <label>SelectedDepartureDatesLoop</label>
        <locationX>234</locationX>
        <locationY>167</locationY>
        <assignNextValueToReference>dd</assignNextValueToReference>
        <collectionReference>selectedDepartureDates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateDepartureDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDepartureDates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateDepartureDates</name>
        <label>UpdateDepartureDates</label>
        <locationX>254</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>depatureDatesToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>64</locationX>
        <locationY>522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>Yo give this to Pizza! There was an error: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>430</locationX>
        <locationY>453</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>You are here to allow the divine pupose of the universe to unfold, that is how important you are! - Eckhart Tolle

Selected Departure Dates have been updated successfully with Create Sabre Profiles Checked!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SelectedDepartureDatesLoop</startElementReference>
    <status>Active</status>
    <variables>
        <name>dd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>departures_dates__c</objectType>
    </variables>
    <variables>
        <name>depatureDatesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>departures_dates__c</objectType>
    </variables>
    <variables>
        <name>selectedDepartureDates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>departures_dates__c</objectType>
    </variables>
</Flow>
