force-app/main/default/flows/Update_Deal_Lookup_on_component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Just do it</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>sub</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>land</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>aesb</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision21</name>
        <label>myDecision21</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>s/o</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>air up</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision27</name>
        <label>myDecision27</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_28</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_28_A1</targetReference>
            </connector>
            <label>city</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Product_FX_Pricing__r.To_Currency__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Reference</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CurrencyIsoCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Product_FX_Pricing__r.To_Currency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Populate Iso code</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Deal</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Option</label>
        </rules>
    </decisions>
    <description>update for city &amp; AE/SB Name via linked deal</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Component__c].Options__c.Deal__c.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_10_A1_1483082306</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Options__r.Deal__r.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Component__c].Sub_Options__c.options__c.Deal__c.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A1_3521847198</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Sub_Options__r.options__r.Deal__r.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Component__c].Land_Activity__c.Deal__c.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_16_A1_9985702248</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Land_Activity__r.Deal__r.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Component__c].AE_SB__c.linked_deal__c.Id</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_19_A1_4977524010</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.AE_SB__r.linked_deal__r.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Component__c].Stopover__c.Deal__c.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_22_A1_1326774852</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Stopover__r.Deal__r.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Component__c].Airline_Upgrade__c.Deal__c.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_25_A1_6588014295</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Airline_Upgrade__r.Deal__r.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Component__c].City__c.Deal__c.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_28_A1_8895793224</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.City__r.Deal__r.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (NOT(ISBLANK([Component__c].Options__c)),
LEFT([Component__c].Options__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].Options__c.Name,79-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].Sub_Options__c)),
LEFT([Component__c].Sub_Options__c.options__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].Sub_Options__c.Name,79-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].Land_Activity__c)),
LEFT([Component__c].Land_Activity__c.Deal__c.Name &amp;&quot;-&quot;&amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp;TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].Land_Activity__c.Name,79-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].AE_SB__c)),
LEFT([Component__c].AE_SB__c.linked_deal__c.Name &amp;&quot;-&quot;&amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].AE_SB__c.Name,79-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].Airline_Upgrade__c)),
LEFT([Component__c].Airline_Upgrade__c.Deal__c.Name &amp;&quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].Airline_Upgrade__c.Name,79-LEN([Component__c].Identifier__c)) &amp;&quot;-&quot;&amp;[Component__c].Identifier__c ,
IF (NOT(ISBLANK([Component__c].Stopover__c)),
LEFT([Component__c].Stopover__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Stopover__c.type__c ) &amp; &quot;-&quot; &amp; [Component__c].Stopover__c.Name,79-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].City__c)),
LEFT([Component__c].City__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; [Component__c].City__c.departure_airport_code__c &amp; &quot;-&quot; &amp; TEXT([Component__c].City__c.city__c),79-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].Deal__c)),
IF(NOT(ISBLANK([Component__c].Deal__c.title__c)),
LEFT([Component__c].Deal__c.Name &amp;&quot;-&quot;&amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp;  TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp;
[Component__c].Merchant_Name__c.Name &amp;&quot;-&quot;&amp; [Component__c].Deal__c.title__c,79-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
LEFT([Component__c].Deal__c.Name &amp;&quot;-&quot;&amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp;  TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp;
[Component__c].Merchant_Name__c.Name &amp;&quot;-&quot;&amp; 
[Component__c].Deal__c.title_nz__c,79-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c),
&quot;Component link including deal is blank&quot;)))))))) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_9946706895</name>
        <dataType>String</dataType>
        <expression>IF (NOT(ISBLANK({!myVariable_current.Options__c})),
LEFT({!myVariable_current.Options__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.Options__c.Name},79-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.Sub_Options__c})),
LEFT({!myVariable_current.Sub_Options__c.options__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.Sub_Options__c.Name},79-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.Land_Activity__c})),
LEFT({!myVariable_current.Land_Activity__c.Deal__c.Name} &amp;&quot;-&quot;&amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp;TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.Land_Activity__c.Name},79-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.AE_SB__c})),
LEFT({!myVariable_current.AE_SB__c.linked_deal__c.Name} &amp;&quot;-&quot;&amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.AE_SB__c.Name},79-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.Airline_Upgrade__c})),
LEFT({!myVariable_current.Airline_Upgrade__c.Deal__c.Name} &amp;&quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.Airline_Upgrade__c.Name},79-LEN({!myVariable_current.Identifier__c})) &amp;&quot;-&quot;&amp;{!myVariable_current.Identifier__c} ,
IF (NOT(ISBLANK({!myVariable_current.Stopover__c})),
LEFT({!myVariable_current.Stopover__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Stopover__c.type__c} ) &amp; &quot;-&quot; &amp; {!myVariable_current.Stopover__c.Name},79-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.City__c})),
LEFT({!myVariable_current.City__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.City__c.departure_airport_code__c} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.City__c.city__c}),79-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.Deal__c})),
IF(NOT(ISBLANK({!myVariable_current.Deal__c.title__c})),
LEFT({!myVariable_current.Deal__c.Name} &amp;&quot;-&quot;&amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp;  TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp;
{!myVariable_current.Merchant_Name__c.Name} &amp;&quot;-&quot;&amp; {!myVariable_current.Deal__c.title__c},79-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
LEFT({!myVariable_current.Deal__c.Name} &amp;&quot;-&quot;&amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp;  TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp;
{!myVariable_current.Merchant_Name__c.Name} &amp;&quot;-&quot;&amp; 
{!myVariable_current.Deal__c.title_nz__c},79-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c}),
&quot;Component link including deal is blank&quot;))))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (NOT(ISBLANK([Component__c].Options__c)),
LEFT([Component__c].Options__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].Options__c.Name,99-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].Sub_Options__c)),
LEFT([Component__c].Sub_Options__c.options__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].Sub_Options__c.Name,99-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].Land_Activity__c)),
LEFT([Component__c].Land_Activity__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp;TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].Land_Activity__c.Name,99-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].AE_SB__c)),
LEFT([Component__c].AE_SB__c.linked_deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].AE_SB__c.Name,99-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].Airline_Upgrade__c)),
LEFT([Component__c].Airline_Upgrade__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp; [Component__c].Airline_Upgrade__c.Name,99-LEN([Component__c].Identifier__c)) &amp;&quot;-&quot;&amp;[Component__c].Identifier__c ,
IF (NOT(ISBLANK([Component__c].Stopover__c)),
LEFT([Component__c].Stopover__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Stopover__c.type__c ) &amp; &quot;-&quot; &amp; [Component__c].Stopover__c.Name,99-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].City__c)),
LEFT([Component__c].City__c.Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; [Component__c].City__c.departure_airport_code__c &amp; &quot;-&quot; &amp; TEXT([Component__c].City__c.city__c),99-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
IF (NOT(ISBLANK([Component__c].Deal__c)),
IF(NOT(ISBLANK([Component__c].Deal__c.title__c)),
LEFT([Component__c].Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp; TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp;
[Component__c].Merchant_Name__c.Name &amp; &quot;-&quot; &amp; 
[Component__c].Deal__c.title__c,99-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c,
LEFT([Component__c].Deal__c.Name &amp; &quot;-&quot; &amp; TEXT([Component__c].Product_FX_Pricing__c.From_Currency__c) &amp; TEXT([Component__c].Product_FX_Pricing__c.To_Currency__c) &amp; &quot;-&quot; &amp;  TEXT([Component__c].Component_Type__c) &amp; &quot;-&quot; &amp;
[Component__c].Merchant_Name__c.Name &amp; &quot;-&quot; &amp; 
[Component__c].Deal__c.title_nz__c,99-LEN([Component__c].Identifier__c)) &amp; &quot;-&quot;&amp;[Component__c].Identifier__c),
&quot;Component link including deal is blank&quot;)
))))))) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_1044319112</name>
        <dataType>String</dataType>
        <expression>IF (NOT(ISBLANK({!myVariable_current.Options__c})),
LEFT({!myVariable_current.Options__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.Options__c.Name},99-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.Sub_Options__c})),
LEFT({!myVariable_current.Sub_Options__c.options__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.Sub_Options__c.Name},99-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.Land_Activity__c})),
LEFT({!myVariable_current.Land_Activity__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp;TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.Land_Activity__c.Name},99-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.AE_SB__c})),
LEFT({!myVariable_current.AE_SB__c.linked_deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.AE_SB__c.Name},99-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.Airline_Upgrade__c})),
LEFT({!myVariable_current.Airline_Upgrade__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.Airline_Upgrade__c.Name},99-LEN({!myVariable_current.Identifier__c})) &amp;&quot;-&quot;&amp;{!myVariable_current.Identifier__c} ,
IF (NOT(ISBLANK({!myVariable_current.Stopover__c})),
LEFT({!myVariable_current.Stopover__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Stopover__c.type__c} ) &amp; &quot;-&quot; &amp; {!myVariable_current.Stopover__c.Name},99-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.City__c})),
LEFT({!myVariable_current.City__c.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; {!myVariable_current.City__c.departure_airport_code__c} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.City__c.city__c}),99-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
IF (NOT(ISBLANK({!myVariable_current.Deal__c})),
IF(NOT(ISBLANK({!myVariable_current.Deal__c.title__c})),
LEFT({!myVariable_current.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp;
{!myVariable_current.Merchant_Name__c.Name} &amp; &quot;-&quot; &amp; 
{!myVariable_current.Deal__c.title__c},99-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c},
LEFT({!myVariable_current.Deal__c.Name} &amp; &quot;-&quot; &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.From_Currency__c}) &amp; TEXT({!myVariable_current.Product_FX_Pricing__c.To_Currency__c}) &amp; &quot;-&quot; &amp;  TEXT({!myVariable_current.Component_Type__c}) &amp; &quot;-&quot; &amp;
{!myVariable_current.Merchant_Name__c.Name} &amp; &quot;-&quot; &amp; 
{!myVariable_current.Deal__c.title_nz__c},99-LEN({!myVariable_current.Identifier__c})) &amp; &quot;-&quot;&amp;{!myVariable_current.Identifier__c}),
&quot;Component link including deal is blank&quot;)
)))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Component__c].Deal__c.Id</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_2062080003</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Deal__r.Id}</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([Component__c].Options__c  ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.Options__c}  ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([Component__c].Sub_Options__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.Sub_Options__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([Component__c].Land_Activity__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.Land_Activity__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([Component__c].AE_SB__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.AE_SB__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([Component__c].Stopover__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_22</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.Stopover__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([Component__c].Airline_Upgrade__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.Airline_Upgrade__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([Component__c].City__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_28</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.City__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([Component__c].Deal__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.Deal__c} ))</expression>
    </formulas>
    <interviewLabel>Update_Deal_Lookup_on_component-28_InterviewLabel</interviewLabel>
    <label>Manage component</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Component__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>update</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LinkedDeal(D/O/S)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Deal__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LinkedDeal_D_O_S__c</field>
            <value>
                <elementReference>formula_11_myRule_10_A1_1483082306</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>sub</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LinkedDeal(D/O/S)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Deal__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LinkedDeal_D_O_S__c</field>
            <value>
                <elementReference>formula_14_myRule_13_A1_3521847198</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_16_A1</name>
        <label>land</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LinkedDeal(D/O/S)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Deal__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LinkedDeal_D_O_S__c</field>
            <value>
                <elementReference>formula_17_myRule_16_A1_9985702248</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>aesb</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LinkedDeal(D/O/S)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Deal__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LinkedDeal_D_O_S__c</field>
            <value>
                <elementReference>formula_20_myRule_19_A1_4977524010</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Name</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Component Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_9946706895</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>name__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_1044319112</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_22_A1</name>
        <label>s/o</label>
        <locationX>2200</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LinkedDeal(D/O/S)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Deal__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LinkedDeal_D_O_S__c</field>
            <value>
                <elementReference>formula_23_myRule_22_A1_1326774852</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>air up deal id</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LinkedDeal(D/O/S)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Deal__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LinkedDeal_D_O_S__c</field>
            <value>
                <elementReference>formula_26_myRule_25_A1_6588014295</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_28_A1</name>
        <label>City deal Id</label>
        <locationX>2800</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LinkedDeal(D/O/S)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Deal__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LinkedDeal_D_O_S__c</field>
            <value>
                <elementReference>formula_29_myRule_28_A1_8895793224</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Iso Code</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Currency ISO Code</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>myVariable_current.Product_FX_Pricing__r.To_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Component__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>populate Deal linking lookup</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LinkedDeal(D/O/S)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Deal__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LinkedDeal_D_O_S__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_2062080003</elementReference>
            </value>
        </inputAssignments>
        <object>Component__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Component__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Component__c</objectType>
    </variables>
</Flow>
